templates/lead-generation/10598-build-a-telegram-subscription-gate-with-lead-magnet-and-upsell-sequence/workflow.json
{
  "id": "fwrMTM58ad7FnfaP",
  "meta": {
    "instanceId": "9922c7f38c5e1ade904c6ff426bbbe745d59e78d84a3d4ffcde55543d540426b"
  },
  "name": "\ud83c\udfaf Telegram Lead Magnet - Subscription Gate with Upsell Branch",
  "tags": [
    {
      "id": "dY7Ra2yfdV4B8rBz",
      "name": "Nikolenko.Club",
      "createdAt": "2025-09-01T20:25:53.775Z",
      "updatedAt": "2025-09-01T20:25:53.775Z"
    },
    {
      "id": "O5AySGWl8YHpYsUT",
      "name": "TG @nikolenkoclub",
      "createdAt": "2025-10-12T12:03:14.104Z",
      "updatedAt": "2025-10-12T12:03:14.104Z"
    },
    {
      "id": "2GI1CjlTGDxA7AU0",
      "name": "Telegram",
      "createdAt": "2025-11-06T15:02:15.844Z",
      "updatedAt": "2025-11-06T15:02:15.844Z"
    },
    {
      "id": "WA7hUMhosMBbmE7p",
      "name": "Golem.Agency",
      "createdAt": "2025-11-06T15:01:59.312Z",
      "updatedAt": "2025-11-06T15:02:51.662Z"
    }
  ],
  "nodes": [
    {
      "id": "fa66c5ac-228d-4880-b19c-bffd767fab7f",
      "name": "\u274c Subscription Check Failed | \u041f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0430 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438 \u043d\u0435 \u0432\u0434\u0430\u043b\u0430\u0441\u044f2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        816,
        1568
      ],
      "webhookId": "a64910c8-5de1-4c93-b2c5-c1079fca122c",
      "parameters": {
        "text": "=\ud83d\ude14 \u041d\u0430 \u0436\u0430\u043b\u044c \u0432\u0430\u0441 \u043d\u0435\u043c\u0430\u0454 \u0441\u0435\u0440\u0435\u0434 \u043f\u0456\u0434\u043f\u0438\u0441\u043d\u0438\u043a\u0456\u0432 \u043d\u0430 \u043a\u0430\u043d\u0430\u043b: \n[NIKOLENKO.CLUB | \u0421\u0443\u0447\u0430\u0441\u043d\u0435 \u041f\u0456\u0434\u043f\u0440\u0438\u0454\u043c\u043d\u0438\u0446\u0442\u0432\u043e](https://t.me/+BXlg2UcAOUo0YjFi).\n\n\u0429\u043e\u0431 \u043e\u0442\u0440\u0438\u043c\u0430\u0442\u0438 \u0431\u043e\u043d\u0443\u0441 \u043f\u043e\u0442\u0440\u0456\u0431\u043d\u043e \u0437\u0440\u043e\u0431\u0438\u0442\u0438 \u0437\u0430\u0440\u0430\u0437:\n1. \u041f\u0435\u0440\u0435\u0439\u0434\u0456\u0442\u044c \u0437\u0430 \u043f\u043e\u0441\u0438\u043b\u0430\u043d\u043d\u044f\u043c \u0432\u0438\u0449\u0435 \u0456 \u043d\u0430\u0442\u0438\u0441\u043d\u0456\u0442\u044c \u00ab\u041f\u0440\u0438\u0454\u0434\u043d\u0430\u0442\u0438\u0441\u044f\u00bb.\n2. \u041d\u0430\u0442\u0438\u0441\u043d\u0456\u0442\u044c \u043d\u0430\u0437\u0430\u0434 \"<\". \u041f\u043e\u0432\u0435\u0440\u043d\u0435\u0442\u0435\u0441\u044c \u0434\u043e \u0446\u044c\u043e\u0433\u043e \u0431\u043e\u0442\u0430.\n3. \u041d\u0430\u0442\u0438\u0441\u043d\u0456\u0442\u044c \u043a\u043d\u043e\u043f\u043a\u0443 \u00ab\ud83d\udd01 \u0421\u043f\u0440\u043e\u0431\u0443\u0432\u0430\u0442\u0438 \u0449\u0435 \u0440\u0430\u0437\u00bb, \u0449\u043e\u0431 \u0437\u0430\u043f\u0443\u0441\u0442\u0438\u0442\u0438 \u043f\u043e\u0432\u0442\u043e\u0440\u043d\u0443 \u043f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0443.",
        "chatId": "={{ $json.result.user.id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83d\udd01 \u0421\u043f\u0440\u043e\u0431\u0443\u0432\u0430\u0442\u0438 \u0449\u0435 \u0440\u0430\u0437",
                    "additionalFields": {
                      "callback_data": "check_subscription"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "33a9d5c8-6618-4b1b-80c1-4c48b333754a",
      "name": "\ud83d\udd27 Extract User & Callback Data | \u0412\u0438\u0442\u044f\u0433 \u0434\u0430\u043d\u0438\u0445 \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u04302",
      "type": "n8n-nodes-base.code",
      "position": [
        -128,
        1408
      ],
      "parameters": {
        "jsCode": "const update = $input.first().json;\nconst userId = update.message?.from?.id\n  || update.callback_query?.from?.id\n  || update.result?.chat?.id\n  || update.result?.from?.id;\nconst callbackId = update.callback_query?.id || null;\nif (!userId) {\n  throw new Error('\u041d\u0435 \u0432\u0434\u0430\u043b\u043e\u0441\u044f \u0432\u0438\u0437\u043d\u0430\u0447\u0438\u0442\u0438 \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u0430 \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0438 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438.'); //text mes in your language\n}\n\nreturn [{\n  json: {\n    user_id: userId,\n    chat_id: '-1+1234567890', // For private channels, use the full numeric ID starting with -100 or id ex:nikolenkoclub\n    callback_query_id: callbackId\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "2b7b6606-1cf4-471d-b9cb-b98505dbc79e",
      "name": "\ud83c\udf10 Check Telegram Subscription | \u041f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0430 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438 \u0432 \u0422\u0435\u043b\u0435\u0433\u0440\u0430\u043c2",
      "type": "n8n-nodes-base.httpRequest",
      "disabled": true,
      "position": [
        176,
        1264
      ],
      "parameters": {
        "url": "https://api.telegram.org/botINPUTYOURTOKENBOT@BOTFATHER/getChatMember",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "4ad4918f-9ebf-4606-af3b-dbbc2f8a6041",
      "name": "\u2705 Acknowledge Button Click | \u041f\u0456\u0434\u0442\u0432\u0435\u0440\u0434\u0436\u0435\u043d\u043d\u044f \u043d\u0430\u0442\u0438\u0441\u043a\u0430\u043d\u043d\u044f \u043a\u043d\u043e\u043f\u043a\u04382",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        1232
      ],
      "parameters": {
        "url": "=https://api.telegram.org/botINPUTYOURTOKEN@BOTFATHER/answerCallbackQuery",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "callback_query_id",
              "value": "={{ $json.callback_query.id }}"
            },
            {
              "name": "text",
              "value": "\u041f\u0435\u0440\u0435\u0432\u0456\u0440\u044f\u0454\u043c\u043e \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0443\u2026 (Text community Language) | Checking subscription..."
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "c0a4ffc1-f0b8-447d-b8c5-9723c72ca364",
      "name": "\u2753 Is Subscription Check Request? | \u0417\u0430\u043f\u0438\u0442 \u043d\u0430 \u043f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0443 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438?2",
      "type": "n8n-nodes-base.if",
      "position": [
        -736,
        1408
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "callback-check",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.callback_query?.data }}",
              "rightValue": "check_subscription"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "d54d9dea-6de9-4210-82a9-c73d63570881",
      "name": "\ud83d\udd14 Telegram Message Trigger | \u0422\u0440\u0438\u0433\u0435\u0440 \u043f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u044c \u0422\u0435\u043b\u0435\u0433\u0440\u0430\u043c2",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1040,
        1408
      ],
      "webhookId": "7d4f7d11-86f3-4d7a-9534-0e114ce48b17",
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "82463f58-ffcf-434e-bc38-150776fb7bc5",
      "name": "\ud83d\udcc8 Upsell/CrossSell/DownSell System | \u0421\u0438\u0441\u0442\u0435\u043c\u0430 \u0434\u043e\u043f\u0440\u043e\u0434\u0430\u0436\u0456\u04322",
      "type": "n8n-nodes-base.telegram",
      "position": [
        32,
        1696
      ],
      "webhookId": "a82c0b83-edde-43d5-94f4-26dbfe39af34",
      "parameters": {
        "text": "=\u270b \u0412\u0456\u0442\u0430\u044e! \u041d\u0430 \u0437\u02bc\u0432\u044f\u0437\u043a\u0443 \u0406\u0433\u043e\u0440 \u041d\u0456\u043a\u043e\u043b\u0435\u043d\u043a\u043e\n\n- \u0423 \u043f\u0440\u043e\u0444\u0435\u0441\u0456\u0439\u043d\u043e\u043c\u0443 Digital'\u0456 \u0437 2008 \u0440\u043e\u043a\u0443.\n- \u041c\u0456\u0436\u043d\u0430\u0440\u043e\u0434\u043d\u0430 \u0435\u043a\u043e\u043d\u043e\u043c\u0456\u043a\u0430, \u0442\u0435\u0445\u043d\u0456\u0447\u043d\u0430 \u0442\u0430 \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0441\u044c\u043a\u0456 \u0432\u0438\u0449\u0456 \u043e\u0441\u0432\u0456\u0442\u0438\n- \u041c\u0430\u0440\u043a\u0435\u0442\u043e\u043b\u043e\u0433 \u0456 digital-\u0441\u0442\u0440\u0430\u0442\u0435\u0433. CEO/CMO/CRO.\n- \u0417\u0430\u0439\u043c\u0430\u044e\u0441\u044c \u0440\u043e\u0437\u0440\u043e\u0431\u043a\u043e\u044e Digital-\u043c\u0430\u0440\u043a\u0435\u0442\u0438\u043d\u0433 \u0441\u0442\u0440\u0430\u0442\u0435\u0433\u0456\u0439 \u0442\u0430 \u0432\u043f\u0440\u043e\u0432\u0430\u0434\u0436\u0435\u043d\u043d\u044f\u043c \u0457\u0445 \u0443 \u0436\u0438\u0442\u0442\u044f.\n- \u0423 \u043f\u043e\u0432\u043d\u043e\u043c\u0443 \u0446\u0438\u043a\u043b\u0456 \u0432\u0456\u0434 \u0456\u0434\u0435\u0457 \u0434\u043e \u043f\u0440\u0438\u0441\u0443\u0442\u043d\u043e\u0441\u0442\u0456 \u0443 Digital. \n\n\u041c\u0430\u044e \u0432\u043b\u0430\u0441\u043d\u0456 \u043f\u0440\u043e\u0454\u043a\u0442\u0438 \u0437 \u0430\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0437\u0430\u0446\u0456\u0457 \u043c\u0430\u0440\u043a\u0435\u0442\u0438\u043d\u0433\u0443!\n\n\ud83d\udcaa \u042f\u043a\u0449\u043e \u0432\u0438 \u043e\u0442\u0440\u0438\u043c\u0430\u043b\u0438 \u0431\u043e\u043d\u0443\u0441, \u0442\u043e \u0432\u0436\u0435 \u043f\u0456\u0434\u043f\u0438\u0441\u0430\u043d\u0456 \u043d\u0430 \u043c\u0456\u0439 \u043a\u0430\u043d\u0430\u043b\n\n[NIKOLENKO.CLUB | \u0421\u0443\u0447\u0430\u0441\u043d\u0435 \u043f\u0456\u0434\u043f\u0440\u0438\u0454\u043c\u043d\u0438\u0446\u0442\u0432\u043e](https://t.me/nikolenkoclub) - \u0426\u0435 \u043a\u0440\u0443\u0442\u043e, \u0456 \u043e\u0441\u044c \u0447\u043e\u043c\u0443!\n\n\ud83d\udc47 \u0422\u0443\u0442 \u043f\u0440\u043e\u0434\u043e\u0432\u0436\u0435\u043d\u043d\u044f",
        "chatId": "={{ $json.message.chat.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "9287e559-4c34-4b9f-9cd3-9bd3fdb2cfcb",
      "name": "\ud83c\udf81 Premium Offer Message | \u041f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u043d\u044f \u043f\u0440\u0435\u043c\u0456\u0443\u043c \u043f\u0440\u043e\u043f\u043e\u0437\u0438\u0446\u0456\u04572",
      "type": "n8n-nodes-base.telegram",
      "position": [
        816,
        1904
      ],
      "webhookId": "bf77222b-bd91-4ab8-b9c7-d542a8c27f12",
      "parameters": {
        "text": "=\ud83d\ude80 \u042f\u043a \u0456 \u043e\u0431\u0456\u0446\u044f\u0432 \u0441\u043f\u0435\u0446\u0456\u0430\u043b\u044c\u043d\u0438\u0439 \u0434\u043e\u0441\u0442\u0443\u043f: \n\n\u2705 [\u0414\u041e \u0428\u0410\u0411\u041b\u041e\u041d\u0423 N8N \u0417 \u041f\u041e\u0412\u041d\u041e\u042e \u0406\u041d\u0421\u0422\u0420\u0423\u041a\u0426\u0406\u0404\u042e!](https://t.me/leadmagnetgatebot)\n\n\ud83d\udc46 \u042f\u043a\u0438\u0439 \u0432\u0438 \u043c\u043e\u0436\u0435\u0442\u0435 \u043d\u0430\u043b\u0430\u0433\u043e\u0434\u0438\u0442\u0438 \u0437\u0430 10 \u0445\u0432\u0438\u043b\u0438\u043d \u0456 \u043f\u0456\u0434\u0456\u0439\u043c\u0430\u0442\u0438 \u043a\u0456\u043b\u044c\u043a\u0456\u0441\u0442\u044c \u0441\u0432\u043e\u0457\u0445 \u043f\u0456\u0434\u043f\u0438\u0441\u043d\u0438\u043a\u0456\u0432 \u0449\u043e\u0434\u043d\u044f.\n\n\u0426\u0435 \u043e\u043a\u0440\u0435\u043c\u0438\u0439 \u0431\u043e\u0442.\n\n\u0412\u0441\u0435 \u0431\u0443\u0434\u0435 \u0432\u0441\u0435\u0440\u0435\u0434\u0435\u043d\u0456 \u0456 \u043d\u0430\u0432\u0456\u0442\u044c \u0456\u043d\u0441\u0442\u0440\u0443\u043a\u0446\u0456\u044f \u043a\u0443\u0434\u0438 \u0446\u0435 \u0432\u0441\u0435 \u0432\u043f\u0440\u043e\u0432\u0430\u0434\u0436\u0443\u0432\u0430\u0442\u0438 \u0442\u0430 \u043d\u0430\u043b\u0430\u0448\u0442\u043e\u0432\u0443\u0432\u0430\u0442\u0438) \u0421\u0443\u043f\u0435\u0440 ? - \u042f \u0433\u0430\u0434\u0430\u044e \u0442\u0430\u043a.\n\nP.S. \u0414\u0456\u0439\u0442\u0435 - \u0443\u0441\u043f\u0456\u0445 \u043b\u044e\u0431\u0438\u0442\u044c \u0440\u0456\u0448\u0443\u0447\u0438\u0445 \u043b\u044e\u0434\u0435\u0439!\n",
        "chatId": "={{ $('\u2753 Is /ok Command? | \u041a\u043e\u043c\u0430\u043d\u0434\u0430 /more?2').item.json.message.chat.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "bd37adad-c2c8-4004-928d-10be039e282d",
      "name": "\ud83d\udd12 Lock Permissions | \u0411\u043b\u043e\u043a\u0443\u0432\u0430\u043d\u043d\u044f \u0434\u043e\u0437\u0432\u043e\u043b\u0456\u04322",
      "type": "n8n-nodes-base.telegram",
      "position": [
        32,
        2016
      ],
      "webhookId": "419cc8ba-aacc-4871-9248-865af817fd9d",
      "parameters": {
        "text": "=\u0417\u0430\u043f\u0440\u043e\u0441\u0438\u0442\u0438 \u0434\u043e\u0441\u0442\u0443\u043f \u0434\u043e \u0411\u043e\u043d\u0443\u0441\u043d\u0438\u0445 800 \u0413\u0440\u0438\u0432\u0435\u043d\u044c \u0434\u043b\u044f \u0441\u0435\u0440\u0432\u0456\u0441\u0443 SendPulse",
        "chatId": "={{ $json.message.from.id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83d\udd13 \u041e\u0442\u0440\u0438\u043c\u0430\u0442\u0438 \u0434\u043e\u0441\u0442\u0443\u043f",
                    "additionalFields": {
                      "callback_data": "check_subscription"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "64e7423e-2c31-4ae3-af8a-d3fda69ace06",
      "name": "\u2705 Subscription Confirmed - Send Lead Magnet | \u041f\u0456\u0434\u043f\u0438\u0441\u043a\u0430 \u043f\u0456\u0434\u0442\u0432\u0435\u0440\u0434\u0436\u0435\u043d\u04302",
      "type": "n8n-nodes-base.telegram",
      "position": [
        816,
        1296
      ],
      "webhookId": "a64910c8-5de1-4c93-b2c5-c1079fca122c",
      "parameters": {
        "text": "=\u2705 \u0421\u0443\u043f\u0435\u0440, \u0432\u0438 \u043f\u0456\u0434\u043f\u0438\u0441\u0430\u043d\u0456!\n\n\ud83d\udcc2 \u041f\u043e\u0441\u0438\u043b\u0430\u043d\u043d\u044f \u0449\u043e\u0431 \u043e\u0442\u0440\u0438\u043c\u0430\u0442\u0438 800 \u0413\u0440\u043d:\n\n[\u041a\u041b\u0406\u041a \u0421\u042e\u0414\u0418 - 800 UAH SendPulse](https://sendpulse.com?p=690372f061232&coupon=NIKOLENKO)\n\n\ud83d\udc46 \u0429\u043e \u043f\u0456\u0441\u043b\u044f \u043d\u0430\u0442\u0438\u0441\u043a\u0430\u043d\u043d\u044f \ud83d\udc46:\n\n1. \u041f\u0435\u0440\u0435\u0445\u0456\u0434 \u043d\u0430 \u0441\u0442\u043e\u0440\u0456\u043d\u043a\u0443 \u0441\u0435\u0440\u0432\u0456\u0441\u0443. \u041a\u043b\u0456\u043a\u043d\u0443\u0442\u0438 \u043d\u0430 \"\u0410\u043a\u0442\u0438\u0432\u0443\u0432\u0430\u0442\u0438 \u043a\u0443\u043f\u043e\u043d\"\n2. \u0417\u0430\u0440\u0435\u0454\u0441\u0442\u0440\u0443\u0432\u0430\u0442\u0438\u0441\u044f \u0443 \u0441\u0435\u0440\u0432\u0456\u0441\u0456\n3. \u0411\u043e\u043d\u0443\u0441 \u0431\u0443\u0434\u0435 \u043c\u0438\u0442\u0442\u0454\u0432\u043e \u0434\u043e\u0434\u0430\u043d\u0438\u0439 \u043d\u0430 \u0431\u0430\u043b\u0430\u043d\u0441 \u043e\u0431\u043b\u0456\u043a\u043e\u0432\u043e\u0433\u043e \u0437\u0430\u043f\u0438\u0441\u0443 \u0442\u0430 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u0438\u0439 \u0434\u043b\u044f \u043e\u043f\u043b\u0430\u0442\u0438 \u0442\u0430\u0440\u0438\u0444\u043d\u0438\u0445 \u043f\u043b\u0430\u043d\u0456\u0432 \u0443 \u0441\u0435\u0440\u0432\u0456\u0441\u0456 \u043f\u0456\u0441\u043b\u044f \u0440\u0435\u0454\u0441\u0442\u0440\u0430\u0446\u0456\u0457.\n\n\ud83d\ude09 \u0425\u043e\u0447\u0435\u0442\u0435 \u043e\u0442\u0440\u0438\u043c\u0430\u0442\u0438 \u0448\u0430\u0431\u043b\u043e\u043d \u0442\u0430\u043a\u043e\u0433\u043e \u0431\u043e\u0442\u0430 \u0434\u043b\u044f \u0441\u0432\u043e\u0433\u043e \u043a\u0430\u043d\u0430\u043b\u0443 \u0456 \u0437\u0440\u043e\u0441\u0442\u0430\u0442\u0438 \u043a\u043e\u0436\u043d\u043e\u0433\u043e \u0434\u043d\u044f \u0443 \u043f\u0456\u0434\u043f\u0438\u0441\u043d\u0438\u043a\u0430\u0445?\n\n\u041d\u0456\u044f\u043a\u0438\u0445 \u043e\u043f\u043b\u0430\u0442! \n\n\u0426\u0435 \u0411\u0435\u0437\u043a\u043e\u0448\u0442\u043e\u0432\u043d\u043e \u0437 \u0456\u043d\u0441\u0442\u0440\u0443\u043a\u0446\u0456\u0454\u044e \u0432\u043f\u0440\u043e\u0434\u0436\u0435\u043d\u043d\u044f \u0442\u0430 \u043d\u0430\u043b\u0430\u0433\u043e\u0434\u0436\u0435\u043d\u043d\u044f\u043c \u043f\u0456\u0434 \u0441\u0435\u0431\u0435. \u042f\u043a \u0412\u0430\u043c?\n\u041f\u0438\u0448\u0456\u0442\u044c \u0443 \u0447\u0430\u0442 \u043a\u043e\u043c\u0430\u043d\u0434\u0443 /more \u0430\u0431\u043e \u043a\u043b\u0456\u043a\u0430\u0439 \u043d\u0430 \u043d\u0435\u0457 \u0437\u0430\u0440\u0430\u0437\n\n",
        "chatId": "={{ $json.result.user.id }}",
        "forceReply": {
          "force_reply": false
        },
        "replyMarkup": "forceReply",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "1277f530-391c-47a6-a6be-cdf1206b25dd",
      "name": "\u2705 Is User Subscribed? | \u041a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447 \u043f\u0456\u0434\u043f\u0438\u0441\u0430\u043d\u0438\u0439?2",
      "type": "n8n-nodes-base.if",
      "position": [
        512,
        1408
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "bc3e5772-ccb8-4660-a941-88529652476c",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{$json.result.status}}",
              "rightValue": "member"
            },
            {
              "id": "687eb5d8-9b10-4799-8dad-5cec8b3b34bc",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{$json.result.status}}",
              "rightValue": "administrator"
            },
            {
              "id": "e502a909-a7d2-488e-9a0b-4f5abc209623",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{$json.result.status}}",
              "rightValue": "creator"
            },
            {
              "id": "restricted-member",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{$json.result.status}}",
              "rightValue": "restricted"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "a35f20a6-88c2-4906-9442-5f59fac592a3",
      "name": "\ud83d\udd10 Bot Configuration | \u041d\u0430\u043b\u0430\u0448\u0442\u0443\u0432\u0430\u043d\u043d\u044f \u0431\u043e\u0442\u04301",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        160
      ],
      "parameters": {
        "color": 3,
        "width": 556,
        "height": 1032,
        "content": "# \ud83d\udd10 Bot Configuration Requirements\n\n## \ud83e\udd16 Telegram Bot Setup for Private Channels\n\nTo use this workflow with private channels, your bot must be properly configured:\n\n### 1. **Bot as Channel Administrator**\n- Go to your private channel\n- Click \"Manage Channel\" > \"Administrators\"\n- Add your bot as an administrator\n- Grant these essential permissions:\n  \u2705 **Read messages** (required for getChatMember)\n  \u2705 **View channel members** (required for subscription checks)\n  \u2705 **Post messages** (optional, for sending content)\n\n### 2. **Channel ID Format**\nFor private channels, use the full numeric ID:\n- \u274c Public channel: `@channelname`\n- \u2705 Private channel: `-1001234567890`\n\nHow To get your private channel ID:\n1. Forward a message from your channel to  [@getidsbot](https://t.me/getidsbot)\n2. Or send your channel invite link to [@getidsbot](https://t.me/getidsbot)\n3. The bot will return the full numeric ID\n\n### 3. **Bot Token Security**\n- Store your bot token securely in n8n credentials\n- Never hardcode tokens in workflow nodes\n- Use credential references like `{{ $credentials.telegramApi.token }}`\n\n### 4. **Permission Troubleshooting**\nIf subscription checks fail:\n- Verify bot is still an admin\n- Check that \"Read messages\" permission is enabled\n- Confirm channel ID format is correct (-100 prefix)\n- Test manually with:\n  `curl \"https://api.telegram.org/bot{TOKEN}/getChatMember?chat_id=-1001234567890&user_id=123456\"`\n"
      },
      "typeVersion": 1
    },
    {
      "id": "e9643a5e-ca29-4aa8-8ddd-b98fc5dba13c",
      "name": "\ud83d\udcda Workflow Documentation | \u0414\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0456\u044f \u0432\u043e\u0440\u043a\u0444\u043b\u043e\u04432",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2480,
        672
      ],
      "parameters": {
        "color": 5,
        "width": 656,
        "height": 1212,
        "content": "# \ud83c\udfaf Telegram Lead Magnet - Subscription Gate with UpSell Branch\n\n## \ud83d\udccb Overview\nThis workflow implements a subscription gate for a Telegram lead magnet campaign. Users must subscribe to a Telegram channel before they can access the lead magnet (e.g., a free resource, discount code, or exclusive content).\n\n## \ud83c\uddfa\ud83c\udde6 \u0423\u043a\u0440\u0430\u0457\u043d\u0441\u044c\u043a\u043e\u044e\n\u0426\u0435\u0439 \u0432\u043e\u0440\u043a\u0444\u043b\u043e\u0443 \u0440\u0435\u0430\u043b\u0456\u0437\u0443\u0454 \u0448\u043b\u044e\u0437 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438 \u0434\u043b\u044f \u043a\u0430\u043c\u043f\u0430\u043d\u0456\u0457 \u043b\u0456\u0434-\u043c\u0430\u0433\u043d\u0456\u0442\u0443 \u0432 Telegram. \u041a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u0456 \u043f\u043e\u0432\u0438\u043d\u043d\u0456 \u043f\u0456\u0434\u043f\u0438\u0441\u0430\u0442\u0438\u0441\u044f \u043d\u0430 \u043a\u0430\u043d\u0430\u043b Telegram, \u043f\u0435\u0440\u0448 \u043d\u0456\u0436 \u0437\u043c\u043e\u0436\u0443\u0442\u044c \u043e\u0442\u0440\u0438\u043c\u0430\u0442\u0438 \u0434\u043e\u0441\u0442\u0443\u043f \u0434\u043e \u043b\u0456\u0434-\u043c\u0430\u0433\u043d\u0456\u0442\u0443 (\u043d\u0430\u043f\u0440\u0438\u043a\u043b\u0430\u0434, \u0431\u0435\u0437\u043a\u043e\u0448\u0442\u043e\u0432\u043d\u043e\u0433\u043e \u0440\u0435\u0441\u0443\u0440\u0441\u0443, \u043a\u043e\u0434\u0443 \u0437\u043d\u0438\u0436\u043a\u0438 \u0430\u0431\u043e \u0435\u043a\u0441\u043a\u043b\u044e\u0437\u0438\u0432\u043d\u043e\u0433\u043e \u043a\u043e\u043d\u0442\u0435\u043d\u0442\u0443).\n\u0417\u041d\u0418\u0416\u041a\u0418, \u041a\u0423\u041f\u041e\u041d\u0423, \u0422\u041e\u0429\u041e... \u041c\u043e\u0436\u043d\u0430 \u0434\u043e\u0434\u0430\u0442\u043a\u043e\u0432\u043e \u0437\u0430\u043f\u0440\u043e\u043f\u043e\u043d\u0443\u0432\u0430\u0442\u0438 \u0449\u043e\u0441\u044c \u043a\u0443\u043f\u0438\u0442\u0438 :)\n\n## \ud83c\udfa5 YouTube Video Placement\n[Watch Tutorial Video](https://www.youtube.com/watch?v=example) - ADD Link after Approved Workflow\n## \ud83d\udcdd Workflow Logic\n1. **Trigger** - Listens for Telegram messages and callback queries\n2. **Subscription Check Request** - Determines if user wants to check subscription status\n3. **User Data Extraction** - Extracts user ID and callback data from the message\n4. **Callback Acknowledgment** - Acknowledges button clicks to provide responsive UX\n5. **Telegram API Call** - Checks if user is subscribed to the specified channel\n6. **Subscription Validation** - Validates if user has proper subscription status (member, admin, creator)\n7. **Conditional Routing** - Routes user based on subscription status:\n   - \u2705 Subscribed - Sends lead magnet\n   - \u274c Not Subscribed - Sends subscription instructions\n8. **Upsell Path** - Optional upsell sequence triggered by /ok command\n\n## \ud83d\udee0\ufe0f Configuration Notes\n- Replace `inputyourid` with your actual Telegram channel ID (without @)\n- Replace bot token placeholders with your actual Telegram bot token\n- Update the lead magnet delivery message with your actual file/resource links\n- Customize the upsell/cross-sell content as needed\n\n## \ud83d\udcc8 Use Cases\n- Lead generation for Telegram channels\n- Content gating for exclusive resources\n- Community building through subscription requirements\n- Marketing funnel automation\n"
      },
      "typeVersion": 1
    },
    {
      "id": "5047135b-2f7f-47c2-8dc6-71345bdb5e6f",
      "name": "\ud83d\udcf9 YouTube Integration | \u0406\u043d\u0442\u0435\u0433\u0440\u0430\u0446\u0456\u044f YouTube4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        512
      ],
      "parameters": {
        "color": 6,
        "width": 496,
        "height": 800,
        "content": "# \ud83c\udfac YouTube Video\n\n## \ud83d\udcfa Tutorial Video\n[![Watch Tutorial](https://img.youtube.com/vi/example/maxresdefault.jpg)](https://www.youtube.com/watch?v=example)\n\n## \ud83d\udcd6 Video Description\nThis tutorial video walks through the setup and configuration of this Telegram subscription gate workflow. Learn how to:\n- Configure your Telegram bot\n- Set up the subscription check mechanism\n- Customize messages for your audience\n- Implement bilingual support\n- Add upsell sequences\n\n## \ud83c\uddfa\ud83c\udde6 \u041e\u043f\u0438\u0441 \u0432\u0456\u0434\u0435\u043e\n\u0426\u0435 \u043d\u0430\u0432\u0447\u0430\u043b\u044c\u043d\u0435 \u0432\u0456\u0434\u0435\u043e \u043f\u0440\u043e\u0432\u0435\u0434\u0435 \u0432\u0430\u0441 \u0447\u0435\u0440\u0435\u0437 \u043d\u0430\u043b\u0430\u0448\u0442\u0443\u0432\u0430\u043d\u043d\u044f \u0442\u0430 \u043a\u043e\u043d\u0444\u0456\u0433\u0443\u0440\u0430\u0446\u0456\u044e \u0446\u044c\u043e\u0433\u043e \u0432\u043e\u0440\u043a\u0444\u043b\u043e\u0443 \u0448\u043b\u044e\u0437\u0443 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438 \u0432 Telegram. \u0414\u0456\u0437\u043d\u0430\u0439\u0442\u0435\u0441\u044f, \u044f\u043a:\n- \u041d\u0430\u043b\u0430\u0448\u0442\u0443\u0432\u0430\u0442\u0438 \u0441\u0432\u043e\u0433\u043e Telegram-\u0431\u043e\u0442\u0430\n- \u041d\u0430\u043b\u0430\u0448\u0442\u0443\u0432\u0430\u0442\u0438 \u043c\u0435\u0445\u0430\u043d\u0456\u0437\u043c \u043f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0438 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438\n- \u041d\u0430\u043b\u0430\u0448\u0442\u0443\u0432\u0430\u0442\u0438 \u043f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u043d\u044f \u0434\u043b\u044f \u0432\u0430\u0448\u043e\u0457 \u0430\u0443\u0434\u0438\u0442\u043e\u0440\u0456\u0457\n- \u0420\u0435\u0430\u043b\u0456\u0437\u0443\u0432\u0430\u0442\u0438 \u0434\u0432\u043e\u043c\u043e\u0432\u043d\u0443 \u043f\u0456\u0434\u0442\u0440\u0438\u043c\u043a\u0443\n- \u0414\u043e\u0434\u0430\u0442\u0438 \u043f\u043e\u0441\u043b\u0456\u0434\u043e\u0432\u043d\u043e\u0441\u0442\u0456 \u0434\u043e\u043f\u0440\u043e\u0434\u0430\u0436\u0456\u0432\n\n> \u26a0\ufe0f **Important:** Replace the placeholder YouTube link and thumbnail with your actual tutorial video."
      },
      "typeVersion": 1
    },
    {
      "id": "949e5653-0a39-43ad-b43e-c78656f7c08d",
      "name": "\ud83e\udde0 Logic Explanation | \u041f\u043e\u044f\u0441\u043d\u0435\u043d\u043d\u044f \u043b\u043e\u0433\u0456\u043a\u04382",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        656
      ],
      "parameters": {
        "color": 4,
        "width": 592,
        "height": 1000,
        "content": "# \ud83e\udde0 Node Logic Explanation\n\n## \ud83d\udd14 Telegram Message Trigger\nListens for incoming messages and callback queries from users interacting with the bot.\n\n## \u2753 Subscription Check Request\nDetermines if the user interaction is a request to check their subscription status.\n\n## \ud83d\udd27 User Data Extraction\nExtracts essential user information (ID, callback data) needed for subscription verification.\n\n## \u2705 Callback Acknowledgment\nProvides immediate feedback to users when they click buttons, improving UX.\n\n## \ud83c\udf10 Telegram API Call\nUses Telegram's getChatMember API to verify if a user is subscribed to the channel.\n\n## \u2705 Subscription Validation\nChecks if the user has an acceptable subscription status (member, administrator, creator).\n\n## \ud83d\udd04 Conditional Routing\nRoutes the workflow based on subscription status:\n- Subscribed users receive the lead magnet\n- Non-subscribed users receive instructions\n\n## \ud83d\udcc8 Upsell Sequence\nOptional marketing sequence triggered by the /ok command to engage users further.\n\n## \ud83c\udfaf Bilingual Support\nAll messages are provided in both Ukrainian and English for international reach."
      },
      "typeVersion": 1
    },
    {
      "id": "92c85503-6169-4d88-9f26-bcfd27243e88",
      "name": "\ud83d\udd10 Bot Configuration | \u041d\u0430\u043b\u0430\u0448\u0442\u0443\u0432\u0430\u043d\u043d\u044f \u0431\u043e\u0442\u04302",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -80
      ],
      "parameters": {
        "color": 3,
        "width": 652,
        "height": 1160,
        "content": "# \ud83c\uddfa\ud83c\udde6 \u041d\u0430\u043b\u0430\u0448\u0442\u0443\u0432\u0430\u043d\u043d\u044f \u0431\u043e\u0442\u0430 \u0434\u043b\u044f \u043f\u0440\u0438\u0432\u0430\u0442\u043d\u0438\u0445 \u043a\u0430\u043d\u0430\u043b\u0456\u0432\n## \u0414\u043b\u044f \u0432\u0438\u043a\u043e\u0440\u0438\u0441\u0442\u0430\u043d\u043d\u044f \u0446\u044c\u043e\u0433\u043e \u0432\u043e\u0440\u043a\u0444\u043b\u043e\u0443 \u0437 \u043f\u0440\u0438\u0432\u0430\u0442\u043d\u0438\u043c\u0438 \u043a\u0430\u043d\u0430\u043b\u0430\u043c\u0438, \u0432\u0430\u0448 \u0431\u043e\u0442 \u043f\u043e\u0432\u0438\u043d\u0435\u043d \u0431\u0443\u0442\u0438 \u043d\u0430\u043b\u0435\u0436\u043d\u0438\u043c \u0447\u0438\u043d\u043e\u043c \u043d\u0430\u043b\u0430\u0448\u0442\u043e\u0432\u0430\u043d\u0438\u0439:\n\n### 1. **\u0411\u043e\u0442 \u044f\u043a \u0430\u0434\u043c\u0456\u043d\u0456\u0441\u0442\u0440\u0430\u0442\u043e\u0440 \u043a\u0430\u043d\u0430\u043b\u0443**\n- \u041f\u0435\u0440\u0435\u0439\u0434\u0456\u0442\u044c \u0434\u043e \u0441\u0432\u043e\u0433\u043e \u043f\u0440\u0438\u0432\u0430\u0442\u043d\u043e\u0433\u043e \u043a\u0430\u043d\u0430\u043b\u0443\n- \u041d\u0430\u0442\u0438\u0441\u043d\u0456\u0442\u044c \"\u041a\u0435\u0440\u0443\u0432\u0430\u0442\u0438 \u043a\u0430\u043d\u0430\u043b\u043e\u043c\" > \"\u0410\u0434\u043c\u0456\u043d\u0456\u0441\u0442\u0440\u0430\u0442\u043e\u0440\u0438\"\n- \u0414\u043e\u0434\u0430\u0439\u0442\u0435 \u0441\u0432\u043e\u0433\u043e \u0431\u043e\u0442\u0430 \u044f\u043a \u0430\u0434\u043c\u0456\u043d\u0456\u0441\u0442\u0440\u0430\u0442\u043e\u0440\u0430\n- \u041d\u0430\u0434\u0430\u0439\u0442\u0435 \u0446\u0456 \u043d\u0435\u043e\u0431\u0445\u0456\u0434\u043d\u0456 \u0434\u043e\u0437\u0432\u043e\u043b\u0438:\n  \u2705 **\u0427\u0438\u0442\u0430\u0442\u0438 \u043f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u043d\u044f** (\u043d\u0435\u043e\u0431\u0445\u0456\u0434\u043d\u043e \u0434\u043b\u044f getChatMember)\n  \u2705 **\u041f\u0435\u0440\u0435\u0433\u043b\u044f\u0434\u0430\u0442\u0438 \u0443\u0447\u0430\u0441\u043d\u0438\u043a\u0456\u0432 \u043a\u0430\u043d\u0430\u043b\u0443** (\u043d\u0435\u043e\u0431\u0445\u0456\u0434\u043d\u043e \u0434\u043b\u044f \u043f\u0435\u0440\u0435\u0432\u0456\u0440\u043e\u043a \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438)\n  \u2705 **\u041f\u0443\u0431\u043b\u0456\u043a\u0443\u0432\u0430\u0442\u0438 \u043f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u043d\u044f** (\u043d\u0435\u043e\u0431\u043e\u0432'\u044f\u0437\u043a\u043e\u0432\u043e, \u0434\u043b\u044f \u043d\u0430\u0434\u0441\u0438\u043b\u0430\u043d\u043d\u044f \u043a\u043e\u043d\u0442\u0435\u043d\u0442\u0443)\n\n### 2. **\u0424\u043e\u0440\u043c\u0430\u0442 ID \u043a\u0430\u043d\u0430\u043b\u0443**\n\u0414\u043b\u044f \u043f\u0440\u0438\u0432\u0430\u0442\u043d\u0438\u0445 \u043a\u0430\u043d\u0430\u043b\u0456\u0432 \u0432\u0438\u043a\u043e\u0440\u0438\u0441\u0442\u043e\u0432\u0443\u0439\u0442\u0435 \u043f\u043e\u0432\u043d\u0438\u0439 \u0447\u0438\u0441\u043b\u043e\u0432\u0438\u0439 ID:\n- \u274c \u041f\u0443\u0431\u043b\u0456\u0447\u043d\u0438\u0439 \u043a\u0430\u043d\u0430\u043b: `@channelname`\n- \u2705 \u041f\u0440\u0438\u0432\u0430\u0442\u043d\u0438\u0439 \u043a\u0430\u043d\u0430\u043b: `-1001234567890`\n\n\u042f\u043a \u043e\u0442\u0440\u0438\u043c\u0430\u0442\u0438 \u0432\u0430\u0448 \u043f\u0440\u0438\u0432\u0430\u0442\u043d\u0438\u0439 ID \u043a\u0430\u043d\u0430\u043b\u0443:\n1. \u041f\u0435\u0440\u0435\u0448\u043b\u0456\u0442\u044c \u043f\u043e\u0441\u0442 \u0430\u0431\u043e \u043f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u043d\u044f \u0437 \u0441\u0432\u043e\u0433\u043e \u043a\u0430\u043d\u0430\u043b\u0443 \u0443 \u0446\u044c\u043e\u0433\u043e \u0431\u043e\u0442\u0430  [@getidsbot](https://t.me/getidsbot)\n2. \u0410\u0431\u043e \u0432\u0456\u0434\u043f\u0440\u0430\u0432\u0442\u0435 \u0432\u0430\u0448 \u0406\u043d\u0432\u0430\u0439\u0442-\u043b\u0456\u043d\u043a [@getidsbot](https://t.me/getidsbot)\n3. \u0411\u043e\u0442 \u0432\u0456\u0434\u043f\u043e\u0432\u0456\u0441\u0442\u044c \u0432\u0430\u043c \u0441\u0442\u0440\u0443\u043a\u0442\u0443\u0440\u043d\u043e \u043f\u043e \u0432\u043d\u0443\u0442\u0440\u0456\u0448\u043d\u0456\u043c ID \u0432\u0430\u0448\u0438\u0445 \u0441\u043f\u0456\u043b\u044c\u043d\u043e\u0442 \u0456 \u043f\u0440\u043e \u0432\u0430\u0448 \u043f\u0435\u0440\u0441\u043e\u043d\u0430\u043b\u044c\u043d\u0438\u0439 \u0430\u043a\u0430\u0443\u043d\u0442 \u0437 \u044f\u043a\u043e\u0433\u043e \u0440\u043e\u0431\u0438\u0432\u0441\u044f \u0437\u0430\u043f\u0438\u0442\n\n### 3. **\u0411\u0435\u0437\u043f\u0435\u043a\u0430 \u0442\u043e\u043a\u0435\u043d\u0430 \u0431\u043e\u0442\u0430**\n- \u0417\u0431\u0435\u0440\u0456\u0433\u0430\u0439\u0442\u0435 \u0442\u043e\u043a\u0435\u043d \u0431\u043e\u0442\u0430 \u0432 \u0431\u0435\u0437\u043f\u0435\u0446\u0456 \u0432 \u043e\u0431\u043b\u0456\u043a\u043e\u0432\u0438\u0445 \u0434\u0430\u043d\u0438\u0445 n8n\n- \u041d\u0456\u043a\u043e\u043b\u0438 \u043d\u0435 \u0437\u0430\u043d\u043e\u0441\u044c\u0442\u0435 \u0442\u043e\u043a\u0435\u043d\u0438 \u0431\u043e\u0442\u0456\u0432 \u0443 \u043d\u043e\u0434\u0438 HTTP \u0432\u043e\u0440\u043a\u0444\u043b\u043e\u0443\n- \u0412\u0438\u043a\u043e\u0440\u0438\u0441\u0442\u043e\u0432\u0443\u0439\u0442\u0435 \u043f\u043e\u0441\u0438\u043b\u0430\u043d\u043d\u044f \u043d\u0430 \u043e\u0431\u043b\u0456\u043a\u043e\u0432\u0456 \u0434\u0430\u043d\u0456, \u044f\u043a `{{ $credentials.telegramApi.token }}`\n\n\u041d\u0430\u043f\u0440\u0438\u043a\u043b\u0430\u0434: \u043f\u0440\u043e\u043a\u0438\u0434\u0430\u0442\u0438 \u043a\u043b\u044e\u0447 \u0432\u0438 \u043c\u043e\u0436\u0435\u0442\u0435 \u0447\u0435\u0440\u0435\u0437 \u043d\u0430\u0437\u0432\u0443 \u0441\u0432\u043e\u0433\u043e \u041f\u0456\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u043d\u044f, \u044f\u043a\u0435 \u0432\u0438 \u0441\u0442\u0432\u043e\u0440\u044e\u0432\u0430\u043b\u0438 \u0443 \u043c\u0435\u043d\u044e n8n. \u0423 \u0432\u0438\u043f\u0430\u0434\u043a\u0443 \u043d\u0430\u0437\u0432\u0438 Credentials \"TG Marketing Bot\", \u0442\u043e \u043d\u0430\u0437\u0432\u0430 \u0431\u0443\u0434\u0435\n{{ $credentials.tgmarketingbot.token }}`\n\n### 4. **\u0412\u0438\u0440\u0456\u0448\u0435\u043d\u043d\u044f \u041f\u0440\u043e\u0431\u043b\u0435\u043c**\n\u042f\u043a \u0431\u043e\u0442 \u043d\u0435 \u043c\u043e\u0436\u0435 \u043d\u043e\u0440\u043c\u0430\u043b\u044c\u043d\u043e \u043f\u0435\u0440\u0435\u0432\u0456\u0440\u0438\u0442\u0438 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0443 \u0456 \u043f\u043e\u043a\u0430\u0437\u0443\u0454 \u043f\u043e\u043c\u0438\u043b\u043a\u0443:\n- \u0423\u043f\u0435\u0432\u043d\u0456\u0442\u044c\u0441\u044f \u0449\u043e \u0432\u0430\u0448 \u0441\u0442\u0432\u043e\u0440\u0435\u043d\u0438\u0439 \u0431\u043e\u0442 admin \u0443 \u043a\u0430\u043d\u0430\u043b\u0456\n- \u041f\u0435\u0440\u0435\u0432\u0456\u0440\u0442\u0435 \u0434\u043e\u0437\u0432\u043e\u043b\u0438 \"Read messages\" \u043c\u0430\u0454 \u0431\u0443\u0442\u0438 enabled\n- \u041f\u0435\u0440\u0435\u0432\u0456\u0440\u0442\u0435 ID \u0444\u043e\u0440\u043c\u0430\u0442 (-100 prefix) \u0456 \u043d\u0435 \u043c\u0430\u0454 \u0437\u0430\u0439\u0432\u0438\u0445 \u043f\u0440\u043e\u0431\u0456\u043b\u0456\u0432\n- \u041f\u0440\u043e\u0442\u0435\u0441\u0442\u0443\u0439\u0442\u0435 \u0443 \u0431\u0440\u0430\u0443\u0437\u0435\u0440\u0456, \u043e\u0441\u044c \u0442\u0430\u043a\u0438\u043c \u0437\u0430\u043f\u0438\u0442\u043e\u043c \u043d\u0430 \u0430\u043a\u0430\u0443\u043d\u0442, \u044f\u043a\u0438\u0439 \u0442\u043e\u0447\u043d\u043e \u0454 \u043f\u0456\u0434\u043f\u0438\u0441\u043d\u0438\u043a\u043e\u043c \u043a\u0430\u043d\u0430\u043b\u0443:\n  `curl \"https://api.telegram.org/botYOURTOKEN@BOTFATHER/getChatMember?chat_id=-1001234567890&user_id=123456\"` - \u0446\u0435 \u0434\u043b\u044f \u043f\u0440\u0438\u0432\u0430\u0442\u043d\u043e\u0433\u043e\n\n  `curl \"https://api.telegram.org/botYOURTOKEN@BOTFATHER/getChatMember?chat_id=@idnamechannel&user_id=123456\"` - \u0446\u0435\u0439 \u0434\u043b\u044f \u043f\u0443\u0431\u043b\u0456\u0447\u043d\u043e\u0433\u043e\n"
      },
      "typeVersion": 1
    },
    {
      "id": "dbc4d086-5b35-40c5-a939-0b87ca87b017",
      "name": "Closed Channel",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        176,
        1504
      ],
      "parameters": {
        "url": "https://api.telegram.org/botINPUTYOURTOKEN@BOTFATHER/getChatMember",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "375aea9c-f162-405e-b1a5-263b368cada8",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        640,
        1824
      ],
      "webhookId": "05b891be-2828-4cf3-a0a1-688d1edb138b",
      "parameters": {
        "amount": 25
      },
      "typeVersion": 1.1
    },
    {
      "id": "f0771da1-eda7-49c9-af36-70d5c8c4f68c",
      "name": "HTTP typing...1",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        416,
        2192
      ],
      "parameters": {
        "url": "https://api.telegram.org/botINPUTYOURTOKEN@BOTFATHER/sendChatAction ",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.result.chat.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": false
    },
    {
      "id": "0fe88f3e-75d6-432c-b00c-04cec5e5d696",
      "name": "\ud83d\udcc8 Upsell/CrossSell/DownSell System | \u0421\u0438\u0441\u0442\u0435\u043c\u0430 \u0434\u043e\u043f\u0440\u043e\u0434\u0430\u0436\u0456\u0432",
      "type": "n8n-nodes-base.telegram",
      "position": [
        432,
        1808
      ],
      "webhookId": "a82c0b83-edde-43d5-94f4-26dbfe39af34",
      "parameters": {
        "text": "=\ud83e\udef5 \u041c\u0456\u0439 \u043a\u0430\u043d\u0430\u043b \u0434\u043e\u043f\u043e\u043c\u043e\u0436\u0435 \u0432\u0430\u043c:\n\n\u2705 \u0423\u043f\u0430\u043a\u0443\u0432\u0430\u0442\u0438 \u0441\u0432\u0456\u0439 \u043f\u0435\u0440\u0441\u043e\u043d\u0430\u043b\u044c\u043d\u0438\u0439 \u0431\u0440\u0435\u043d\u0434 \u0443 \u0441\u0438\u0441\u0442\u0435\u043c\u0443, \u044f\u043a\u0430 \u043a\u043e\u043d\u0432\u0435\u0440\u0442\u0443\u0454 \u0437 $1 \u0443 $5;\n\u2705 \u0411\u0456\u043b\u044c\u0448\u0456\u0441\u0442\u044c \u0456\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0456\u0457 \u0432 \u043a\u0430\u043d\u0430\u043b\u0456 \u0431\u0435\u0437\u043a\u043e\u0448\u0442\u043e\u0432\u043d\u0430;\n\u2705 \u041f\u0440\u043e\u0441\u0442\u043e \u043a\u0443\u043f\u0430 \u0446\u0456\u043d\u043d\u043e\u0457 \u0456\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0456\u0457, \u044f\u043a\u0430 \u043d\u0430\u043a\u043e\u043f\u0438\u0447\u0443\u0432\u0430\u043b\u0430\u0441\u044c \u0437 2008 \u0440\u043e\u043a\u0443\n\u2705 \u042f \u0440\u043e\u0437\u043f\u043e\u0432\u0456\u0434\u0430\u044e \u0431\u0430\u0433\u0430\u0442\u043e \u043f\u0440\u043e \u0428\u0406, \u043c\u0430\u0440\u043a\u0435\u0442\u0438\u043d\u0433, \u0442\u0435\u0445\u043d\u0456\u0447\u043d\u0456 \u043e\u0441\u043e\u0431\u043b\u0438\u0432\u043e\u0441\u0442\u0456 \u0456\u043d\u0441\u0442\u0440\u0443\u043c\u0435\u043d\u0442\u0456\u0432, \u0449\u043e \u0437\u0430\u0437\u0432\u0438\u0447\u0430\u0439 \u043d\u0435 \u0433\u043e\u0432\u043e\u0440\u044f\u0442\u044c \u0443 \u0433\u043e\u043b\u043e\u0441 \ud83d\ude0e\n\n\u041e\u0441\u044c \u0442\u0456\u043b\u044c\u043a\u0438 \u043c\u0430\u043b\u0430 \u0447\u0430\u0441\u0442\u0438\u043d\u0430, \u0449\u043e \u0443 \u043f\u0443\u0431\u043b\u0456\u0447\u043d\u043e\u043c\u0443 \u0434\u043e\u0441\u0442\u0443\u043f\u0456, \u0432\u0441\u0435 \u043f\u0440\u043e\u0441\u0442\u043e \u043d\u0435 \u0432\u043b\u0430\u0437\u0438\u0442\u044c \u0443 \u043f\u043e\u0441\u0442:\n\n[NIKOLENKO.CLUB \u0422\u0443\u0442](https://t.me/nikolenkoclub)\n\n\u0427\u043e\u043c\u0443 \u044f \u0441\u0442\u0432\u043e\u0440\u0438\u0432 \u043a\u0430\u043d\u0430\u043b?\n\n\u042f \u0445\u043e\u0447\u0443, \u0449\u043e\u0431 \u043d\u0430\u0448\u0430 \u0435\u043a\u043e\u043d\u043e\u043c\u0456\u043a\u0430 \u0437\u0440\u043e\u0441\u0442\u0430\u043b\u0430 \u0442\u0430 \u043d\u0430\u0448\u0456 \u043f\u0456\u0434\u043f\u0440\u0438\u0454\u043c\u0446\u0456 \u0431\u0443\u043b\u0438 \u0449\u0435 \u0435\u0444\u0435\u043a\u0442\u0438\u0432\u043d\u0456\u0448\u0438\u043c\u0438 \u043d\u0456\u0436 \u0454 \u0437\u0430\u0440\u0430\u0437 \u0443 \u0442\u0430\u043a\u0438\u0439 \u0434\u043b\u044f \u043d\u0430\u0441 \u0441\u043a\u043b\u0430\u0434\u043d\u0438\u0439 \u0447\u0430\u0441.\n\n\u0412\u0441\u0456 \u0442\u0456 \u0431\u043e\u0440\u0433\u0438, \u044f\u043a\u0456 \u0443 \u043d\u0430\u0441 \u0437\u0430\u0440\u0430\u0437 \u0432 \u041a\u0440\u0430\u0457\u043d\u0456 \u0431\u0443\u0434\u0443\u0442\u044c \u0432\u0456\u0434\u0434\u0430\u0432\u0430\u0442\u0438 \u043d\u0430\u0448\u0456 \u043f\u0440\u0430\u0432\u043d\u0443\u043a\u0438 :) \n\n\ud83e\udd1d \u0422\u043e\u043c\u0443 \u0443 \u043d\u0430\u0441 \u043e\u0434\u043d\u0430 \u0441\u043f\u0456\u043b\u044c\u043d\u0430 \u043c\u0435\u0442\u0430 - \u0441\u0442\u0432\u043e\u0440\u0438\u0442\u0438 \u0442\u0430 \u043f\u0456\u0434\u0442\u0440\u0438\u043c\u0443\u0432\u0430\u0442\u0438 \u0435\u043a\u043e\u043d\u043e\u043c\u0456\u043a\u0443 \u0434\u043b\u044f \u043f\u0440\u043e\u0446\u0432\u0456\u0442\u0430\u044e\u0447\u043e\u0433\u043e \u043c\u0430\u0439\u0431\u0443\u0442\u043d\u044c\u043e\u0433\u043e! \n\n\u041e\u043a\u0440\u0435\u043c\u043e \u0421\u0438\u043b\u044c\u043d\u0456 - \u0420\u0430\u0437\u043e\u043c \u041d\u0435\u043f\u0435\u0440\u0435\u043c\u043e\u0436\u043d\u0456!\n\n\u0413\u043e\u0442\u043e\u0432\u0456 \u0434\u043e \u0432\u043f\u0440\u043e\u0432\u0430\u0434\u0436\u0435\u043d\u043d\u044f Digital-\u0456\u043d\u0441\u0442\u0440\u0443\u043c\u0435\u043d\u0442\u0456\u0432?\n\n\ud83d\udc47 \u0422\u0443\u0442 \u043f\u0440\u043e\u0434\u043e\u0432\u0436\u0435\u043d\u043d\u044f",
        "chatId": "={{ $json.result.chat.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "aa033e56-09bb-4193-b036-fc21ba108423",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        256,
        1760
      ],
      "webhookId": "05b891be-2828-4cf3-a0a1-688d1edb138b",
      "parameters": {
        "amount": 20
      },
      "typeVersion": 1.1
    },
    {
      "id": "fadf45ab-de6a-4c24-baa8-3226849a1336",
      "name": "\u2753 Is /ok Command? | \u041a\u043e\u043c\u0430\u043d\u0434\u0430 /more?2",
      "type": "n8n-nodes-base.if",
      "position": [
        -448,
        1584
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "01c38a50-909a-4fcf-9243-b08a1bec9c2e",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.message?.text || '' }}",
              "rightValue": "/more"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "cd28b96c-e058-42ee-a6be-5622c672a338",
      "name": "HTTP typing...",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        640,
        2192
      ],
      "parameters": {
        "url": "https://api.telegram.org/botINPUTYOURTOKEN@BOTFATHER/sendChatAction ",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.result.chat.id }}"
            },
            {
              "name": "action",
              "value": "typing"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": false
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "868dffc5-f84e-4caf-af55-fb5a257ceeb0",
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "\ud83c\udf81 Premium Offer Message | \u041f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u043d\u044f \u043f\u0440\u0435\u043c\u0456\u0443\u043c \u043f\u0440\u043e\u043f\u043e\u0437\u0438\u0446\u0456\u04572",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "\ud83d\udcc8 Upsell/CrossSell/DownSell System | \u0421\u0438\u0441\u0442\u0435\u043c\u0430 \u0434\u043e\u043f\u0440\u043e\u0434\u0430\u0436\u0456\u0432",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Closed Channel": {
      "main": [
        [
          {
            "node": "\u2705 Is User Subscribed? | \u041a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447 \u043f\u0456\u0434\u043f\u0438\u0441\u0430\u043d\u0438\u0439?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2753 Is /ok Command? | \u041a\u043e\u043c\u0430\u043d\u0434\u0430 /more?2": {
      "main": [
        [
          {
            "node": "\ud83d\udcc8 Upsell/CrossSell/DownSell System | \u0421\u0438\u0441\u0442\u0435\u043c\u0430 \u0434\u043e\u043f\u0440\u043e\u0434\u0430\u0436\u0456\u04322",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\ud83d\udd12 Lock Permissions | \u0411\u043b\u043e\u043a\u0443\u0432\u0430\u043d\u043d\u044f \u0434\u043e\u0437\u0432\u043e\u043b\u0456\u04322",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2705 Is User Subscribed? | \u041a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447 \u043f\u0456\u0434\u043f\u0438\u0441\u0430\u043d\u0438\u0439?2": {
      "main": [
        [
          {
            "node": "\u2705 Subscription Confirmed - Send Lead Magnet | \u041f\u0456\u0434\u043f\u0438\u0441\u043a\u0430 \u043f\u0456\u0434\u0442\u0432\u0435\u0440\u0434\u0436\u0435\u043d\u04302",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u274c Subscription Check Failed | \u041f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0430 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438 \u043d\u0435 \u0432\u0434\u0430\u043b\u0430\u0441\u044f2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcc8 Upsell/CrossSell/DownSell System | \u0421\u0438\u0441\u0442\u0435\u043c\u0430 \u0434\u043e\u043f\u0440\u043e\u0434\u0430\u0436\u0456\u0432": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP typing...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcc8 Upsell/CrossSell/DownSell System | \u0421\u0438\u0441\u0442\u0435\u043c\u0430 \u0434\u043e\u043f\u0440\u043e\u0434\u0430\u0436\u0456\u04322": {
      "main": [
        [
          {
            "node": "HTTP typing...1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd27 Extract User & Callback Data | \u0412\u0438\u0442\u044f\u0433 \u0434\u0430\u043d\u0438\u0445 \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u04302": {
      "main": [
        [
          {
            "node": "Closed Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd14 Telegram Message Trigger | \u0422\u0440\u0438\u0433\u0435\u0440 \u043f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u044c \u0422\u0435\u043b\u0435\u0433\u0440\u0430\u043c2": {
      "main": [
        [
          {
            "node": "\u2753 Is Subscription Check Request? | \u0417\u0430\u043f\u0438\u0442 \u043d\u0430 \u043f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0443 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2753 Is Subscription Check Request? | \u0417\u0430\u043f\u0438\u0442 \u043d\u0430 \u043f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0443 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438?2": {
      "main": [
        [
          {
            "node": "\u2705 Acknowledge Button Click | \u041f\u0456\u0434\u0442\u0432\u0435\u0440\u0434\u0436\u0435\u043d\u043d\u044f \u043d\u0430\u0442\u0438\u0441\u043a\u0430\u043d\u043d\u044f \u043a\u043d\u043e\u043f\u043a\u04382",
            "type": "main",
            "index": 0
          },
          {
            "node": "\ud83d\udd27 Extract User & Callback Data | \u0412\u0438\u0442\u044f\u0433 \u0434\u0430\u043d\u0438\u0445 \u043a\u043e\u0440\u0438\u0441\u0442\u0443\u0432\u0430\u0447\u04302",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u2753 Is /ok Command? | \u041a\u043e\u043c\u0430\u043d\u0434\u0430 /more?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83c\udf81 Premium Offer Message | \u041f\u043e\u0432\u0456\u0434\u043e\u043c\u043b\u0435\u043d\u043d\u044f \u043f\u0440\u0435\u043c\u0456\u0443\u043c \u043f\u0440\u043e\u043f\u043e\u0437\u0438\u0446\u0456\u04572": {
      "main": [
        []
      ]
    },
    "\ud83c\udf10 Check Telegram Subscription | \u041f\u0435\u0440\u0435\u0432\u0456\u0440\u043a\u0430 \u043f\u0456\u0434\u043f\u0438\u0441\u043a\u0438 \u0432 \u0422\u0435\u043b\u0435\u0433\u0440\u0430\u043c2": {
      "main": [
        []
      ]
    }
  }
}