templates/content-creation/8096-automated-faq-generator-from-whatsapp-groups-using-gpt-4-and-google-docs/workflow.json
{
  "id": "qZqUptGaNRJhpCSL",
  "meta": {
    "instanceId": "01b3c21040055da927cdacd88650fdf6b378a3eba7221da4c263f074ad09ab91",
    "templateCredsSetupCompleted": true
  },
  "name": "FAQ Communities in Whatsapp",
  "tags": [],
  "nodes": [
    {
      "id": "ef68ee0b-f945-44fe-85d9-30007d67c0b9",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        80,
        -112
      ],
      "parameters": {
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupValue": "user@example.com",
              "lookupColumn": "RemoteJid Grupo"
            },
            {
              "lookupValue": "user@example.com",
              "lookupColumn": "RemoteJid Grupo"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WNX4TNB0AEFXGnBbGYJqz0by9TcHcUd5Z5cH4GsGZ6g/edit#gid=0",
          "cachedResultName": "Log1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1WNX4TNB0AEFXGnBbGYJqz0by9TcHcUd5Z5cH4GsGZ6g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WNX4TNB0AEFXGnBbGYJqz0by9TcHcUd5Z5cH4GsGZ6g/edit?usp=drivesdk",
          "cachedResultName": "Log - Resumo de Grupos Staage"
        },
        "combineFilters": "OR"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "128a027b-e1a7-4771-97dd-71a4342c1c1e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        336,
        -112
      ],
      "parameters": {
        "jsCode": "// Supondo que o input \u00e9 uma lista de mensagens no formato N8N (items)\nconst items = $input.all();\n\n// Fun\u00e7\u00e3o para converter '25/07/2025' em um Date JS\nfunction parseDate(dateStr) {\n  const [day, month, year] = dateStr.split('/');\n  return new Date(`${year}-${month}-${day}`);\n}\n\n// Fun\u00e7\u00e3o para obter o n\u00famero da semana (ISO 8601)\nfunction getWeek(date) {\n  const tempDate = new Date(date.getTime());\n  tempDate.setHours(0, 0, 0, 0);\n  tempDate.setDate(tempDate.getDate() + 4 - (tempDate.getDay() || 7));\n  const yearStart = new Date(tempDate.getFullYear(), 0, 1);\n  const weekNo = Math.ceil((((tempDate - yearStart) / 86400000) + 1) / 7);\n  return `${tempDate.getFullYear()}-W${weekNo}`;\n}\n\n// Agrupar mensagens por semana\nconst weeks = {};\n\nfor (const item of items) {\n  const dataStr = item.json.Data;\n  if (!dataStr) continue;\n  const date = parseDate(dataStr);\n  const week = getWeek(date);\n  if (!weeks[week]) weeks[week] = [];\n  weeks[week].push(item.json.mensagem);\n}\n\n// Compilar blocos por semana\nconst result = Object.entries(weeks).map(([week, mensagens]) => {\n  return {\n    json: {\n      semana: week,\n      bloco: mensagens.join('\\n')\n    }\n  };\n});\n\nreturn result;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "cf249385-49e9-45db-82cc-2eeccadc07a5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        560,
        -112
      ],
      "parameters": {
        "text": "=Semana que est\u00e1 sendo analisada: {{ $json.semana }}\n\nBloco de Mensagens a ser tratado e analisado: {{ $json.bloco }}",
        "options": {
          "systemMessage": "=Identifica\u00e7\u00e3o de D\u00favidas Frequentes\n\nVoc\u00ea \u00e9 um agente de Intelig\u00eancia Artificial especializado em analisar blocos de mensagens de alunos. Sua miss\u00e3o \u00e9 identificar as **principais d\u00favidas, perguntas e questionamentos que se repetem ao longo das conversas**, especialmente aquelas relacionadas a temas recorrentes, como funcionamento do curso, acesso \u00e0 plataforma, grava\u00e7\u00e3o das aulas, entre outros.\n\nAo receber o bloco de mensagens, siga este passo a passo:\n\n1. **Leia atentamente todas as mensagens** buscando identificar padr\u00f5es, perguntas frequentes, repeti\u00e7\u00f5es ou d\u00favidas recorrentes.\n2. **Liste as principais d\u00favidas e perguntas** que apareceram mais de uma vez ou que claramente demonstram ser temas de interesse comum do grupo.\n3. Para cada d\u00favida identificada, escreva:\n    - **Pergunta recorrente** (como ela normalmente aparece na conversa)\n    - **Breve explica\u00e7\u00e3o sobre o tema da d\u00favida**\n    - (Opcional) **Sugest\u00e3o de resposta objetiva** que possa ser utilizada para o FAQ ou comunica\u00e7\u00e3o com alunos.\n\nSeu objetivo \u00e9 gerar uma lista clara e organizada das principais d\u00favidas do grupo, ajudando a equipe a antecipar perguntas e aprimorar a comunica\u00e7\u00e3o.\n\n### Exemplo de sa\u00edda esperada:\n\n**D\u00favida recorrente:** \"Quando a aula vai ser lan\u00e7ada na plataforma?\"\n- Tema: Disponibiliza\u00e7\u00e3o das aulas.\n- Sugest\u00e3o de resposta: \"As aulas ficam dispon\u00edveis na plataforma at\u00e9 24h ap\u00f3s o ao vivo.\"\n\n**D\u00favida recorrente:** \"Onde acesso a Staage One?\"\n- Tema: Acesso \u00e0 plataforma Staage One.\n- Sugest\u00e3o de resposta: \"Voc\u00ea recebe seu acesso por e-mail; procure por 'Seu acesso \u00e0 Staage One chegou!'.\"\n\n**D\u00favida recorrente:** \"A aula de hoje vai ficar gravada?\"\n- Tema: Grava\u00e7\u00e3o das aulas.\n- Sugest\u00e3o de resposta: \"Sim, todas as aulas ao vivo s\u00e3o gravadas e disponibilizadas para reassistir quando quiser.\"\n\n---\n\n**Aja como um analista preciso e organize a resposta sempre em t\u00f3picos, priorizando clareza e objetividade.**\n"
        },
        "promptType": "define"
      },
      "typeVersion": 2.2
    },
    {
      "id": "64e0948a-9449-4087-9f1f-2bcc31eb2752",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        576,
        80
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e5100ac4-7428-4fd9-9ebb-7fe70ed02770",
      "name": "Update a document",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        1024,
        -112
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "={{ $('AI Agent').item.json.output }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "={{ $json.id }}"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "credential-id",
          "name": "googleDocsOAuth2Api Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "0d25df0d-e668-4387-aad4-c1fae9dfaa5e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -176,
        -112
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 6
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "fc505d69-fc20-4d1c-a628-1c46f13be249",
      "name": "Copy file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        864,
        -112
      ],
      "parameters": {
        "name": "Extraction FAQ - Whatsapp Group",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1hAStPci4ZgaXMPbpLRh4U8MxeJUIkul_iYwYzhQVaus",
          "cachedResultUrl": "https://docs.google.com/document/d/1hAStPci4ZgaXMPbpLRh4U8MxeJUIkul_iYwYzhQVaus/edit?usp=drivesdk",
          "cachedResultName": "[TEMPLATE] - AN\u00c1LISE V\u00cdDEO"
        },
        "options": {},
        "operation": "copy"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "credential-id",
          "name": "googleDriveOAuth2Api Credential"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "9ff1927e-ddae-440b-b8b0-da9846d577c8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -192
      ],
      "parameters": {
        "height": 224,
        "content": "## Run Every Week\n**Every Monday 6am**"
      },
      "typeVersion": 1
    },
    {
      "id": "2ca1ffc3-ff3c-4ca1-9db2-99d0894438cc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -192
      ],
      "parameters": {
        "color": 3,
        "height": 224,
        "content": "### Find all messages of that last week\n"
      },
      "typeVersion": 1
    },
    {
      "id": "0aef6072-fcec-4658-9d99-d45b38f6a0df",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -192
      ],
      "parameters": {
        "color": 5,
        "height": 224,
        "content": "### Do \"messages blocks\" and identify the week of those messages\n"
      },
      "typeVersion": 1
    },
    {
      "id": "c8455655-5d4e-41e3-90c3-5cce56a3aa01",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -192
      ],
      "parameters": {
        "color": 4,
        "width": 288,
        "height": 400,
        "content": "### The AI Agent separates de questions and the context about these questions\n"
      },
      "typeVersion": 1
    },
    {
      "id": "3877f1c5-49c5-46da-a516-6ba5c17a5d07",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -192
      ],
      "parameters": {
        "color": 6,
        "width": 320,
        "height": 256,
        "content": "### Copy the template doc. file and create new after that"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "**D\u00favida recorrente:** \"As notas dos cases quando ser\u00e3o divulgadas?\"\n- Tema: Divulga\u00e7\u00e3o das notas e corre\u00e7\u00f5es dos trabalhos/cases.\n- Sugest\u00e3o de resposta: \"As notas geralmente s\u00e3o divulgadas em at\u00e9 duas semanas ap\u00f3s o prazo final de entrega, similar ao processo do GMP.\"\n\n**D\u00favida recorrente:** \"Tem alguma ferramenta que fa\u00e7a repost autom\u00e1tico de Stories quando algu\u00e9m nos marca?\"\n- Tema: Automa\u00e7\u00e3o e repostagem de Stories nas redes sociais.\n- Explica\u00e7\u00e3o: Os alunos querem saber se h\u00e1 uma ferramenta que repost automaticamente Stories nos perfis quando o usu\u00e1rio \u00e9 marcado, visando facilitar a gest\u00e3o de redes.\n- Sugest\u00e3o de resposta: \"Atualmente, as principais ferramentas como MLabs e Manylabs oferecem apenas respostas autom\u00e1ticas, sem repostagem autom\u00e1tica de Stories. H\u00e1 possibilidades de automa\u00e7\u00e3o via n8n ou integra\u00e7\u00f5es customizadas, mas n\u00e3o \u00e9 uma funcionalidade pronta e simples.\"\n\n**D\u00favida recorrente:** \"A mensagem final pode ser encaminhada para WhatsApp ao inv\u00e9s do e-mail?\"\n- Tema: Configura\u00e7\u00e3o de envio de mensagens e notifica\u00e7\u00f5es.\n- Sugest\u00e3o de resposta: \"Por enquanto o envio padr\u00e3o \u00e9 por e-mail, mas estamos avaliando possibilidades de integra\u00e7\u00e3o com WhatsApp para facilitar a comunica\u00e7\u00e3o futuro.\"\n\n**D\u00favida recorrente:** \"H\u00e1 algum tutorial ou ajuda para usar as ferramentas de automa\u00e7\u00e3o e cria\u00e7\u00e3o de cases, como n8n, Sora, Veo3?\"\n- Tema: Apoio para uso das ferramentas e softwares utilizados no curso.\n- Sugest\u00e3o de resposta: \"Sim, estamos preparando materiais e tutoriais, inclusive de automa\u00e7\u00f5es e uso das ferramentas. Fique atento ao canal de comunica\u00e7\u00e3o para novas atualiza\u00e7\u00f5es. Tamb\u00e9m incentivamos que os alunos compartilhem suas experi\u00eancias para ajudar uns aos outros.\"\n\n**D\u00favida recorrente:** \"As aulas ao vivo ficam gravadas para assistir depois?\"\n- Tema: Grava\u00e7\u00e3o e acesso \u00e0s aulas ao vivo.\n- (Embora n\u00e3o explicitamente colocado, a d\u00favida \u00e9 impl\u00edcita no contexto de aprendizado e corre\u00e7\u00e3o)\n- Sugest\u00e3o de resposta: \"Sim, todas as aulas ao vivo ficam gravadas e disponibilizadas na plataforma para que voc\u00ea possa assistir quando quiser.\"\n\n---\n\nObserva\u00e7\u00e3o geral: O bloco de mensagens \u00e9 majoritariamente descontra\u00eddo e motivacional, com muitos coment\u00e1rios sobre o envio e corre\u00e7\u00e3o dos cases, discuss\u00e3o sobre automa\u00e7\u00f5es para redes sociais e agradecimentos pelas aulas. As d\u00favidas mais recorrentes est\u00e3o relacionadas a timing e formato de entrega/corre\u00e7\u00e3o, automa\u00e7\u00f5es para repostagens, e envio de mensagens para canais diferentes (WhatsApp x e-mail)."
        }
      },
      {
        "json": {
          "output": "**Lista das principais d\u00favidas recorrentes identificadas no bloco de mensagens:**\n\n---\n\n**D\u00favida recorrente:** \"Hoje tem aula? / Qual o tema da aula de hoje?\"\n- Tema: Confirma\u00e7\u00e3o e tema das aulas ao vivo.\n- Explica\u00e7\u00e3o: Muitos alunos perguntam se h\u00e1 aula naquele dia, qual o conte\u00fado ou tema da aula, e onde acessar o link da transmiss\u00e3o.\n- Sugest\u00e3o de resposta: \"Confira o cronograma de aulas na plataforma Staage University. As aulas ao vivo geralmente s\u00e3o comunicadas no grupo com o link do Google Meet. Se a aula for um co-learning, esse \u00e9 o formato da atividade.\"\n\n---\n\n**D\u00favida recorrente:** \"As aulas ao vivo ficam gravadas? Onde vejo a grava\u00e7\u00e3o?\"\n- Tema: Disponibilidade e acesso \u00e0s grava\u00e7\u00f5es das aulas.\n- Explica\u00e7\u00e3o: V\u00e1rios alunos perguntam se as aulas ao vivo ficam dispon\u00edveis para reassistir, especialmente quando n\u00e3o conseguem participar ao vivo.\n- Sugest\u00e3o de resposta: \"Nem todas as aulas ao vivo ficam gravadas. Algumas transmiss\u00f5es, como co-learning, podem n\u00e3o ser disponibilizadas posteriormente. Fique atento \u00e0s comunica\u00e7\u00f5es oficiais dentro da plataforma e bloco de avisos para saber quais aulas ter\u00e3o grava\u00e7\u00e3o.\"\n\n---\n\n**D\u00favida recorrente:** \"Como acessar a plataforma Staage University e Staage Docs?\"\n- Tema: Acesso e uso das plataformas e recursos digitais da Staage.\n- Explica\u00e7\u00e3o: Alunos mencionam dificuldades para encontrar ou acessar \u00e1reas da plataforma ou materiais espec\u00edficos (ex: Staage Docs).\n- Sugest\u00e3o de resposta: \"Voc\u00ea recebe o acesso \u00e0 plataforma por e-mail ao se inscrever no curso. Certifique-se de usar o login correto e siga as instru\u00e7\u00f5es na plataforma para navegar entre os m\u00f3dulos, Staage Docs e outros recursos. Em caso de dificuldade, contate o suporte da Staage.\"\n\n---\n\n**D\u00favida recorrente:** \"Como fa\u00e7o para gravar e transcrever minhas aulas e reuni\u00f5es?\"\n- Tema: Ferramentas para grava\u00e7\u00e3o e transcri\u00e7\u00e3o de v\u00eddeos e reuni\u00f5es.\n- Explica\u00e7\u00e3o: Alunos buscam indica\u00e7\u00f5es de ferramentas gratuitas ou eficazes para gravar e transcrever aulas, reuni\u00f5es ou v\u00eddeos para facilitar estudo e revis\u00e3o.\n- Sugest\u00e3o de resposta: \"Recomendamos usar o Google Meet para grava\u00e7\u00e3o e transcri\u00e7\u00e3o integrada. Outros recursos gratuitos incluem OBS Studio para grava\u00e7\u00e3o e ferramentas como Turboscribe para transcri\u00e7\u00e3o gratuita limitada. Avalie o que melhor atende sua necessidade.\"\n\n---\n\n**D\u00favida recorrente:** \"Como fazer v\u00eddeos com IA? Exemplos de prompt, ferramentas e dicas para v\u00eddeo curto?\"\n- Tema: Produ\u00e7\u00e3o de v\u00eddeos com intelig\u00eancia artificial e cria\u00e7\u00e3o de prompts.\n- Explica\u00e7\u00e3o: V\u00e1rios alunos pedem exemplos de prompts, indica\u00e7\u00f5es de ferramentas como Google Flow, Lovart, Veo3, e estrat\u00e9gias para criar v\u00eddeos curtos com IA.\n- Sugest\u00e3o de resposta: \"Use prompts curtos e objetivos em ingl\u00eas, especificando locu\u00e7\u00e3o em portugu\u00eas entre aspas. Ferramentas como Google Flow permitem edi\u00e7\u00e3o de cenas e Lovart ajuda na cria\u00e7\u00e3o, apesar da limita\u00e7\u00e3o de cr\u00e9ditos. Exemplos e dicas podem ser compartilhados no grupo para facilitar o aprendizado coletivo.\"\n\n---\n\n**D\u00favida recorrente:** \"Como integrar o n8n com WhatsApp? Qual ferramenta usar para automa\u00e7\u00e3o?\"\n- Tema: Integra\u00e7\u00e3o do n8n com WhatsApp e uso de automa\u00e7\u00f5es.\n- Explica\u00e7\u00e3o: Alunos querem saber qual ferramenta usar para integrar WhatsApp, qual API, e como automatizar processos utilizando n8n.\n- Sugest\u00e3o de resposta: \"O n8n \u00e9 uma ferramenta flex\u00edvel que permite integra\u00e7\u00e3o via APIs. Para WhatsApp, \u00e9 necess\u00e1rio conectar via API oficial da Meta ou usar provedores autorizados (como Z-API) para minimizar riscos de banimento. Para d\u00favidas t\u00e9cnicas, consulte suporte ou seus instrutores, ou pe\u00e7a ajuda no privado a especialistas no grupo.\"\n\n---\n\n**D\u00favida recorrente:** \"Como funciona o uso de agentes de IA para qualifica\u00e7\u00e3o e atendimento de leads no WhatsApp?\"\n- Tema: Configura\u00e7\u00e3o de agentes IA para qualifica\u00e7\u00e3o de leads, uso de n\u00fameros separados, e integra\u00e7\u00e3o com equipe de vendas.\n- Explica\u00e7\u00e3o: Alunos citam d\u00favidas se devem usar o mesmo n\u00famero para clientes e leads, como passar informa\u00e7\u00f5es qualificados \u00e0 equipe, riscos de bot para clientes antigos etc.\n- Sugest\u00e3o de resposta: \"Recomenda-se usar n\u00fameros separados para leads e clientes para evitar confus\u00e3o e fric\u00e7\u00e3o no atendimento. Ferramentas como Zaia e Chatwoot permitem integra\u00e7\u00e3o, qualifica\u00e7\u00e3o autom\u00e1tica e encaminhamento das informa\u00e7\u00f5es para o time de vendas. Procure tamb\u00e9m validar o consentimento do lead para evitar problemas legais e bloqueios.\"\n\n---\n\n**D\u00favida recorrente:** \"Posso usar os agentes SDR para venda ativa/prospec\u00e7\u00e3o em WhatsApp? H\u00e1 risco de bloqueio?\"\n- Tema: Uso do SDR para prospec\u00e7\u00e3o ativa, riscos de bloqueio, e conformidade com LGPD.\n- Explica\u00e7\u00e3o: Alunos querem saber se podem usar os bots para prospec\u00e7\u00e3o ativa, como evitar bloqueios, e se h\u00e1 restri\u00e7\u00f5es legais.\n- Sugest\u00e3o de resposta: \"Prospectar leads frios via WhatsApp pode gerar den\u00fancias e bloqueios. Usar solu\u00e7\u00f5es como Z-API pode reduzir riscos, mas o ideal \u00e9 garantir o opt-in pr\u00e9vio do lead por meio de landing pages ou intera\u00e7\u00f5es. Sempre respeite a LGPD e evite envio de mensagens n\u00e3o solicitadas.\"\n\n---\n\n**D\u00favida recorrente:** \"O que \u00e9 opt-in e como obter autoriza\u00e7\u00e3o dos leads para contato?\"\n- Tema: Consentimento legal para contato via WhatsApp.\n- Explica\u00e7\u00e3o: Alunos questionam como conseguir autoriza\u00e7\u00e3o para contatar leads e cumprir a LGPD.\n- Sugest\u00e3o de resposta: \"O opt-in \u00e9 a autoriza\u00e7\u00e3o expressa do lead para receber mensagens. Pode ser obtido via formul\u00e1rios em landing pages, e-books, posts interativos com call to action, onde o lead deixa dados e aceita pol\u00edtica de privacidade. \u00c9 fundamental para evitar san\u00e7\u00f5es e bloqueios.\"\n\n---\n\n**D\u00favida recorrente:** \"Como importar cr\u00e9ditos na OpenAI para agentes de IA no n8n?\"\n- Tema: Configura\u00e7\u00e3o de cr\u00e9ditos e contas na OpenAI para uso de IA.\n- Explica\u00e7\u00e3o: Alunos perguntam onde colocar os cr\u00e9ditos, como acessar a \u00e1rea de desenvolvedor para inserir as chaves de API.\n- Sugest\u00e3o de resposta: \"A configura\u00e7\u00e3o dos cr\u00e9ditos \u00e9 feita no painel de desenvolvedor da OpenAI, onde voc\u00ea gera a chave de API. Insira essa chave no n8n para habilitar o uso dos agentes IA. Para instru\u00e7\u00f5es detalhadas, consulte a documenta\u00e7\u00e3o da OpenAI ou pe\u00e7a ajuda no grupo.\"\n\n---\n\n**D\u00favida recorrente:** \"Estou com dificuldade nos v\u00eddeos, quais dicas para melhorar?\"\n- Tema: T\u00e9cnicas para cria\u00e7\u00e3o e edi\u00e7\u00e3o de v\u00eddeos com IA.\n- Explica\u00e7\u00e3o: Dificuldades em usar as ferramentas de v\u00eddeo e em seguir as recomenda\u00e7\u00f5es para prompts e edi\u00e7\u00e3o.\n- Sugest\u00e3o de resposta: \"Para evitar problemas nas cria\u00e7\u00f5es, fa\u00e7a cenas curtas e comandos objetivos. Se precisar, divida v\u00eddeos em partes menores (exemplo de 16 segundos) com roteiro em ingl\u00eas e indica\u00e7\u00e3o da l\u00edngua da locu\u00e7\u00e3o. Teste v\u00e1rias ferramentas, como Google Flow e Lovart, e aproveite os prompts compartilhados no grupo.\"\n\n---\n\n**D\u00favida recorrente:** \"Onde encontro vagas de trabalho na Staage?\"\n- Tema: Oportunidades de emprego e como se candidatar.\n- Explica\u00e7\u00e3o: Alunos buscam vagas abertas e informa\u00e7\u00f5es sobre como se inscrever.\n- Sugest\u00e3o de resposta: \"As vagas abertas na Staage est\u00e3o dispon\u00edveis no site https://v4company.inhire.app/vagas. Para filtrar, digite 'STAAGE' na barra de pesquisa. Atualmente, as vagas s\u00e3o presenciais em Campinas/SP.\"\n\n---\n\n**D\u00favida recorrente:** \"O cronograma de aulas/pilares est\u00e1 dispon\u00edvel? Quando liberam os pr\u00f3ximos m\u00f3dulos?\"\n- Tema: Acesso ao planejamento e estrutura do curso.\n- Explica\u00e7\u00e3o: Alunos perguntam quando sai o cronograma completo, pr\u00f3ximos conte\u00fados e m\u00f3dulos.\n- Sugest\u00e3o de resposta: \"Todo o cronograma com aulas e m\u00f3dulos est\u00e1 dispon\u00edvel na plataforma Staage University. Acompanhe o roadmap oficial e o onboarding ao vivo para atualiza\u00e7\u00f5es. Novos m\u00f3dulos ser\u00e3o liberados conforme o planejamento.\"\n\n---\n\n**D\u00favida recorrente:** \"Como fazer apostilas, books e materiais para apresenta\u00e7\u00e3o de ONG ou projetos?\"\n- Tema: Estrutura\u00e7\u00e3o de materiais institucionais com uso de IA.\n- Explica\u00e7\u00e3o: Aluno pediu ajuda para montar um book objetivo e impactante para captar doadores.\n- Sugest\u00e3o de resposta: \"Use dados e cases impactantes da sua ONG, equilibre texto e imagens para otimizar a comunica\u00e7\u00e3o. Utilize o ChatGPT para elaborar e melhorar o texto, e ferramentas como IA de imagem ou o v0 para criar o design. Inclua informa\u00e7\u00f5es sobre modelos de doa\u00e7\u00e3o e benef\u00edcios fiscais, como dedu\u00e7\u00e3o do IR.\"\n\n---\n\n**D\u00favida recorrente:** \"Como maximizar alcance e seguidores em m\u00eddia social local?\"\n- Tema: Estrat\u00e9gias de marketing para conte\u00fado local e aumento de engajamento.\n- Explica\u00e7\u00e3o: Alunos discutem motiva\u00e7\u00f5es e t\u00e9cnicas para melhorar alcance de conte\u00fados regionais e engajamento.\n- Sugest\u00e3o de resposta: \"Para melhorar alcance, use hashtags estrat\u00e9gicas, aposte em Reels com storytelling e m\u00fasica tend\u00eancia, geolocaliza\u00e7\u00e3o, colabore com outros perfis e poste conte\u00fado compartilh\u00e1vel. Mantenha o engajamento ativo nos primeiros minutos das postagens. Teste diferentes formatos para encontrar o que melhor funciona.\"\n\n---\n\n**D\u00favida recorrente:** \"A aula 'destrava' quando ser\u00e1?\"\n- Tema: Datas e conte\u00fados das aulas programadas.\n- Explica\u00e7\u00e3o: Pergunta sobre o agendamento ou data da aula intitulada 'destrava'.\n- Sugest\u00e3o de resposta: \"Consulte o cronograma oficial na plataforma para as datas confirmadas. Caso a aula ainda n\u00e3o conste, aguarde notifica\u00e7\u00f5es oficiais para atualiza\u00e7\u00f5es ou remarca\u00e7\u00f5es.\"\n\n---\n\n**D\u00favida recorrente:** \"H\u00e1 dicas ou modelos de prompt para agilizar a cria\u00e7\u00e3o e uso de agentes de IA?\"\n- Tema: Otimiza\u00e7\u00e3o e compartilhamento de prompts para IA.\n- Explica\u00e7\u00e3o: Alunos relatam compartilhar e pedir exemplos de prompt para agilizar a cria\u00e7\u00e3o de projetos ou automa\u00e7\u00f5es.\n- Sugest\u00e3o de resposta: \"Prompts simples, claros e espec\u00edficos funcionam melhor. Compartilhe seus prompts no grupo para aprendizado coletivo. Em breve, teremos templates oficiais para facilitar seu uso.\"\n\n---\n\n**D\u00favida recorrente:** \"Como lidar com limita\u00e7\u00f5es e custos das ferramentas de IA (exemplo: cr\u00e9ditos limitados, valores)?\"\n- Tema: Gest\u00e3o de recursos, custos e planos de servi\u00e7os de IA.\n- Explica\u00e7\u00e3o: Alguns relatos mencionam a limita\u00e7\u00e3o de cr\u00e9ditos para v\u00eddeos, assinaturas, ou custos de uso do n8n com IA.\n- Sugest\u00e3o de resposta: \"Aproveite os per\u00edodos gratuitos para testar e aprender. Avalie o custo-benef\u00edcio de cada plataforma e escolha aquela que melhor atende suas necessidades. Pesquise op\u00e7\u00f5es para ampliar cr\u00e9ditos ou subscrever planos pagos, e compartilhe experi\u00eancias para melhores pr\u00e1ticas.\"\n\n---\n\nEssa lista cobre as d\u00favidas que apareceram mais de uma vez ou demonstraram ser temas centrais para os alunos no bloco analisado, fornecendo uma base para aprimorar FAQ e comunica\u00e7\u00e3o."
        }
      },
      {
        "json": {
          "output": "**D\u00favida recorrente:** \"Hoje tem aula? / Quando e a que horas ser\u00e1 a aula ao vivo?\"\n- Tema: Datas, hor\u00e1rios e links das aulas ao vivo.\n- Sugest\u00e3o de resposta: \"As aulas ao vivo acontecem conforme cronograma divulgado. Normalmente \u00e0s 19h. O link da sala \u00e9 compartilhado no grupo no dia e fica fixado. Caso n\u00e3o consiga acessar, pe\u00e7a ajuda ao suporte.\"\n\n**D\u00favida recorrente:** \"A aula de hoje ficar\u00e1 gravada? / Onde posso assistir a grava\u00e7\u00e3o depois?\"\n- Tema: Disponibiliza\u00e7\u00e3o e acesso \u00e0s grava\u00e7\u00f5es das aulas.\n- Sugest\u00e3o de resposta: \"Sim, todas as aulas ao vivo e o onboarding ficam gravados e normalmente dispon\u00edveis na plataforma Staage University em at\u00e9 24 horas ap\u00f3s o evento.\"\n\n**D\u00favida recorrente:** \"Como fa\u00e7o para acessar a Staage University / Staage One? Estou com problemas para logar.\"\n- Tema: Acesso \u00e0 plataforma, credenciais e suporte.\n- Sugest\u00e3o de resposta: \"Voc\u00ea recebe o acesso \u00e0 plataforma por e-mail ap\u00f3s a matr\u00edcula. Caso tenha problemas para acessar, entre em contato imediatamente com o suporte via WhatsApp ou no privado com um dos facilitadores para receber aux\u00edlio.\"\n\n**D\u00favida recorrente:** \"Onde encontro os materiais, aulas e quais trilhas seguir dentro da plataforma?\"\n- Tema: Organiza\u00e7\u00e3o do conte\u00fado e roteiros de estudos.\n- Sugest\u00e3o de resposta: \"Comece pelos materiais do 'Comece Aqui' e as trilhas fundamentais indicadas. As aulas principais do MEP ficam na Staage University, e conte\u00fados adicionais ou avan\u00e7ados podem estar na Staage One. Siga sempre o cronograma fornecido no onboarding.\"\n\n**D\u00favida recorrente:** \"Como criar conta e fazer login no n8n? / Qual link usar para criar login no n8n?\"\n- Tema: Cadastro e uso da ferramenta n8n para automa\u00e7\u00f5es.\n- Sugest\u00e3o de resposta: \"Use o link exclusivo firmado com a Staage: https://n8n.partnerlinks.io/c1a2b7qhcp2d para criar sua conta. Se precisar, crie com um e-mail diferente e fale com os instrutores no privado se enfrentar problemas.\"\n\n**D\u00favida recorrente:** \"Estou com problemas para configurar fluxos e agentes no n8n, principalmente na \u00faltima etapa HTTP request ou no merge de dados.\"\n- Tema: Dificuldades t\u00e9cnicas na configura\u00e7\u00e3o de automa\u00e7\u00f5es.\n- Sugest\u00e3o de resposta: \"Confira se o token de seguran\u00e7a ('Client Token') est\u00e1 correto e se voc\u00ea est\u00e1 usando o m\u00e9todo POST e o corpo JSON adequadamente. Problemas com merge podem ser resolvidos testando modos 'append' ou outras alternativas. Pe\u00e7a ajuda diretamente no grupo ou aos instrutores para an\u00e1lise do erro.\"\n\n**D\u00favida recorrente:** \"Estou iniciando e me sinto perdido com a complexidade das automa\u00e7\u00f5es e IA, onde come\u00e7o?\"\n- Tema: Suporte \u00e0 aprendizagem e organiza\u00e7\u00e3o do ritmo.\n- Sugest\u00e3o de resposta: \"Comece assistindo as aulas b\u00e1sicas da trilha Fundamental e tutoriais iniciais, fa\u00e7a os exerc\u00edcios e cases no seu ritmo. Pergunte d\u00favidas nos grupos e para os professores, todos est\u00e3o aqui para apoiar. A pr\u00e1tica constante vai ajudar a acostumar.\"\n\n**D\u00favida recorrente:** \"Como funciona o envio das notas dos cases? Quando chegam? Posso entregar atrasado?\"\n- Tema: Avalia\u00e7\u00e3o, entrega e prazos dos trabalhos.\n- Sugest\u00e3o de resposta: \"As notas s\u00e3o enviadas ap\u00f3s corre\u00e7\u00e3o dos cases, normalmente via e-mail ou plataforma. A entrega atrasada \u00e9 permitida, mas quem entregar depois perde benef\u00edcios como participar da formatura presencial ou sorteios exclusivos.\"\n\n**D\u00favida recorrente:** \"Qual IA usar para criar conte\u00fados, copys, v\u00eddeos? Qual a melhor ferramenta para o curso?\"\n- Tema: Escolha e uso de ferramentas de intelig\u00eancia artificial.\n- Sugest\u00e3o de resposta: \"O curso recomenda o uso do ChatGPT plus para v\u00e1rias fun\u00e7\u00f5es, mas tamb\u00e9m se utiliza o Claude para conte\u00fados criativos e Gemini para prompts e c\u00f3digos. A escolha depende do seu foco, as aulas ajudam a entender o uso ideal de cada ferramenta.\"\n\n**D\u00favida recorrente:** \"Como funciona o onboarding? Ser\u00e1 ao vivo? Vai ficar gravado? Onde ser\u00e1 realizado?\"\n- Tema: Onboarding ao vivo, organiza\u00e7\u00e3o e grava\u00e7\u00e3o.\n- Sugest\u00e3o de resposta: \"O onboarding \u00e9 realizado ao vivo em data e hor\u00e1rio divulgados (ex: quarta \u00e0s 19h via Google Meet). Ele ficar\u00e1 gravado e dispon\u00edvel na plataforma para quem n\u00e3o puder assistir ao vivo, mas a recomenda\u00e7\u00e3o \u00e9 participar para tirar d\u00favidas.\"\n\n**D\u00favida recorrente:** \"Como fa\u00e7o para conseguir ajuda t\u00e9cnica ou suporte durante o curso?\"\n- Tema: Atendimento e apoio t\u00e9cnico.\n- Sugest\u00e3o de resposta: \"Primeiro, tente resolver no grupo com colegas e facilitadores. Caso precise, entre em contato com o suporte oficial via o n\u00famero disponibilizado na descri\u00e7\u00e3o do grupo ou envie mensagem direta para os instrutores dispon\u00edveis.\"\n\n**D\u00favida recorrente:** \"Como funcionam as integra\u00e7\u00f5es do n8n com Z-API, WhatsApp e outras plataformas? Perco o hist\u00f3rico?\"\n- Tema: Integra\u00e7\u00e3o t\u00e9cnica e funcionalidades.\n- Sugest\u00e3o de resposta: \"Ao integrar com Z-API, seu WhatsApp funciona como Web WhatsApp, e voc\u00ea mant\u00e9m acesso \u00e0 interface e hist\u00f3rico normalmente. As configura\u00e7\u00f5es devem ser feitas no n8n para garantir a correta comunica\u00e7\u00e3o. Consulte as documenta\u00e7\u00f5es e instrutores para detalhes.\"\n\n**D\u00favida recorrente:** \"Quando e como ser\u00e3o liberados os conte\u00fados das trilhas e restantes do curso?\"\n- Tema: Libera\u00e7\u00e3o e organiza\u00e7\u00e3o do conte\u00fado em m\u00f3dulos.\n- Sugest\u00e3o de resposta: \"Os conte\u00fados v\u00e3o sendo liberados progressivamente conforme avan\u00e7o do cronograma, para evitar sobrecarga e manter o foco individual. Ap\u00f3s o onboarding, o acesso completo das trilhas principais ficar\u00e1 dispon\u00edvel na Staage University.\"\n\n**D\u00favida recorrente:** \"O que \u00e9 rotina de uso recomendada para postagem de v\u00eddeos e conte\u00fados? Qual a frequ\u00eancia?\"\n- Tema: Planejamento e consist\u00eancia de postagem.\n- Sugest\u00e3o de resposta: \"As aulas recomendam experimentar postar 10 v\u00eddeos em 7 dias, ou adaptar para 15 dias ou 30 dias. Use IA para verificar o que melhor funciona para sua marca, e priorize a pr\u00e1tica constante sem a preocupa\u00e7\u00e3o de ser perfeito.\"\n\n---\n\nEssas s\u00e3o as principais d\u00favidas comuns identificadas nas mensagens, agrupadas por temas relevantes para comunica\u00e7\u00e3o clara e antecipa\u00e7\u00e3o de questionamentos dos alunos."
        }
      },
      {
        "json": {
          "output": "**Principais D\u00favidas e Questionamentos Recorrentes**\n\n---\n\n**D\u00favida recorrente:** \"Quando ser\u00e1 a pr\u00f3xima aula ao vivo? / Teremos aula hoje?\"\n- Tema: Datas e hor\u00e1rios das aulas ao vivo.\n- Sugest\u00e3o de resposta: \"Verifique o cronograma dispon\u00edvel no material de onboarding na plataforma Staage. As aulas ao vivo s\u00e3o informadas com anteced\u00eancia e seguem datas espec\u00edficas por turma (T1 ou T2).\"\n\n---\n\n**D\u00favida recorrente:** \"A aula de hoje ser\u00e1 gravada? / A aula n\u00e3o ficar\u00e1 dispon\u00edvel ap\u00f3s o ao vivo?\"\n- Tema: Grava\u00e7\u00e3o e disponibiliza\u00e7\u00e3o das aulas ao vivo.\n- Sugest\u00e3o de resposta: \"Nem todas as aulas ao vivo ficam gravadas. Informa\u00e7\u00f5es sobre grava\u00e7\u00e3o s\u00e3o passadas antecipadamente pela equipe. Confira sempre no grupo e e-mails oficiais se uma aula ser\u00e1 gravada e disponibilizada posteriormente.\"\n\n---\n\n**D\u00favida recorrente:** \"Como acesso o material do curso? / Onde encontro as aulas e os exerc\u00edcios?\"\n- Tema: Acesso ao conte\u00fado e materiais de apoio.\n- Sugest\u00e3o de resposta: \"O acesso ao conte\u00fado \u00e9 feito pela plataforma Staage University. O material de onboarding e o cronograma ficam dispon\u00edveis l\u00e1. Exerc\u00edcios s\u00e3o solicitados apenas para casos espec\u00edficos, e o envio deve seguir instru\u00e7\u00f5es da equipe.\"\n\n---\n\n**D\u00favida recorrente:** \"Quando ser\u00e1 liberado o case 2? J\u00e1 foi entregue? / Quando sai a nota do case?\"\n- Tema: Entregas, prazos e notas dos exerc\u00edcios (cases).\n- Sugest\u00e3o de resposta: \"O case 2 ter\u00e1 sua entrega e corre\u00e7\u00e3o conforme cronograma divulgado pela equipe, geralmente alguns dias ap\u00f3s o case anterior. As notas s\u00e3o enviadas por e-mail ou notifica\u00e7\u00f5es, fique atento \u00e0s comunica\u00e7\u00f5es da turma.\"\n\n---\n\n**D\u00favida recorrente:** \"Como funciona a automa\u00e7\u00e3o com n8n? / Tem template dispon\u00edvel? / Como importar o JSON para configurar o fluxo?\"\n- Tema: Uso da ferramenta n8n para automa\u00e7\u00f5es, configura\u00e7\u00e3o e templates.\n- Sugest\u00e3o de resposta: \"Os templates e arquivos JSON para automa\u00e7\u00e3o no n8n s\u00e3o disponibilizados pela equipe em pastas compartilhadas (exemplo: Google Drive). Para importar, voc\u00ea deve abrir o arquivo JSON no n8n na op\u00e7\u00e3o de importa\u00e7\u00e3o de fluxos e substituir as credenciais pelas suas. Caso tenha d\u00favidas espec\u00edficas, consulte as aulas do Pilar 2 ou o co-learning de automa\u00e7\u00e3o.\"\n\n---\n\n**D\u00favida recorrente:** \"N\u00e3o consegui conectar o webhook/automa\u00e7\u00e3o no WhatsApp, est\u00e1 dando erro. O que fazer?\"\n- Tema: Problemas t\u00e9cnicos com webhooks e integra\u00e7\u00f5es (Z-API, WhatsApp).\n- Sugest\u00e3o de resposta: \"Verifique se est\u00e1 usando o URL correto (prodution n\u00e3o test), m\u00e9todo POST para envio, e se a licen\u00e7a ou saldo da conta est\u00e1 ativa. Caso persistam os erros, tire prints das configura\u00e7\u00f5es e reformule sua pergunta detalhada no grupo para receber ajuda.\"\n\n---\n\n**D\u00favida recorrente:** \"Como personalizar mensagens no fluxo com ChatGPT? / Pode-se usar ChatGPT para criar mensagens personalizadas para follow-up no WhatsApp?\"\n- Tema: Integra\u00e7\u00e3o e personaliza\u00e7\u00e3o de mensagens usando IA no processo de automa\u00e7\u00e3o.\n- Sugest\u00e3o de resposta: \"Sim, \u00e9 poss\u00edvel integrar o ChatGPT para criar mensagens personalizadas usando dados do seu fluxo automatizado. Nas aulas e co-learning de automa\u00e7\u00e3o, mostramos como desenvolver essa integra\u00e7\u00e3o e usar prompts para gerar conte\u00fado din\u00e2mico.\"\n\n---\n\n**D\u00favida recorrente:** \"Como funcionam as turmas T1 e T2? / Por que algumas aulas n\u00e3o aparecem na minha turma?\"\n- Tema: Estrutura das turmas e acesso ao conte\u00fado por cohort.\n- Sugest\u00e3o de resposta: \"As turmas T1 e T2 t\u00eam cronogramas diferenciados e conte\u00fados liberados em momentos distintos. Verifique sua turma no material inicial e siga as datas do cronograma para seu grupo. O pilar 1 geralmente \u00e9 comum a ambos, mas os eventos ao vivo e revis\u00f5es podem variar.\"\n\n---\n\n**D\u00favida recorrente:** \"O Grafico do Ranking e nota do case n\u00e3o aparecem para mim. Por qu\u00ea?\"\n- Tema: Acesso a resultados e rankings.\n- Sugest\u00e3o de resposta: \"Pode ser um problema tempor\u00e1rio relacionado a envio ou processamento das notas. Se j\u00e1 passou o prazo, procure confirmar com a equipe via e-mail ou no grupo. Alguns casos requerem verifica\u00e7\u00e3o das entregas para liberar as notas.\"\n\n---\n\n**D\u00favida recorrente:** \"Qual a melhor ferramenta de IA para criar v\u00eddeos? / Como fazer v\u00eddeos com Flow e VEO3?\"\n- Tema: Produ\u00e7\u00e3o de v\u00eddeos com IA e ferramentas relacionadas.\n- Sugest\u00e3o de resposta: \"As ferramentas como Flow e VEO3 t\u00eam limita\u00e7\u00f5es, especialmente para v\u00eddeos com crian\u00e7as ou rostos vis\u00edveis por pol\u00edticas de seguran\u00e7a. Muitos recomendam usar prompts em ingl\u00eas e dividir v\u00eddeos em cenas menores (8s no Flow). Para dicas detalhadas, acompanhe as sess\u00f5es e materiais compartilhados sobre gera\u00e7\u00e3o de v\u00eddeos.\"\n\n---\n\n**D\u00favida recorrente:** \"Como comprar e usar o n8n? Vale a pena contratar conta pr\u00f3pria ou usar servidor?\"\n- Tema: Contrata\u00e7\u00e3o e hospedagem do n8n.\n- Sugest\u00e3o de resposta: \"\u00c9 recomendado iniciar usando o per\u00edodo gr\u00e1tis na nuvem do n8n para entender a ferramenta. Hospedar o n8n em servidor pr\u00f3prio reduz custos, mas pode perder recursos avan\u00e7ados e suporte. Para iniciantes, usar a nuvem oficial \u00e9 indicado para facilitar o aprendizado.\"\n\n---\n\n**D\u00favida recorrente:** \"Onde envio meus exerc\u00edcios e v\u00eddeos do Pilar 1?\"\n- Tema: Envio de atividades e exerc\u00edcios do curso.\n- Sugest\u00e3o de resposta: \"N\u00e3o \u00e9 necess\u00e1rio enviar todos os exerc\u00edcios. Atualmente, s\u00f3 o CASE \u00e9 exigido para entrega. Siga as orienta\u00e7\u00f5es nas aulas para enviar os materiais e esclarecer d\u00favidas com o suporte.\"\n\n---\n\n**D\u00favida recorrente:** \"Como navegar pela plataforma Staage? / Onde encontro o cronograma e material de onboarding?\"\n- Tema: Navega\u00e7\u00e3o e uso da plataforma Staage.\n- Sugest\u00e3o de resposta: \"Ao entrar na plataforma, localize a se\u00e7\u00e3o 'Comece Aqui' e os menus 'Conte\u00fados' e 'Trilhas'. O cronograma fica dispon\u00edvel no material de onboarding. Se estiver com d\u00favidas, pe\u00e7a ajuda no grupo para guiarem voc\u00ea.\"\n\n---\n\n**D\u00favida recorrente:** \"O que fazer se estou atrasado na turma? / Como recuperar aulas e n\u00e3o ficar para tr\u00e1s?\"\n- Tema: Organiza\u00e7\u00e3o pessoal para acompanhar a turma.\n- Sugest\u00e3o de resposta: \"Recomendamos revisar as aulas gravadas, priorizar o Pilar 1 e fazer os desafios propostos. Caso tenha dificuldades, pe\u00e7a ajuda no grupo para orienta\u00e7\u00f5es e busque apoio da equipe. Evite esperar para n\u00e3o acumular conte\u00fado.\"\n\n---\n\n**D\u00favida recorrente:** \"Como funciona o co-learning? Teremos mais sess\u00f5es? Como participar?\"\n- Tema: Din\u00e2mica e agendamento das sess\u00f5es colaborativas (co-learning).\n- Sugest\u00e3o de resposta: \"O co-learning \u00e9 um momento para tirar d\u00favidas e avan\u00e7ar em projetos, focado em temas como automa\u00e7\u00f5es. A equipe prop\u00f5e marcar com anteced\u00eancia e pode ser ajustado conforme interesse. Participe para aprendizado coletivo.\"\n\n---\n\n**D\u00favida recorrente:** \"Algu\u00e9m pode indicar vagas/freelas na \u00e1rea de tr\u00e1fego e social media?\"\n- Tema: Oportunidades de trabalho e networking.\n- Sugest\u00e3o de resposta: \"Alguns membros t\u00eam divulgado vagas e oportunidades no grupo. Fique atento \u00e0s postagens e aproveite para se apresentar e fazer networking no privado com interessados.\"\n\n---\n\n**D\u00favida recorrente:** \"Como lidar com o volume de mensagens no grupo? Est\u00e1 confuso demais.\"\n- Tema: Organiza\u00e7\u00e3o da comunica\u00e7\u00e3o e conviv\u00eancia no grupo.\n- Sugest\u00e3o de resposta: \"Por ser uma comunidade ativa, mensagens s\u00e3o muitas. Recomendamos focar nas informa\u00e7\u00f5es fixadas, no cronograma, e participar da forma que conseguir. Para d\u00favidas pontuais, use o privado ou sess\u00f5es espec\u00edficas do co-learning.\"\n\n---\n\nEssas foram as principais d\u00favidas que se repetiram ou geraram interesse comum ao longo das mensagens analisadas, ajudando a equipe a orientar os alunos de forma mais clara e antecipada."
        }
      },
      {
        "json": {
          "output": "**D\u00favida recorrente:** \"Vai ter aula ao vivo hoje? / A aula de hoje est\u00e1 confirmada?\"\n- Tema: Datas, hor\u00e1rios e confirma\u00e7\u00e3o das aulas ao vivo.\n- Explica\u00e7\u00e3o: Muitos alunos perguntam sobre a exist\u00eancia e confirma\u00e7\u00e3o das aulas ao vivo, pois houve altera\u00e7\u00f5es no cronograma e comunicados de pausa (ex: 15 dias sem aula).\n- Sugest\u00e3o de resposta: \"Confirme sempre as datas oficiais no cronograma atualizado que enviamos por e-mail e no link compartilhado. Em caso de mudan\u00e7as ou suspens\u00f5es, comunicamos no grupo e por e-mail. As aulas ao vivo s\u00e3o gravadas e disponibilizadas na plataforma em at\u00e9 24h.\"\n\n**D\u00favida recorrente:** \"Onde encontro as aulas gravadas? Elas ficam dispon\u00edveis na plataforma?\"\n- Tema: Acesso \u00e0s aulas gravadas e material.\n- Explica\u00e7\u00e3o: Alunos querem saber como e onde assistir \u00e0s aulas j\u00e1 ministradas, principalmente quando perdem a aula ao vivo.\n- Sugest\u00e3o de resposta: \"Todas as aulas ao vivo ficam gravadas e dispon\u00edveis na plataforma Staage University, geralmente no mesmo local das aulas ao vivo, na se\u00e7\u00e3o do respectivo pilar do curso.\"\n\n**D\u00favida recorrente:** \"Como funciona o cronograma das aulas? Teremos somente aulas gravadas ou ao vivo? Quando come\u00e7am as aulas ao vivo?\"\n- Tema: Formato e disponibiliza\u00e7\u00e3o das aulas (gravadas e ao vivo).\n- Explica\u00e7\u00e3o: H\u00e1 confus\u00e3o sobre se as aulas ser\u00e3o todas gravadas, 100% ao vivo, ou uma combina\u00e7\u00e3o, especialmente com mudan\u00e7as recentes.\n- Sugest\u00e3o de resposta: \"Os primeiros conte\u00fados foram liberados na plataforma de forma gravada. A partir de 1\u00ba de setembro, as aulas passam a ser ao vivo conforme o cronograma atualizado, com grava\u00e7\u00f5es dispon\u00edveis para quem n\u00e3o puder assistir ao vivo.\"\n\n**D\u00favida recorrente:** \"Qual o link para acessar as aulas ao vivo?\"\n- Tema: Acesso ao link das aulas ao vivo.\n- Explica\u00e7\u00e3o: Os alunos pedem repetidamente o link para entrar na aula ao vivo, j\u00e1 que o link pode ser compartilhado v\u00e1rias vezes para garantir presen\u00e7a.\n- Sugest\u00e3o de resposta: \"O link das aulas ao vivo \u00e9 enviado por e-mail e tamb\u00e9m compartilhado aqui no grupo antes da aula. Fiquem atentos \u00e0s mensagens da equipe e pinos fixos para n\u00e3o perder.\"\n\n**D\u00favida recorrente:** \"As aulas ficam gravadas para reassistir? Em quanto tempo a grava\u00e7\u00e3o \u00e9 disponibilizada?\"\n- Tema: Grava\u00e7\u00e3o e replays das aulas.\n- Explica\u00e7\u00e3o: Alunos querem confirmar se ter\u00e3o acesso \u00e0s grava\u00e7\u00f5es, caso n\u00e3o consigam assistir ao vivo.\n- Sugest\u00e3o de resposta: \"Sim! Todas as aulas ao vivo ficam gravadas. A grava\u00e7\u00e3o costuma ser disponibilizada na plataforma em at\u00e9 24 a 48 horas ap\u00f3s a aula.\"\n\n**D\u00favida recorrente:** \"N\u00e3o entendi os avisos dados na \u00faltima aula ao vivo, algu\u00e9m pode resumir?\"\n- Tema: Comunica\u00e7\u00e3o de avisos e recados importantes durante as aulas.\n- Explica\u00e7\u00e3o: Muitos alunos perdem os avisos feitos no in\u00edcio ou final das aulas, especialmente por entrarem atrasados ou faltarem a alguma aula.\n- Sugest\u00e3o de resposta: \"Os avisos importantes s\u00e3o comunicados por e-mail, no grupo e durante as aulas. Em caso de d\u00favida, pe\u00e7a resumos a colegas ou a equipe de suporte e acompanhe os comunicados oficiais.\"\n\n**D\u00favida recorrente:** \"Como funcionam os desafios e exerc\u00edcios? Preciso de um passo a passo detalhado para realizar os exerc\u00edcios das aulas.\"\n- Tema: D\u00favidas sobre atividades pr\u00e1ticas, exerc\u00edcios e desafios do curso.\n- Explica\u00e7\u00e3o: Alguns alunos t\u00eam dificuldade de entender o passo a passo para executar as atividades e pedem roteiro detalhado para acompanhamento.\n- Sugest\u00e3o de resposta: \"Os exerc\u00edcios podem ser encontrados na plataforma. Sugerimos seguir as instru\u00e7\u00f5es passo a passo fornecidas nas aulas e conte\u00fados complementares. Em caso de d\u00favidas espec\u00edficas ou travamentos, pe\u00e7a ajuda no grupo ou aos tutores para orienta\u00e7\u00f5es detalhadas.\"\n\n**D\u00favida recorrente:** \"Qual ferramenta usar para limpar ru\u00eddos em grava\u00e7\u00f5es e podcasts?\"\n- Tema: Indica\u00e7\u00e3o de ferramentas para limpeza de \u00e1udio.\n- Explica\u00e7\u00e3o: Alunos querem recomenda\u00e7\u00f5es de programas para remover ru\u00eddos, especialmente barulhos indesejados em grava\u00e7\u00f5es.\n- Sugest\u00e3o de resposta: \"Algumas ferramentas gratuitas e eficazes s\u00e3o: Audiocleaner.ai (online), CapCut (app que remove ru\u00eddos), Moises.ai (separa \u00e1udio e remove barulhos). Adobe Podcast Enhance \u00e9 outra op\u00e7\u00e3o para melhorar \u00e1udio.\"\n\n**D\u00favida recorrente:** \"Como usar e integrar ferramentas IA como Claude, Gemini, ElevenLabs, Veo3, V0, e n8n? Qual o papel de cada uma?\"\n- Tema: Entendimento e uso das ferramentas de IA indicadas para cria\u00e7\u00e3o de conte\u00fados e automa\u00e7\u00e3o.\n- Explica\u00e7\u00e3o: Os alunos discutem muitas ferramentas e querem entender para que serve cada uma, como se integram e qual sequ\u00eancia seguir.\n- Sugest\u00e3o de resposta: \n   - GPT: pesquisa e gera\u00e7\u00e3o de conte\u00fado.\n   - Claude: criador e refinador de prompts e c\u00f3pias.\n   - Gemini: gera\u00e7\u00e3o de prompts e v\u00eddeos.\n   - Veo3: cria\u00e7\u00e3o de v\u00eddeos a partir de prompts.\n   - ElevenLabs: narra\u00e7\u00f5es e \u00e1udios.\n   - V0: editor para ajustar c\u00f3digos/landing pages gerados por IA com baixo consumo de cr\u00e9dito.\n   - N8n: automa\u00e7\u00e3o e integra\u00e7\u00e3o de processos, incluindo mensagens autom\u00e1ticas.\n\"Orientamos acompanhar as aulas espec\u00edficas do pilar de automa\u00e7\u00e3o para entender a aplica\u00e7\u00e3o pr\u00e1tica dessas ferramentas.\"\n\n**D\u00favida recorrente:** \"Quando e onde ser\u00e3o liberados os cases de sucesso e os feedbacks detalhados para melhorar os trabalhos?\"\n- Tema: Disponibiliza\u00e7\u00e3o de cases e melhorias do curso.\n- Explica\u00e7\u00e3o: Alunos querem acessar os exemplos de cases que tiraram as melhores notas (10) para orientar seus estudos.\n- Sugest\u00e3o de resposta: \"Estamos preparando uma sess\u00e3o com os melhores cases para acelerar o aprendizado. O conte\u00fado ser\u00e1 divulgado em breve, e alguns j\u00e1 foram compartilhados em colabs ou lives gravadas.\"\n\n**D\u00favida recorrente:** \"Como entender e usar automa\u00e7\u00f5es com IA para qualifica\u00e7\u00e3o de leads e atendimento WhatsApp?\"\n- Tema: Aplica\u00e7\u00e3o de automa\u00e7\u00e3o via IA para processos de vendas e atendimento.\n- Explica\u00e7\u00e3o: Muitos alunos buscam aprender a criar agentes e bots que fa\u00e7am atendimento ou nutri\u00e7\u00e3o autom\u00e1tica, integrando ferramentas como n8n e ManyChat.\n- Sugest\u00e3o de resposta: \"O tema de automa\u00e7\u00e3o ser\u00e1 abordado no pr\u00f3ximo pilar a partir de 10/09, mas j\u00e1 teremos tutoriais preparat\u00f3rios. \u00c9 importante ter processos de vendas estruturados para usar esses agentes eficientemente.\"\n\n**D\u00favida recorrente:** \"Como fazer landing pages (LP) com IA, e \u00e9 poss\u00edvel importar c\u00f3digos gerados para o Elementor / WordPress?\"\n- Tema: Cria\u00e7\u00e3o e integra\u00e7\u00e3o de LPs feitas por IA em plataformas WordPress/Elementor.\n- Explica\u00e7\u00e3o: Muitos t\u00eam dificuldade para usar o c\u00f3digo gerado por IA diretamente no Elementor pela forma como o Elementor trabalha com c\u00f3digos.\n- Sugest\u00e3o de resposta: \"Adianta construir LPs com IA em etapas ou ajustar blocos no Elementor. A importa\u00e7\u00e3o total de c\u00f3digo HTML/CSS n\u00e3o \u00e9 compat\u00edvel diretamente com Elementor. Recomendamos usar IA para cria\u00e7\u00e3o e editar manualmente pelo Elementor.\"\n\n**D\u00favida recorrente:** \"Como acessar o suporte para d\u00favidas espec\u00edficas? Existe n\u00famero de contato?\"\n- Tema: Suporte e canais de atendimento ao aluno.\n- Explica\u00e7\u00e3o: Pessoas desejam contato direto para tirar d\u00favidas ou resolver problemas t\u00e9cnicos.\n- Sugest\u00e3o de resposta: \"Para d\u00favidas e suporte, entre em contato pelo WhatsApp oficial do Suporte: (11) 97437-1178. Tamb\u00e9m respondemos via grupo e e-mail conforme a disponibilidade.\"\n\n**D\u00favida recorrente:** \"Qual a melhor IA para montagem de apresenta\u00e7\u00f5es com figuras e gr\u00e1ficos?\"\n- Tema: Ferramentas para cria\u00e7\u00e3o autom\u00e1tica de apresenta\u00e7\u00f5es visuais.\n- Explica\u00e7\u00e3o: Alunos avaliam op\u00e7\u00f5es para montar slides r\u00e1pidos mas profissionais com conte\u00fado e imagens.\n- Sugest\u00e3o de resposta: \"Para gera\u00e7\u00e3o r\u00e1pida de apresenta\u00e7\u00f5es, o Prezi AI \u00e9 recomendado para texto, e permite edi\u00e7\u00e3o de imagens e gr\u00e1ficos. O Gamma AI tamb\u00e9m \u00e9 uma boa op\u00e7\u00e3o, embora possa precisar de retoques manuais.\"\n\n---\n\nEssas d\u00favidas s\u00e3o as que se repetem e geram maior interesse no grupo estudantil analisado, principalmente referentes a estrutura, acesso e funcionamento das aulas, uso de ferramentas de IA e orienta\u00e7\u00f5es pr\u00e1ticas para execu\u00e7\u00e3o de tarefas. Uma FAQ focada nesses temas ajudaria a reduzir d\u00favidas e melhorar a comunica\u00e7\u00e3o."
        }
      },
      {
        "json": {
          "output": "**Principais d\u00favidas recorrentes identificadas:**\n\n---\n\n**D\u00favida recorrente:** \"As aulas ao vivo ficam gravadas? Onde posso assistir depois?\"\n- Tema: Disponibilidade e acesso \u00e0s grava\u00e7\u00f5es das aulas.\n- Explica\u00e7\u00e3o: Muitos alunos perguntaram se as aulas ao vivo ficam gravadas e onde podem assisti-las posteriormente.\n- Sugest\u00e3o de resposta: \"Sim, todas as aulas ao vivo s\u00e3o gravadas e disponibilizadas na plataforma Staage One para que voc\u00ea possa assistir ou reassistir quando quiser.\"\n\n---\n\n**D\u00favida recorrente:** \"Como acessar a plataforma Staage One / Staage University? O login e senha s\u00e3o os mesmos?\"\n- Tema: Acesso \u00e0s plataformas de curso.\n- Explica\u00e7\u00e3o: Alguns alunos relataram confus\u00e3o sobre onde acessar os conte\u00fados, sobre diferen\u00e7as entre plataformas e d\u00favidas no login.\n- Sugest\u00e3o de resposta: \"O conte\u00fado MEP est\u00e1 dispon\u00edvel na plataforma Staage University (university.staage.com), enquanto aulas b\u00f4nus ou outras podem estar na Staage One. Use seu login e senha cadastrados para acessar. Em caso de d\u00favida, entre em contato com o suporte.\"\n\n---\n\n**D\u00favida recorrente:** \"Vai ter materiais complementares (pdf, links, prompts) para acompanhar as aulas?\"\n- Tema: Disponibiliza\u00e7\u00e3o de materiais de apoio.\n- Explica\u00e7\u00e3o: Alunos pediram por materiais em PDF, prompts e conte\u00fados para auxiliar no estudo e acompanhamento do curso.\n- Sugest\u00e3o de resposta: \"Estamos atualizando o material complementar e ele ser\u00e1 disponibilizado gradualmente na plataforma. Tamb\u00e9m haver\u00e1 aulas de revis\u00e3o e aprofundamento ao final dos pilares. Caso tenha d\u00favidas sobre materiais espec\u00edficos, fale conosco.\"\n\n---\n\n**D\u00favida recorrente:** \"Quando ser\u00e1 liberado o case 2? Podemos baixar o PDF?\"\n- Tema: Entrega e acesso aos cases do curso.\n- Explica\u00e7\u00e3o: D\u00favidas sobre a libera\u00e7\u00e3o, prazo e formato do case 2 foram frequentes.\n- Sugest\u00e3o de resposta: \"O case 2 foi liberado com prazo para entrega at\u00e9 08/09. O material ficar\u00e1 dispon\u00edvel na plataforma e n\u00e3o est\u00e1 liberado para download em PDF para preservar os artefatos; recomendamos acessar diretamente pelos links ou fazer print das telas, se necess\u00e1rio.\"\n\n---\n\n**D\u00favida recorrente:** \"Quando s\u00e3o as pr\u00f3ximas aulas ao vivo? Qual o cronograma?\"\n- Tema: Cronograma e datas das aulas.\n- Explica\u00e7\u00e3o: Alunos perguntaram sobre datas, hor\u00e1rios de aulas e pr\u00f3ximos encontros presenciais.\n- Sugest\u00e3o de resposta: \"O cronograma de aulas e eventos ser\u00e1 divulgado por e-mail e disponibilizado na plataforma e no grupo. A pr\u00f3xima aula ao vivo do MEP ser\u00e1 dia 08/09, \u00e0s 20h. Para encontros presenciais enviaremos comunicado oficial em breve.\"\n\n---\n\n**D\u00favida recorrente:** \"Tem aula hoje? Qual o link da aula ao vivo / porque n\u00e3o achei o link?\"\n- Tema: Informa\u00e7\u00f5es sobre aulas ao vivo e links de acesso.\n- Explica\u00e7\u00e3o: Muitas d\u00favidas sobre a realiza\u00e7\u00e3o da aula no dia, links para participar e cancelamentos.\n- Sugest\u00e3o de resposta: \"Avisamos no grupo e por e-mail sempre que houver aula ao vivo. O link ser\u00e1 disponibilizado pr\u00f3ximo do hor\u00e1rio da aula. Caso n\u00e3o ache, fale conosco no privado. Co-learnings s\u00e3o encontros sem professor e podem ser cancelados, avisaremos com anteced\u00eancia.\"\n\n---\n\n**D\u00favida recorrente:** \"Estou com erro no 'AI Agent' e perguntas sobre cr\u00e9ditos para usar a ferramenta.\"\n- Tema: Uso e funcionamento do AI Agent e quest\u00f5es de cr\u00e9ditos/pagamento.\n- Explica\u00e7\u00e3o: Alunos relataram erro no AI Agent e d\u00favida sobre necessidade de cr\u00e9ditos ou valores adicionais.\n- Sugest\u00e3o de resposta: \"O AI Agent funciona com cr\u00e9ditos que precisam ser inseridos separadamente, n\u00e3o \u00e9 igual a assinatura do GPT. Recomenda-se testar inserindo valores pequenos para liberar o uso. Caso tenha d\u00favidas, entre em contato com o suporte t\u00e9cnico.\"\n\n---\n\n**D\u00favida recorrente:** \"Growth Agents e acesso a IAs: quando o Claude estar\u00e1 dispon\u00edvel? Por que s\u00f3 temos agentes ChatGPT?\"\n- Tema: Disponibilidade de agentes IA e funcionalidades.\n- Explica\u00e7\u00e3o: Os alunos questionaram sobre a aus\u00eancia dos agentes Claude na plataforma e o fato de haver apenas agentes ChatGPT.\n- Sugest\u00e3o de resposta: \"No momento, disponibilizamos agentes baseados em ChatGPT, pois o Claude n\u00e3o permite cria\u00e7\u00e3o de assistentes personalizados, por isso n\u00e3o est\u00e1 integrado.\"\n\n---\n\n**D\u00favida recorrente:** \"Como usar o ChatGPT para pesquisas e prompts, especialmente para v\u00eddeos virais? Por que ele n\u00e3o traz dados recentes?\"\n- Tema: Limita\u00e7\u00f5es de pesquisa de dados em IA (ChatGPT) e uso de prompts.\n- Explica\u00e7\u00e3o: Alunos tiveram dificuldades ao usar prompts para buscar v\u00eddeos virais, pois o ChatGPT n\u00e3o tem acesso a dados em tempo real.\n- Sugest\u00e3o de resposta: \"O ChatGPT n\u00e3o acessa dados em tempo real, ent\u00e3o para pesquisa de tend\u00eancias atuais sugerimos usar pesquisa manual em canais e combinar com prompts estrat\u00e9gicos para an\u00e1lise. Estamos preparando conte\u00fados para ajudar nesta etapa.\"\n\n---\n\n**D\u00favida recorrente:** \"Como funciona o acesso ao certificado do curso?\"\n- Tema: Emiss\u00e3o de certificados.\n- Explica\u00e7\u00e3o: Alguns alunos perguntaram onde e como emitir o certificado ap\u00f3s entregar os cases.\n- Sugest\u00e3o de resposta: \"Para obter o certificado, \u00e9 necess\u00e1rio entregar o case 1 dentro do prazo de um ano. A emiss\u00e3o pode ser feita pelo link da p\u00e1gina oficial: https://lp.staage.com/intensivo-ia-certificado\"\n\n---\n\n**D\u00favida recorrente:** \"Estou com dificuldades para baixar materiais, assistir grava\u00e7\u00f5es ou acessar o conte\u00fado, n\u00e3o recebi e-mails ou links importantes.\"\n- Tema: Problemas de comunica\u00e7\u00e3o, recebimento de links e acesso.\n- Explica\u00e7\u00e3o: V\u00e1rios relatos de alunos que n\u00e3o receberam e-mails ou n\u00e3o encontram certos conte\u00fados.\n- Sugest\u00e3o de resposta: \"Sempre verificamos envio de e-mails com links e avisos. Caso n\u00e3o receba ou tenha problemas para acessar, confira sua caixa de spam e confirme seu cadastro correto. Em \u00faltimo caso, procure o suporte para assist\u00eancia personalizada.\"\n\n---\n\n**D\u00favida recorrente:** \"Como funciona a integra\u00e7\u00e3o e uso das ferramentas de automa\u00e7\u00e3o (N8N, Zapier, etc.) usadas no curso?\"\n- Tema: Ferramentas de integra\u00e7\u00e3o e automa\u00e7\u00e3o.\n- Explica\u00e7\u00e3o: Questionamentos sobre o uso e diferen\u00e7a entre Zapier, N8N e suas vantagens.\n- Sugest\u00e3o de resposta: \"O curso aborda o uso dessas ferramentas para automa\u00e7\u00f5es \u00fateis no marketing digital. N8N \u00e9 open source e customiz\u00e1vel; Zapier \u00e9 mais popular, por\u00e9m tem custo maior. A escolha depende do n\u00edvel de customiza\u00e7\u00e3o e or\u00e7amento.\"\n\n---\n\n**D\u00favida recorrente:** \"Como eu fa\u00e7o a landing page ensinada no curso? Tem algum passo a passo?\"\n- Tema: Desenvolvimento de landing page.\n- Explica\u00e7\u00e3o: Alunos iniciantes perguntaram como criar a landing page ensinada no curso.\n- Sugest\u00e3o de resposta: \"No curso voc\u00ea encontra aulas passo a passo sobre constru\u00e7\u00e3o de landing pages. Caso tenha d\u00favida, recomendamos revisar o conte\u00fado do pilar fundamenta\u00e7\u00e3o e tirar d\u00favidas no grupo ou no suporte.\"\n\n---\n\n**D\u00favida recorrente:** \"Haver\u00e1 encontro presencial p\u00f3s-curso? Quando?\"\n- Tema: Eventos presenciais p\u00f3s-curso.\n- Explica\u00e7\u00e3o: Alunos questionaram se haver\u00e1 encontros presenciais ap\u00f3s o t\u00e9rmino do curso e confirma\u00e7\u00e3o de datas.\n- Sugest\u00e3o de resposta: \"Estamos organizando encontros presenciais para quem adquiriu acesso. Informa\u00e7\u00f5es ser\u00e3o comunicadas assim que confirmarmos as datas oficiais via e-mail e grupo.\"\n\n---\n\n**D\u00favida recorrente:** \"Como funciona o remarketing e o uso do Instagram para capta\u00e7\u00e3o de clientes? Vale a pena usar para neg\u00f3cios de marmita, por exemplo?\"\n- Tema: Estrat\u00e9gias de marketing digital - Google vs Instagram e remarketing.\n- Explica\u00e7\u00e3o: Alunos discutiram casos reais e d\u00favidas sobre quais canais usar para gera\u00e7\u00e3o de leads e remarketing.\n- Sugest\u00e3o de resposta: \"Cada neg\u00f3cio tem um canal mais forte. Para neg\u00f3cios com alta busca no Google, campanhas de pesquisa s\u00e3o mais eficazes. Instagram e remarketing podem ajudar no reconhecimento e reten\u00e7\u00e3o, mas cuidado para n\u00e3o sobrecarregar o atendimento. Avalie seu p\u00fablico e capacidade antes de investir.\"\n\n---\n\nEssas d\u00favidas foram as que mais se repetiram ou tiveram bastante repercuss\u00e3o e podem ser usadas para fortalecer a comunica\u00e7\u00e3o, FAQ e orienta\u00e7\u00f5es aos alunos."
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "359da1d0-4f41-497d-b5b0-c31a9c97f97e",
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}