templates/crm/13837-manage-creator-sponsorship-and-brand-deals-with-gmail-openai-notion-and-telegram/workflow.json
{
  "meta": {
    "instanceId": "bb1d36a4b9c034f5ada4b0425a451ca871ea9dee2c7b45d75d6a4abf14c34467",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "7d278e5b-7472-49ee-811a-ed3388449dfa",
      "name": "Sticky Note - Header",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        848
      ],
      "parameters": {
        "color": 6,
        "width": 2712,
        "content": "# Creator Sponsorship & Brand Deal OS\n\nAutomatically detects sponsorship emails, logs deals to Notion, drafts replies, sends follow-up reminders, and generates monthly revenue reports.\n\n**Stack:** Gmail \u00b7 OpenAI \u00b7 Notion \u00b7 Telegram\n\n**Setup:** Replace `YOUR_NOTION_DATABASE_ID` and `YOUR_TELEGRAM_CHAT_ID` in all nodes before activating."
      },
      "typeVersion": 1
    },
    {
      "id": "a704afba-3fca-49a0-a2f8-90d707cc7e05",
      "name": "Sticky Note - Flow A",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        1088
      ],
      "parameters": {
        "color": 3,
        "width": 2712,
        "height": 516,
        "content": "## \ud83d\udce7 Flow A \u2014 Inbound Email Detection\n\n- Polls Gmail every minute for new emails\n- AI classifies if it's a sponsorship inquiry (ignores everything else)\n- Extracts company name, contact, budget, campaign type, and channel\n- Creates a new deal in Notion or updates an existing one\n- Drafts a professional reply and sends it to Telegram for manual sending"
      },
      "typeVersion": 1
    },
    {
      "id": "ad393f31-656a-446a-a34b-11850bf3940c",
      "name": "Sticky Note - Flow B",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        1664
      ],
      "parameters": {
        "color": 4,
        "width": 2216,
        "height": 424,
        "content": "## \ud83d\udd14 Flow B \u2014 Daily Follow-up System\n\n- Runs automatically every day at 9 AM\n- Fetches all Notion deals where Follow-up Date = today\n- Loops through each deal and generates a personalized follow-up email draft\n- Sends the draft to Telegram so you can review and send manually"
      },
      "typeVersion": 1
    },
    {
      "id": "92b4fa74-ad95-4679-a892-6997a8738f03",
      "name": "Sticky Note - Flow C",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        2128
      ],
      "parameters": {
        "color": 5,
        "width": 1624,
        "height": 520,
        "content": "## \ud83d\udcca Flow C \u2014 Monthly Revenue Report\n\n- Runs on the 1st of every month at 8 AM\n- Fetches all Paid deals from Notion and filters last month's data\n- Calculates total revenue, deal count, avg deal value, breakdown by channel and campaign\n- AI writes a business-coach style summary with actionable tips\n- Delivers report via Telegram + Gmail email"
      },
      "typeVersion": 1
    },
    {
      "id": "9b84f32a-bc4f-4b79-b5b6-4c32a331e4e3",
      "name": "Sticky Note - AI Block A",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        1424
      ],
      "parameters": {
        "width": 520,
        "height": 180,
        "content": "### \ud83e\udd16 AI Classification Block\nOpenAI classifies email + extracts structured data.\nModel sub-node must be connected to chain."
      },
      "typeVersion": 1
    },
    {
      "id": "89a88fe4-9330-4f23-aa59-5ee91645792f",
      "name": "Sticky Note - Notion Block",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        1392
      ],
      "parameters": {
        "width": 280,
        "content": "### \ud83d\uddc3\ufe0f Notion CRM Block\nSearches for existing deal.\nCreates new or updates existing entry."
      },
      "typeVersion": 1
    },
    {
      "id": "ea77d8b5-9f81-4825-881e-3d49b9b55c7f",
      "name": "Sticky Note - AI Block B",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        1840
      ],
      "parameters": {
        "width": 500,
        "height": 208,
        "content": "### \ud83e\udd16 AI Follow-up Block\nGenerates personalized follow-up draft per deal."
      },
      "typeVersion": 1
    },
    {
      "id": "31b7740a-e600-4f62-9d69-7df0b486d2cf",
      "name": "Sticky Note - AI Block C",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        2192
      ],
      "parameters": {
        "width": 324,
        "height": 432,
        "content": "### \ud83e\udd16 AI Report Block\nWrites monthly revenue narrative with insights and tips."
      },
      "typeVersion": 1
    },
    {
      "id": "c3b01671-c364-44a9-970d-96b89e5bf61a",
      "name": "\ud83d\udce7 Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        960,
        1296
      ],
      "parameters": {
        "filters": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fed4b545-9cba-4523-bf46-2cf4b167a066",
      "name": "\ud83d\udd27 Extract Email Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        1296
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "aa000001-set-01",
              "name": "email_from",
              "type": "string",
              "value": "={{ $json.from.value[0].address }}"
            },
            {
              "id": "aa000001-set-02",
              "name": "email_from_name",
              "type": "string",
              "value": "={{ $json.from.value[0].name }}"
            },
            {
              "id": "aa000001-set-03",
              "name": "email_subject",
              "type": "string",
              "value": "={{ $json.subject }}"
            },
            {
              "id": "aa000001-set-04",
              "name": "email_body",
              "type": "string",
              "value": "={{ $json.text || $json.snippet }}"
            },
            {
              "id": "aa000001-set-05",
              "name": "email_date",
              "type": "string",
              "value": "={{ $json.date }}"
            },
            {
              "id": "aa000001-set-06",
              "name": "email_id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "typeVersion": 3.3
    },
    {
      "id": "dce14a46-a911-4525-b173-83bdd23f5093",
      "name": "\ud83e\udd16 OpenAI - Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1728,
        1472
      ],
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "typeVersion": 1
    },
    {
      "id": "cb97ffb0-373f-4597-b0c2-04ffdf10e9c4",
      "name": "\ud83e\udde0 LLM - Classify and Extract",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1408,
        1296
      ],
      "parameters": {
        "text": "=You are an AI assistant that analyzes emails for a content creator.\n\nEmail From: {{ $('\ud83d\udd27 Extract Email Data').item.json.email_from_name }} <{{ $('\ud83d\udd27 Extract Email Data').item.json.email_from }}>\nSubject: {{ $('\ud83d\udd27 Extract Email Data').item.json.email_subject }}\nBody: {{ $('\ud83d\udd27 Extract Email Data').item.json.email_body }}\n\nAnalyze this email and respond ONLY with valid JSON (no markdown, no extra text):\n{\n  \"is_sponsorship\": true,\n  \"confidence\": 85,\n  \"company_name\": \"ACME Corp\",\n  \"contact_name\": \"John Smith\",\n  \"proposed_budget\": \"$500\",\n  \"campaign_type\": \"Integration\",\n  \"channel_requested\": \"YouTube\",\n  \"key_details\": \"They want a 60-second integration in your next video.\",\n  \"suggested_reply_tone\": \"Interested\"\n}\n\nFor is_sponsorship: true if this is a brand deal or sponsorship inquiry, false otherwise.\nFor campaign_type use: Integration, Dedicated Video, Newsletter Shoutout, UGC, Affiliate, or Unknown.\nFor channel_requested use: YouTube, Newsletter, X, Instagram, Multiple, or Unknown.\nFor suggested_reply_tone use: Interested, Need more info, Decline, or Follow-up later.",
        "promptType": "define"
      },
      "typeVersion": 1.4
    },
    {
      "id": "92b40b99-1813-4d06-8fb1-ff86009dfffd",
      "name": "\u2699\ufe0f Parse AI Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1712,
        1296
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.response || '';\nlet parsed;\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n} catch(e) {\n  parsed = {\n    is_sponsorship: false,\n    confidence: 0,\n    company_name: 'Unknown',\n    contact_name: '',\n    proposed_budget: 'Not mentioned',\n    campaign_type: 'Unknown',\n    channel_requested: 'Unknown',\n    key_details: 'Could not parse AI response',\n    suggested_reply_tone: 'Need more info'\n  };\n}\n\nconst emailData = $('\ud83d\udd27 Extract Email Data').first().json;\n\nreturn [{\n  json: {\n    is_sponsorship: parsed.is_sponsorship === true,\n    confidence: parsed.confidence || 0,\n    company_name: parsed.company_name || 'Unknown',\n    contact_name: parsed.contact_name || emailData.email_from_name,\n    proposed_budget: parsed.proposed_budget || 'Not mentioned',\n    campaign_type: parsed.campaign_type || 'Unknown',\n    channel_requested: parsed.channel_requested || 'Unknown',\n    key_details: parsed.key_details || '',\n    suggested_reply_tone: parsed.suggested_reply_tone || 'Need more info',\n    email_from: emailData.email_from,\n    email_from_name: emailData.email_from_name,\n    email_subject: emailData.email_subject,\n    email_body: emailData.email_body,\n    email_date: emailData.email_date,\n    email_id: emailData.email_id\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "66a44744-3037-4e01-bc49-9124e37fd928",
      "name": "\ud83d\udd0d Is Sponsorship?",
      "type": "n8n-nodes-base.if",
      "position": [
        1920,
        1296
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-sponsorship",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_sponsorship }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "9464eb67-7162-449e-b80d-44899b9d42c1",
      "name": "\ud83d\udd0e Notion - Search Deal",
      "type": "n8n-nodes-base.notion",
      "position": [
        2160,
        1200
      ],
      "parameters": {
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "key": "Company Name|title",
              "condition": "contains"
            }
          ]
        },
        "options": {},
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "YOUR_NOTION_DATABASE_ID",
        "filterType": "manual"
      },
      "typeVersion": 2.2
    },
    {
      "id": "6aeccaab-6af9-4ca8-8f86-4d68b08a452e",
      "name": "\ud83d\udccb Deal Already Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        2400,
        1200
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-exists",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "bcd8c910-6327-451a-a793-588c223cbda5",
      "name": "\u2705 Notion - Create Deal",
      "type": "n8n-nodes-base.notion",
      "position": [
        2640,
        1104
      ],
      "parameters": {
        "title": "={{ $('\u2699\ufe0f Parse AI Response').item.json.company_name }}",
        "options": {},
        "resource": "databasePage",
        "databaseId": "YOUR_NOTION_DATABASE_ID",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Company Name|title"
            },
            {
              "key": "Contact Person|rich_text"
            },
            {
              "key": "Contact Email|email",
              "emailValue": "={{ $('\u2699\ufe0f Parse AI Response').item.json.email_from }}"
            },
            {
              "key": "Budget|rich_text"
            },
            {
              "key": "Campaign Type|select",
              "selectValue": "={{ $('\u2699\ufe0f Parse AI Response').item.json.campaign_type }}"
            },
            {
              "key": "Channel|select",
              "selectValue": "={{ $('\u2699\ufe0f Parse AI Response').item.json.channel_requested }}"
            },
            {
              "key": "Deal Stage|select",
              "selectValue": "New Lead"
            },
            {
              "key": "Notes|rich_text"
            },
            {
              "key": "Last Contact|date"
            },
            {
              "key": "Follow-up Date|date"
            },
            {
              "key": "Revenue|number"
            },
            {
              "key": "Email Thread ID|rich_text"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "40278060-a041-4517-9704-565d28c9a7dd",
      "name": "\ud83d\udd04 Notion - Update Deal",
      "type": "n8n-nodes-base.notion",
      "position": [
        2640,
        1296
      ],
      "parameters": {
        "pageId": "={{ $('\ud83d\udd0e Notion - Search Deal').item.json.id }}",
        "options": {},
        "resource": "databasePage",
        "operation": "update",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Deal Stage|select",
              "selectValue": "New Activity"
            },
            {
              "key": "Last Contact|date"
            },
            {
              "key": "Follow-up Date|date"
            },
            {
              "key": "Notes|rich_text"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "558f4316-418e-40c4-990b-157b1448594c",
      "name": "\ud83d\udd00 Merge After Save",
      "type": "n8n-nodes-base.merge",
      "position": [
        2880,
        1200
      ],
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1Data"
      },
      "typeVersion": 3
    },
    {
      "id": "06bf3a97-878d-431f-8ecf-e3f0b7306025",
      "name": "\ud83e\udd16 OpenAI - Reply Drafter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3120,
        1360
      ],
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "typeVersion": 1
    },
    {
      "id": "39f8176d-1380-4bce-b63e-01d4806c32e3",
      "name": "\u270d\ufe0f LLM - Draft Reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3120,
        1200
      ],
      "parameters": {
        "text": "=You are a professional content creator assistant. Draft a reply email for a sponsorship inquiry.\n\nFrom: {{ $('\u2699\ufe0f Parse AI Response').item.json.email_from_name }}\nCompany: {{ $('\u2699\ufe0f Parse AI Response').item.json.company_name }}\nCampaign Type: {{ $('\u2699\ufe0f Parse AI Response').item.json.campaign_type }}\nChannel: {{ $('\u2699\ufe0f Parse AI Response').item.json.channel_requested }}\nBudget Mentioned: {{ $('\u2699\ufe0f Parse AI Response').item.json.proposed_budget }}\nTheir Ask: {{ $('\u2699\ufe0f Parse AI Response').item.json.key_details }}\nTone: {{ $('\u2699\ufe0f Parse AI Response').item.json.suggested_reply_tone }}\n\nWrite a short, professional, friendly reply (max 150 words) that:\n- Acknowledges their interest warmly\n- Asks for missing details: campaign brief, target audience, timeline, and budget if not provided\n- Says you will review and respond within 48 hours\n- Ends with a friendly sign-off\n\nReturn ONLY the email body text. No subject line.",
        "promptType": "define"
      },
      "typeVersion": 1.4
    },
    {
      "id": "96553d5f-a33f-448e-91bc-89376a5afaaf",
      "name": "\ud83d\udcf1 Telegram - New Deal Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3440,
        1200
      ],
      "webhookId": "1ab41ef6-f33d-4dbc-98e3-86b443e4762e",
      "parameters": {
        "text": "=\ud83c\udfaf *New Sponsorship Inquiry!*\n\n\ud83c\udfe2 *Company:* {{ $('\u2699\ufe0f Parse AI Response').item.json.company_name }}\n\ud83d\udc64 *Contact:* {{ $('\u2699\ufe0f Parse AI Response').item.json.contact_name }}\n\ud83d\udce7 *Email:* {{ $('\u2699\ufe0f Parse AI Response').item.json.email_from }}\n\ud83d\udcb0 *Budget:* {{ $('\u2699\ufe0f Parse AI Response').item.json.proposed_budget }}\n\ud83d\udcfa *Channel:* {{ $('\u2699\ufe0f Parse AI Response').item.json.channel_requested }}\n\ud83c\udfac *Campaign:* {{ $('\u2699\ufe0f Parse AI Response').item.json.campaign_type }}\n\ud83d\udcdd *Details:* {{ $('\u2699\ufe0f Parse AI Response').item.json.key_details }}\n\n---\n\u2709\ufe0f *Suggested Reply Draft:*\n{{ $json.text }}\n\n\u2705 Deal saved to Notion. Copy and send reply manually.",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "ee26ffdb-f5de-4e6f-b9d0-a9b46554c831",
      "name": "\u23f0 Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        976,
        1904
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c7407f6e-cdf4-4351-a880-bf8c652a4624",
      "name": "\ud83d\udccb Notion - Get Follow-ups",
      "type": "n8n-nodes-base.notion",
      "position": [
        1200,
        1904
      ],
      "parameters": {
        "filters": {
          "conditions": [
            {
              "key": "Follow-up Date|date",
              "condition": "equals"
            }
          ]
        },
        "options": {},
        "resource": "databasePage",
        "operation": "getAll",
        "returnAll": true,
        "databaseId": "YOUR_NOTION_DATABASE_ID",
        "filterType": "manual"
      },
      "typeVersion": 2.2
    },
    {
      "id": "14702780-287c-4a0e-95bb-3c3e9edc4008",
      "name": "\ud83d\udccc Has Follow-ups Today?",
      "type": "n8n-nodes-base.if",
      "position": [
        1440,
        1904
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-followup",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "642672b2-bb8e-4af3-9683-4f60233964c8",
      "name": "\ud83d\udd01 Loop Each Deal",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1776,
        1696
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "2eb3b82b-aa2e-45aa-9c6e-3d5c560e0e37",
      "name": "\ud83d\udd27 Extract Deal Info",
      "type": "n8n-nodes-base.set",
      "position": [
        2128,
        1680
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "bb-set-01",
              "name": "deal_company",
              "type": "string",
              "value": "={{ $json.properties['Company Name'].title[0]?.plain_text || 'Unknown' }}"
            },
            {
              "id": "bb-set-02",
              "name": "deal_contact_email",
              "type": "string",
              "value": "={{ $json.properties['Contact Email']?.email || '' }}"
            },
            {
              "id": "bb-set-03",
              "name": "deal_contact_name",
              "type": "string",
              "value": "={{ $json.properties['Contact Person']?.rich_text[0]?.plain_text || '' }}"
            },
            {
              "id": "bb-set-04",
              "name": "deal_stage",
              "type": "string",
              "value": "={{ $json.properties['Deal Stage']?.select?.name || '' }}"
            },
            {
              "id": "bb-set-05",
              "name": "deal_budget",
              "type": "string",
              "value": "={{ $json.properties['Budget']?.rich_text[0]?.plain_text || 'Not mentioned' }}"
            },
            {
              "id": "bb-set-06",
              "name": "deal_campaign",
              "type": "string",
              "value": "={{ $json.properties['Campaign Type']?.select?.name || '' }}"
            },
            {
              "id": "bb-set-07",
              "name": "deal_channel",
              "type": "string",
              "value": "={{ $json.properties['Channel']?.select?.name || '' }}"
            },
            {
              "id": "bb-set-08",
              "name": "deal_notes",
              "type": "string",
              "value": "={{ $json.properties['Notes']?.rich_text[0]?.plain_text || '' }}"
            },
            {
              "id": "bb-set-09",
              "name": "notion_page_id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "typeVersion": 3.3
    },
    {
      "id": "19b05e1f-a492-4c6e-ac54-625a05154058",
      "name": "\ud83e\udd16 OpenAI - Follow-up",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2624,
        1904
      ],
      "parameters": {
        "options": {
          "temperature": 0.6
        }
      },
      "typeVersion": 1
    },
    {
      "id": "f8509ada-cc6f-420e-b8ff-e0ea1cea1cb3",
      "name": "\u270d\ufe0f LLM - Follow-up Draft",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2432,
        1680
      ],
      "parameters": {
        "text": "=Draft a brief follow-up email for a sponsorship deal.\n\nCompany: {{ $json.deal_company }}\nContact: {{ $json.deal_contact_name }}\nDeal Stage: {{ $json.deal_stage }}\nBudget: {{ $json.deal_budget }}\nCampaign: {{ $json.deal_campaign }}\nChannel: {{ $json.deal_channel }}\nNotes: {{ $json.deal_notes }}\n\nWrite a friendly, short follow-up email (max 80 words) that:\n- References the previous conversation naturally\n- Politely checks if they are still interested\n- Asks if the timeline has changed\n\nReturn ONLY the email body text. No subject line.",
        "promptType": "define"
      },
      "typeVersion": 1.4
    },
    {
      "id": "b904e4a3-411f-4aee-95f1-d6709ff97d6d",
      "name": "\ud83d\udcf1 Telegram - Follow-up Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2848,
        1680
      ],
      "webhookId": "585254ef-f311-48ce-bf78-e3c7f5046612",
      "parameters": {
        "text": "=\ud83d\udd14 *Follow-up Due Today!*\n\n\ud83c\udfe2 *Company:* {{ $('\ud83d\udd27 Extract Deal Info').item.json.deal_company }}\n\ud83d\udce7 *Email:* {{ $('\ud83d\udd27 Extract Deal Info').item.json.deal_contact_email }}\n\ud83d\udcca *Stage:* {{ $('\ud83d\udd27 Extract Deal Info').item.json.deal_stage }}\n\ud83d\udcb0 *Budget:* {{ $('\ud83d\udd27 Extract Deal Info').item.json.deal_budget }}\n\ud83d\udcfa *Channel:* {{ $('\ud83d\udd27 Extract Deal Info').item.json.deal_channel }}\n\n\u2709\ufe0f *Suggested Follow-up:*\n{{ $json.text }}\n\nUpdate deal stage in Notion after sending.",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e9da37e5-8885-4a7c-afbb-c737bd8ce3e5",
      "name": "\ud83d\udcc5 Monthly Report Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        976,
        2352
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "39e529f5-2f4c-48a7-9fcc-e567418ac9c5",
      "name": "\ud83d\udcb0 Notion - Get Paid Deals",
      "type": "n8n-nodes-base.notion",
      "position": [
        1200,
        2352
      ],
      "parameters": {
        "filters": {
          "conditions": [
            {
              "key": "Deal Stage|select",
              "condition": "equals"
            }
          ]
        },
        "options": {},
        "resource": "databasePage",
        "operation": "getAll",
        "returnAll": true,
        "databaseId": "YOUR_NOTION_DATABASE_ID",
        "filterType": "manual"
      },
      "typeVersion": 2.2
    },
    {
      "id": "b3b842b3-59b6-4a0d-b3f6-32982830b833",
      "name": "\ud83d\udcca Calculate Revenue Stats",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        2352
      ],
      "parameters": {
        "jsCode": "const deals = $input.all();\nconst now = new Date();\nconst targetMonth = now.getMonth() === 0 ? 11 : now.getMonth() - 1;\nconst targetYear = now.getMonth() === 0 ? now.getFullYear() - 1 : now.getFullYear();\n\nlet totalRevenue = 0;\nlet dealCount = 0;\nconst dealList = [];\nconst campaignBreakdown = {};\nconst channelBreakdown = {};\n\nfor (const deal of deals) {\n  const props = deal.json.properties;\n  const lastContact = props['Last Contact']?.date?.start;\n  if (lastContact) {\n    const dealDate = new Date(lastContact);\n    if (dealDate.getMonth() === targetMonth && dealDate.getFullYear() === targetYear) {\n      const revenue = props['Revenue']?.number || 0;\n      const company = props['Company Name']?.title[0]?.plain_text || 'Unknown';\n      const campaign = props['Campaign Type']?.select?.name || 'Unknown';\n      const channel = props['Channel']?.select?.name || 'Unknown';\n      totalRevenue += revenue;\n      dealCount++;\n      dealList.push({ company, revenue, campaign, channel });\n      campaignBreakdown[campaign] = (campaignBreakdown[campaign] || 0) + revenue;\n      channelBreakdown[channel] = (channelBreakdown[channel] || 0) + revenue;\n    }\n  }\n}\n\nconst monthNames = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nreturn [{\n  json: {\n    report_month: monthNames[targetMonth],\n    report_year: targetYear,\n    total_revenue: totalRevenue,\n    deal_count: dealCount,\n    deal_list: JSON.stringify(dealList),\n    campaign_breakdown: JSON.stringify(campaignBreakdown),\n    channel_breakdown: JSON.stringify(channelBreakdown),\n    avg_deal_value: dealCount > 0 ? Math.round(totalRevenue / dealCount) : 0\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "9356227d-8041-4c36-94ed-d7211ac8c120",
      "name": "\ud83e\udd16 OpenAI - Report Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1680,
        2496
      ],
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "typeVersion": 1
    },
    {
      "id": "afdb4338-43df-4e65-b1e1-d17bbf363fd9",
      "name": "\u270d\ufe0f LLM - Monthly Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1680,
        2288
      ],
      "parameters": {
        "text": "=Write a motivating monthly sponsorship revenue summary for a content creator.\n\nMonth: {{ $json.report_month }} {{ $json.report_year }}\nTotal Revenue: ${{ $json.total_revenue }}\nDeals Closed: {{ $json.deal_count }}\nAverage Deal: ${{ $json.avg_deal_value }}\nDeals: {{ $json.deal_list }}\nBy Campaign: {{ $json.campaign_breakdown }}\nBy Channel: {{ $json.channel_breakdown }}\n\nWrite 3-4 sentences that:\n- Celebrate wins (or encourage if numbers are low)\n- Highlight the best performing channel or campaign type\n- Give one actionable tip for next month\n\nTone: upbeat, like a friendly business coach. Return plain text only.",
        "promptType": "define"
      },
      "typeVersion": 1.4
    },
    {
      "id": "eb5f6f3a-f144-4bcb-8f66-17d4a70c9ae8",
      "name": "\ud83d\udcf1 Telegram - Monthly Report",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2064,
        2288
      ],
      "webhookId": "57adbfcd-7b3d-47ad-81ae-c1ac28f6a032",
      "parameters": {
        "text": "=\ud83d\udcca *Monthly Sponsorship Report \u2014 {{ $('\ud83d\udcca Calculate Revenue Stats').item.json.report_month }} {{ $('\ud83d\udcca Calculate Revenue Stats').item.json.report_year }}*\n\n\ud83d\udcb5 *Total Revenue:* ${{ $('\ud83d\udcca Calculate Revenue Stats').item.json.total_revenue }}\n\ud83e\udd1d *Deals Closed:* {{ $('\ud83d\udcca Calculate Revenue Stats').item.json.deal_count }}\n\ud83d\udcc8 *Avg Deal:* ${{ $('\ud83d\udcca Calculate Revenue Stats').item.json.avg_deal_value }}\n\n\ud83e\udd16 *AI Insights:*\n{{ $json.text }}\n\n_Full details in your Notion Sponsorship Database._",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "b4541787-2234-4441-8368-e90fd1297013",
      "name": "\ud83d\udce7 Gmail - Monthly Report Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2336,
        2288
      ],
      "webhookId": "151ec761-65ac-49db-8f86-dd4fa9114207",
      "parameters": {
        "sendTo": "user@example.com",
        "message": "=<h2>Sponsorship Revenue \u2014 {{ $('\ud83d\udcca Calculate Revenue Stats').item.json.report_month }} {{ $('\ud83d\udcca Calculate Revenue Stats').item.json.report_year }}</h2><table border='1' cellpadding='8' style='border-collapse:collapse'><tr><td><b>Total Revenue</b></td><td>${{ $('\ud83d\udcca Calculate Revenue Stats').item.json.total_revenue }}</td></tr><tr><td><b>Deals Closed</b></td><td>{{ $('\ud83d\udcca Calculate Revenue Stats').item.json.deal_count }}</td></tr><tr><td><b>Avg Deal</b></td><td>${{ $('\ud83d\udcca Calculate Revenue Stats').item.json.avg_deal_value }}</td></tr></table><h3>AI Insights</h3><p>{{ $('\u270d\ufe0f LLM - Monthly Summary').item.json.text }}</p><h3>Deals This Month</h3><pre>{{ $('\ud83d\udcca Calculate Revenue Stats').item.json.deal_list }}</pre>",
        "options": {
          "appendAttribution": false
        },
        "subject": "=\ud83d\udcca Sponsorship Report \u2014 {{ $('\ud83d\udcca Calculate Revenue Stats').item.json.report_month }} {{ $('\ud83d\udcca Calculate Revenue Stats').item.json.report_year }}"
      },
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "\ud83d\udce7 Gmail Trigger": {
      "main": [
        [
          {
            "node": "\ud83d\udd27 Extract Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd01 Loop Each Deal": {
      "main": [
        [
          {
            "node": "\ud83d\udd27 Extract Deal Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd0d Is Sponsorship?": {
      "main": [
        [
          {
            "node": "\ud83d\udd0e Notion - Search Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u23f0 Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "\ud83d\udccb Notion - Get Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd00 Merge After Save": {
      "main": [
        [
          {
            "node": "\u270d\ufe0f LLM - Draft Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd27 Extract Deal Info": {
      "main": [
        [
          {
            "node": "\u270d\ufe0f LLM - Follow-up Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd27 Extract Email Data": {
      "main": [
        [
          {
            "node": "\ud83e\udde0 LLM - Classify and Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16 OpenAI - Follow-up": {
      "ai_languageModel": [
        [
          {
            "node": "\u270d\ufe0f LLM - Follow-up Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "\u2699\ufe0f Parse AI Response": {
      "main": [
        [
          {
            "node": "\ud83d\udd0d Is Sponsorship?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2705 Notion - Create Deal": {
      "main": [
        [
          {
            "node": "\ud83d\udd00 Merge After Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u270d\ufe0f LLM - Draft Reply": {
      "main": [
        [
          {
            "node": "\ud83d\udcf1 Telegram - New Deal Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16 OpenAI - Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "\ud83e\udde0 LLM - Classify and Extract",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udccb Deal Already Exists?": {
      "main": [
        [
          {
            "node": "\ud83d\udd04 Notion - Update Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\u2705 Notion - Create Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udd04 Notion - Update Deal": {
      "main": [
        [
          {
            "node": "\ud83d\udd00 Merge After Save",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "\ud83d\udd0e Notion - Search Deal": {
      "main": [
        [
          {
            "node": "\ud83d\udccb Deal Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udccc Has Follow-ups Today?": {
      "main": [
        [
          {
            "node": "\ud83d\udd01 Loop Each Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcc5 Monthly Report Trigger": {
      "main": [
        [
          {
            "node": "\ud83d\udcb0 Notion - Get Paid Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16 OpenAI - Reply Drafter": {
      "ai_languageModel": [
        [
          {
            "node": "\u270d\ufe0f LLM - Draft Reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16 OpenAI - Report Writer": {
      "ai_languageModel": [
        [
          {
            "node": "\u270d\ufe0f LLM - Monthly Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "\u270d\ufe0f LLM - Follow-up Draft": {
      "main": [
        [
          {
            "node": "\ud83d\udcf1 Telegram - Follow-up Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u270d\ufe0f LLM - Monthly Summary": {
      "main": [
        [
          {
            "node": "\ud83d\udcf1 Telegram - Monthly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcb0 Notion - Get Paid Deals": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Calculate Revenue Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcca Calculate Revenue Stats": {
      "main": [
        [
          {
            "node": "\u270d\ufe0f LLM - Monthly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udccb Notion - Get Follow-ups": {
      "main": [
        [
          {
            "node": "\ud83d\udccc Has Follow-ups Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcf1 Telegram - Monthly Report": {
      "main": [
        [
          {
            "node": "\ud83d\udce7 Gmail - Monthly Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udde0 LLM - Classify and Extract": {
      "main": [
        [
          {
            "node": "\u2699\ufe0f Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}