templates/content-creation/8754-fast-track-vip-tickets-with-google-sheets-clickup-and-telegram/workflow.json
{
  "id": "gzNGhZnzQh6fH8ZT",
  "meta": {
    "instanceId": "8443f10082278c46aa5cf3acf8ff0f70061a2c58bce76efac814b16290845177"
  },
  "name": "Fast-Track-VIP-test",
  "tags": [],
  "nodes": [
    {
      "id": "9e0dbca6-7e84-4df7-9954-a28316c4b481",
      "name": "When clicking \u2018Execute workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        336,
        384
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3227d851-920e-4184-af54-7a6be71f52c5",
      "name": "\ud83d\udccb Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "width": 320,
        "height": 336,
        "content": "## \ud83d\udccb WORKFLOW OVERVIEW\n\n**Purpose:** Automatically fast-track VIP customer tickets through priority processing\n\n**Flow:** Google Sheets \u2192 VIP Check \u2192 ClickUp Task \u2192 Telegram Alert\n\n**Benefits:**\n\u2705 Instant VIP recognition\n\u2705 Priority task creation\n\u2705 Real-time notifications\n\u2705 Automated workflow execution"
      },
      "typeVersion": 1
    },
    {
      "id": "2250ae47-cfdf-402b-875b-9632f8a6d163",
      "name": "\ud83d\ude80 Trigger Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        48
      ],
      "parameters": {
        "width": 280,
        "height": 284,
        "content": "## \ud83d\ude80 START HERE\n\n**Manual Trigger Node**\n\n\u2022 Click 'Execute workflow' to run manually\n\u2022 This starts the entire VIP processing chain\n\u2022 Perfect for testing or one-time runs\n\n\ud83d\udca1 **Tip:** You can replace this with webhook, schedule, or other triggers for automation"
      },
      "typeVersion": 1
    },
    {
      "id": "548c9741-bffb-42f2-bb96-705c693e1702",
      "name": "\ud83d\udcca Data Source Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        560
      ],
      "parameters": {
        "width": 280,
        "height": 300,
        "content": "## \ud83d\udcca DATA SOURCE\n\n**Google Sheets Node**\n\n\u2022 Reads customer ticket data from spreadsheet\n\u2022 Contains: Customer info, tags, descriptions\n\u2022 Sheet: \"Ticket status dummy\"\n\n\ud83d\udd27 **Setup Required:**\n\u2022 Connect Google Sheets credentials\n\u2022 Verify spreadsheet permissions\n\u2022 Ensure 'Tag' column exists"
      },
      "typeVersion": 1
    },
    {
      "id": "de124edc-e31d-45e9-b84f-2247ca446daf",
      "name": "\ud83d\udd0d VIP Detection Logic",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        48
      ],
      "parameters": {
        "width": 280,
        "height": 300,
        "content": "## \ud83d\udd0d VIP DETECTION\n\n**IF Node - VIP Filter**\n\n\u2022 Checks if 'Tag' field contains 'VIP'\n\u2022 Only VIP customers proceed to next steps\n\u2022 Non-VIP customers are filtered out\n\n\u2699\ufe0f **Logic:** \n`Tag contains \"VIP\"` = TRUE \u2192 Continue\n`Tag contains \"VIP\"` = FALSE \u2192 Stop"
      },
      "typeVersion": 1
    },
    {
      "id": "ab531414-b2bd-4c90-9c50-83fb45870db5",
      "name": "\ud83d\udcdd Task Management",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        544
      ],
      "parameters": {
        "width": 280,
        "height": 316,
        "content": "## \ud83d\udcdd TASK CREATION\n\n**ClickUp Integration**\n\n\u2022 Creates priority task for VIP tickets\n\u2022 Task name: \"VIP Ticket: [Description]\"\n\u2022 Assigned to specific team/space/folder\n\n\ud83d\udd27 **Setup Required:**\n\u2022 ClickUp API credentials\n\u2022 Verify team/space/folder IDs\n\u2022 Test task creation permissions"
      },
      "typeVersion": 1
    },
    {
      "id": "a56aac1c-5f22-45f5-9758-81246ac835be",
      "name": "\ud83d\udcf1 Alert System",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        48
      ],
      "parameters": {
        "width": 280,
        "height": 268,
        "content": "## \ud83d\udcf1 INSTANT ALERTS\n\n**Telegram Notification**\n\n\u2022 Sends immediate VIP ticket alert\n\u2022 Includes: Subject, requester email\n\u2022 Notifies team of new priority task\n\n\ud83d\udd27 **Setup Required:**\n\u2022 Telegram bot token\n\u2022 Update 'your-telegram-chat-id'\n\u2022 Test message delivery"
      },
      "typeVersion": 1
    },
    {
      "id": "432df4e5-329e-4eb5-a8cf-d195407f31f7",
      "name": "\u26a1 Setup Checklist",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        432
      ],
      "parameters": {
        "width": 300,
        "height": 388,
        "content": "## \u26a1 QUICK SETUP CHECKLIST\n\n**Before Running:**\n\n1. \u2610 Connect Google Sheets credentials\n2. \u2610 Verify ClickUp API connection\n3. \u2610 Update Telegram chat ID\n4. \u2610 Test with sample VIP data\n5. \u2610 Check all node connections\n\n**Common Issues:**\n\u2022 Missing credentials\n\u2022 Wrong chat ID format\n\u2022 Spreadsheet permissions\n\u2022 API rate limits"
      },
      "typeVersion": 1
    },
    {
      "id": "176aa797-46bf-4d6f-80fe-504d43435e8e",
      "name": "\ud83c\udfaf Business Benefits",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        336
      ],
      "parameters": {
        "width": 320,
        "height": 320,
        "content": "## \ud83c\udfaf WORKFLOW BENEFITS\n\n**Why Use This Automation:**\n\n\u2022 **Speed:** Instant VIP recognition\n\u2022 **Consistency:** No missed VIP tickets\n\u2022 **Visibility:** Real-time notifications\n\u2022 **Tracking:** Organized in ClickUp\n\u2022 **Scalable:** Handles multiple tickets\n\n**Perfect for:** Customer service teams, support departments, sales organizations"
      },
      "typeVersion": 1
    },
    {
      "id": "fe522ca7-ea23-4677-a25c-b36d75a95363",
      "name": "Create ClickUp Task1",
      "type": "n8n-nodes-base.clickUp",
      "position": [
        1232,
        384
      ],
      "parameters": {
        "list": "901611032798",
        "name": "=VIP Ticket:{{ $('Check High Priority').item.json.description }}",
        "team": "9016683627",
        "space": "90162844741",
        "folder": "90164394824",
        "additionalFields": {}
      },
      "credentials": {
        "clickUpApi": {
          "id": "credential-id",
          "name": "clickUpApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e98fec8a-8ae7-4842-af5c-ac196336e595",
      "name": "Send Telegram Alert1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1456,
        384
      ],
      "webhookId": "27241cf0-0124-44ef-a465-23d056e98392",
      "parameters": {
        "text": "=\ud83d\udea8 VIP Ticket received!\n\nSubject:{{ $('Check High Priority').item.json.subject }}\nRequester: {{ $('Get the VIP user').item.json.email }}\nCheck ClickUp for the created task.",
        "chatId": "<Your Chat ID>",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "76471d37-f68f-4a60-bfdb-8656cf32159c",
      "name": "Get many tickets",
      "type": "n8n-nodes-base.zendesk",
      "position": [
        560,
        384
      ],
      "parameters": {
        "options": {},
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "zendeskApi": {
          "id": "credential-id",
          "name": "zendeskApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "43ae95a3-5ad2-451a-bee6-0e451debe7c3",
      "name": "Check High Priority",
      "type": "n8n-nodes-base.if",
      "position": [
        784,
        384
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Get many tickets').item.json.priority }}",
              "value2": "high",
              "operation": "contains"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8fff9c6b-2444-4c3a-bb13-b96014acda1b",
      "name": "Get the VIP user",
      "type": "n8n-nodes-base.zendesk",
      "position": [
        1008,
        384
      ],
      "parameters": {
        "id": "={{ $json.requester_id }}",
        "resource": "user",
        "operation": "get"
      },
      "credentials": {
        "zendeskApi": {
          "id": "credential-id",
          "name": "zendeskApi Credential"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e129e56e-ddbe-4fd2-bc9d-317efa2ed203",
  "connections": {
    "Get many tickets": {
      "main": [
        [
          {
            "node": "Check High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the VIP user": {
      "main": [
        [
          {
            "node": "Create ClickUp Task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Priority": {
      "main": [
        [
          {
            "node": "Get the VIP user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ClickUp Task1": {
      "main": [
        [
          {
            "node": "Send Telegram Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Get many tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}