templates/content-creation/9342-generate-youtube-scripts-for-shorts-long-form-with-gemini-ai-and-tavily-research/workflow.json
{
  "meta": {
    "instanceId": "31645fe974a636f0f842088a1a2b47fcb85d774386add7f76f469cfce7c26489"
  },
  "nodes": [
    {
      "id": "b57b0c96-d084-4b99-9f2a-df8892654219",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "notes": "You are a senior YouTube script writer for the Website\u202fLearners channel.\nWrite a complete script with:\n  \u2460 a catchy hook (max\u202f20\u202fwords)\n  \u2461 a friendly intro\n  \u2462 3\u20115 body sections with smooth transitions\n  \u2463 a final CTA to like & subscribe.\nKeep the tone casual and engaging.",
      "position": [
        368,
        160
      ],
      "parameters": {
        "text": "=Here is the video title: {{ $('On form submission').item.json['Provide topic'] }}\n\nHere is the summary: {{ $('Websearch').item.json.message.content }}",
        "options": {
          "systemMessage": "=You are a senior YouTube short script writer. you have to create a complete youtube short video script with the provided summary which is collected from top google results for the given title.\n---\n\n\u2726  OUTPUT FORMAT  \u2726\n\n\u2022 Return the entire script as plain text exactly like this example\n\n\u2022 Style Reference (tone, pacing, formatting):\n{{ $json.short_style_ref }}\n\nuse it for a reference script\n\n(Keep one blank line between every sentence or logical beat, no markdown, no JSON.)\n",
          "returnIntermediateSteps": false
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "edfa00aa-dc19-4e4e-8e65-e2a6192d5a19",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -880,
        480
      ],
      "webhookId": "6ab6f2cf-862e-4ed4-a3f7-6cdee0929c79",
      "parameters": {
        "options": {},
        "formTitle": "Provide topic",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Provide topic",
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Choose video type",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Short video"
                  },
                  {
                    "option": "Long video"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "554ca2ba-2091-41ce-b656-31fb35df36a6",
      "name": "Create Doc",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        688,
        160
      ],
      "parameters": {
        "title": "={{ $('On form submission').item.json['Provide topic'] }}_Shorts",
        "folderId": "default"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "credential-id",
          "name": "googleDocsOAuth2Api Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "ba1d37b8-bec1-4a0e-ba06-a5ca71659284",
      "name": "Update Doc",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        880,
        160
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "={{ $('AI Agent').item.json.output }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "={{ $json.id }}"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "credential-id",
          "name": "googleDocsOAuth2Api Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "4e2aa706-c4eb-4da2-811c-4dff3116b12f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -656,
        480
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "93dde7a7-9eb8-4c16-beaf-6f66a9c08734",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json['Choose video type'] }}",
              "rightValue": "Short video"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b34e4035-dd43-4d0b-8f89-c9cb310d4f06",
      "name": "Create Outline",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        176,
        624
      ],
      "parameters": {
        "text": "=Summary: {{ $json.message.content }}\n\nNow based on this summary, try to create a youtube video outline for the topic \"{{ $('Tavily1').item.json.query }}\". With proper headings (include sub headings under each main heading). Each item in the outline needs to be an important and essential and crucial information that is needed to solve the user's intent. Do not include any fluff or nice to have content. Focus on the must haves.\nAvoid the words \"section 1, 2, etc \" in the outline. Just stick to the actual headings.",
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "fdf6dddb-44d1-411c-a807-c4bf1c8e5de7",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "notes": "You are a senior YouTube script writer for the Website\u202fLearners channel.\nWrite a complete script with:\n  \u2460 a catchy hook (max\u202f20\u202fwords)\n  \u2461 a friendly intro\n  \u2462 3\u20115 body sections with smooth transitions\n  \u2463 a final CTA to like & subscribe.\nKeep the tone casual and engaging.",
      "position": [
        656,
        624
      ],
      "parameters": {
        "text": "=### CONTEXT\n\u2022 Video Title: {{ $('Tavily1').item.json.query }}\n\u2022 Style Reference (tone, pacing, formatting): \n{{ $json.style_ref }}\n\n\u2022 Outline with sub\u2011points (exact order to follow):\n{{ $('Create Outline').item.json.text }}\n\n\u2022 Requested Video Type: {{ $('On form submission').item.json['Choose video type'] }}\n\n### TASK\nWrite a YouTube script **2\u202f500\u202f\u2013\u202f3\u202f000 words** long that:\n\n1. **Matches the requested video type automatically**\n   \u2022 If `videoType`\u00a0=\u00a0\u201clisticle\u201d \u2192 produce a numbered list style (Tool\u202f#1, Tool\u202f#2 \u2026) with snappy transitions.  \n   \u2022 If `videoType`\u00a0=\u00a0\u201cexperimental\u201d \u2192 use a story\u2011driven, curiosity\u2011building narrative (e.g., \u201cWe pitted four tools head\u2011to\u2011head\u2014here\u2019s what happened\u2026\u201d).  \n   \u2022 If `videoType`\u00a0=\u00a0\u201chow\u2011to\u201d \u2192 write step\u2011by\u2011step instructions with clear sub\u2011steps and demonstration cues (screen actions, clicks, etc.).\n\n2. Intro (\u2264\u202f30\u202fwords)\n   \u2022 Capture attention immediately.\n   \u2022 Do **NOT** mention any host or channel name\u2014keep it neutral.\n\n3. **Body**\n   \u2022 Follow the outline\u2019s order exactly.\n   \u2022 For each tool/section:\n     \u2013 Start with a heading in the form **\u201cTool\u00a0#X\u00a0\u2013\u00a0<Name>\u201d** (or \u201cStep\u00a0#X\u201d for how\u2011to videos).  \n     \u2013 Expand into 2\u202f\u2013\u202f3 short paragraphs (~150\u202fwords) covering key features **plus one practical real\u2011world example**.  \n     \u2013 End with a 1\u2011sentence segue that smoothly leads into the next tool/step (e.g., \u201cSpeaking of collaboration\u2026 let\u2019s look at Notion\u00a0AI.\u201d).\n\n4. Outro / Recap\n   \u2022 Summarize main takeaways in 3\u20114 sentences.\n   \u2022 End with a neutral CTA: invite viewers to like, comment, and subscribe\u2014no host or channel names.\n\n\u2733\ufe0f  Language rule: Write at a 6th\u2011to\u20118th\u2011grade reading level.  \n\u2022 Use short sentences (\u2264\u202f18 words).  \n\u2022 Prefer simple, common words (say \u201cuse\u201d instead of \u201cutilize\u201d).  \n\u2022 No jargon unless you explain it in one plain\u2011English sentence.  \n\n### OUTPUT FORMAT\nPlain text, one blank line between paragraphs, no JSON fences.\n",
        "options": {
          "returnIntermediateSteps": false
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "73512944-a516-4dc7-9863-1b91ab0c5c6e",
      "name": "Create Doc1",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        976,
        624
      ],
      "parameters": {
        "title": "={{ $('On form submission').item.json['Provide topic'] }}",
        "folderId": "default"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "credential-id",
          "name": "googleDocsOAuth2Api Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "4d126194-61d1-4e3c-a3a2-6477db9ed0c6",
      "name": "Update Doc1",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        1152,
        624
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "={{ $('AI Agent1').item.json.output }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "={{ $json.id }}"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "credential-id",
          "name": "googleDocsOAuth2Api Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "3215df61-ef6a-41b0-b108-bad0b8197ae1",
      "name": "Tavily",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -352,
        160
      ],
      "parameters": {
        "url": "https://api.tavily.com/search",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"query\": \"{{ $('On form submission').item.json['Provide topic'] }}\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 3,\n  \"include_answer\": true,\n  \"include_raw_content\": true\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "e0185da0-7b61-497f-bb26-c0dc7707f6c2",
      "name": "Tavily1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -304,
        624
      ],
      "parameters": {
        "url": "https://api.tavily.com/search",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"query\": \"{{ $('On form submission').item.json['Provide topic'] }}\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 10,\n  \"include_answer\": true,\n  \"include_raw_content\": true\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "d7838788-fe6a-4ea1-bfc2-dec45401012b",
      "name": "Reference Script",
      "type": "n8n-nodes-base.set",
      "position": [
        192,
        160
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c0fdf687-0dff-4e9f-9400-9c58247ce61f",
              "name": "short_style_ref",
              "type": "string",
              "value": "SCRIPT 1: Experimental type script\n\nIntro:\n\nEver felt stuck on a task and wished someone could just guide you through it\u2014step by step/right on your screen?\nWell, guess what? There is an AI tool which can do that. Hey google! Can you see my screen\nYes i can see your screen\nCan you help separate the audio from this video\nYes i can help you with that, just right click on the file,.....\nWow, that was pretty cool, right?\n\nIn this video, I\u2019ll show you how to use this powerful tool step by step. Plus, I\u2019ll put it to the test with real tasks\u2014like working in Microsoft Excel, editing in Photoshop, or even help that I want with my PC.\n\nSo Stick around till the end, I\u2019m A from my channel, and let\u2019s get started!\n\n\n\nEver been stuck on a task and wished someone could just guide you through it step by step?\nWell, that\u2019s exactly what Google can do now.\nIt can see what\u2019s on your screen and walk you through tasks in real time. And the best part? It\u2019s completely free.\nIn this video, I\u2019ll show you the step-by-step process of using it and test it with real tasks like Microsoft Excel, Photoshop, and even setting up a new user on a PC.\nWatch this video till the end to see what it really delivers.\nSo this is A from my channel and let\u2019s get started.\n\nVersion 2:\nImagine learning complex software as easily as chatting with a mentor who knows exactly what you need. Sounds unreal? Well, it\u2019s not\u2014because that future is here.\nGoogle has quietly launched an AI tool that\u2019s changing the game. This isn\u2019t just another chatbot or tutorial\u2014it\u2019s an adaptive, intelligent assistant that slashes your learning curve and skyrockets your productivity. And the best part? It\u2019s completely free.\nIn this video, we\u2019re diving deep into Google AI Studio to show you how it\u2019s already making an impact. We\u2019ll walk you through how it works, what you can do with it, and how it can make learning faster and easier than ever.\nStay with me, because in the next 10 minutes, you\u2019re about to discover a learning hack so powerful, you\u2019ll wonder how you ever lived without it.\nSo this is A from my channel and let\u2019s get started.\n----------------------------------------------------------------------------------------------------------\nFirst, let\u2019s go to Google AI studio,\nJust click the link in the description\nAnd it\u2019ll take you to this page\nClick \u2018sign in to Google Studio\u2019 and sign in using your google account.\nNow go to \u201cstream real-time\u201d\n\nHere, you have three ways to interact with Google AI studio. You can talk to Google using your microphone, or show what you\u2019re looking at through your webcam, or even share your screen so it can guide you step by step.\nBut before you start, remember that Google AI records your screen and microphone while you use it.  Google uses this data to train their AI model, so make sure you don\u2019t have any confidential information on your screen.\nI\u2019m going to share my screen and see how it guides me.\nYou can click here and select the screen you want to share.\n\u2014--------------------------------------------------------------------------------------------------------------------\nA: Hey Google, I need some help with Excel, and I just shared my screen.\nGoogle: OK, I see. You need some help with Excel. Is there anything specific you need help with?\nA: Yes! Can you see my screen right now?\nGoogle: Yes, I can see your screen. I see a spreadsheet with sales data. What would you like to do?\nA: I want to create a pivot table to analyze the sales performance of each country. Can you guide me through it step by step?\nGoogle: Sure! First, please select all of the data in your spreadsheet, including the headers. Have you done that?\nA: All right, I\u2019ve selected all the data. What should I do next?\nGoogle: Great! Now that you\u2019ve selected all the data, click on the Insert tab at the top of the screen, and then select the Pivot Table option.\nA: OK, done. What\u2019s next?\nGoogle: I see you\u2019ve opened the Create Pivot Table window. Now, select whether you want to insert the pivot table into a new sheet or an existing sheet, \nA: Let it be in new sheet\n\nGoogle: Then click Create.\nA: Yes, I did that.\nGoogle: Now, since you want to analyze sales performance by country, in the Pivot Table Editor, under Rows, click Add and choose the Country field. Then, under Values, click Add and select the Sales field.\nA: OK, done.\nGoogle: Great! You have now created a pivot table to find the sales per country. Is there anything else I can help you with?\nWow, that was crazy! Google just watched our screen, understood what we needed and helped us solve the problem step by step.\nHere\u2019s a quick note: Each session lasts only 10 minutes and will automatically stop. If your problem isn\u2019t solved, don\u2019t worry, you can just start a new session and give a quick recap of what you\u2019ve done. Since Google doesn\u2019t remember past chats, this helps it pick up where you left off and continue helping you.\nOkay, Let\u2019s start a new one.\nNow, let's see how Google can assist with another tool. This time, I\u2019ll ask for help with Photoshop.\nSo let\u2019s go back to Google Studio.\nClick here to start the session.\nI\u2019m going to share my screen again.\nHey google, I need some help with Photoshop. Can you see my screen?\nGoogle:  \nA: I want to remove this person from this picture. Can you tell me how to do that step by step?\nGoogle: Sure! To remove the person in the background, first, select the Object Selection Tool from the toolbar on the left side of the screen. It looks like an arrow pointing to a rectangle with a dotted outline. Do you see the tool?\nA: Yes. I\u2019ve selected the \u201cobject selection tool\u201d. Now what should I do next?\nGoogle: Now, click on the person you want to remove.\nA: OK.\nGoogle: Once you click on the person, a selection of dotted lines will appear around them. Did that happen?\nA: Yeah, I can see the dotted lines around the person.\nGoogle: Now press the Delete key on your keyboard. Photoshop should automatically fill in the space with Content-Aware Fill.\nA: Wow! The person is gone. That was super easy.\nGoogle: You're welcome! Is there anything else I can assist you with today?\nOkay, let\u2019s try something different. I\u2019ll ask Google to guide me through creating another user on this PC. \nLet me go back to Google Studio and share my screen.\nA: Hey Google, I need to add a new user to my windows 10 PC. Can you help me with that?\nGoogle: Yes! To add a new user on your Windows PC, first, open the Settings app. Click on the Start button at the bottom left of your screen, it\u2019s the Windows logo,\nthen click the gear icon.\nA: OK, done. next?\nGoogle: Now, click on the Accounts icon. (It looks like two people.)\nA: Got it. I\u2019m in the Accounts section. What\u2019s next?\nGoogle: Now, on the left side of the screen, under Accounts, click on Family & Other Users.\nA: OK.\nGoogle: Now that you're on the Family & Other Users page, you should see a button that says Add someone else to this PC. Can you see that?\nA: Yes, I see it.\nGoogle: Great! Click on that button to continue creating a new user account.\nGoogle: Now, it\u2019s asking for a username and a password. Type in the username you\u2019d like and a password, then click Next.\nA: okay, Looks like the new user account has been created.\nGoogle: Great! Is there anything else I can help you with?\nA: Nope, that\u2019s it. Thank you!\nAlright, that was pretty cool! \nSo, after using Google AI studio, I must say it\u2019s super helpful in learning how to use a new software. It gives clear guidance and makes things easier. Of course it\u2019s not flawless. Sometimes, it might provide incorrect steps, but if you notice an issue, just point it out, and it will correct itself. \nBut overall, it does a great job walking you through each step.\nSo that\u2019s it guys.\n(This is how you can use Google AI to learn any new software.)\nHope you liked this video.\nIf you found this video helpful, do give it a thumbs up and subscribe to my channel.  \nThanks for watching\nI\u2019ll see you in the next video\nTake care \nBye - Bye\u2026\n\n\nSCRIPT 2: \u201cListicle\u201d type script\n\nIntro:\n\n\nAI video generation is evolving rapidly, and the competition among platforms is fiercer than ever. So, I decided to put them to the test. In this video, I\u2019ll be using the same image and prompt to create videos with each tool, comparing their quality and performance. Along the way, I\u2019ll showcase some practical real-world use cases, including incredible lip-syncing tools and more.\nStay tuned for some jaw-dropping results!\nThis is A from my channel and let\u2019s get started.\n\nRunwayml\nFirst, we have runway ml\nTo use the tool\nClick the link in the description\nIt\u2019ll take you to this page.\nNow Click \u2018try runway.\u2019\nAnd sign in using your Google account.\nOnce you\u2019re signed in.\nHere, you'll find different features available on RunwayML.\nNow to create your video \nClick \u2019generate video.\u2019\nHere we have three main models: you can choose the one you want.\nI\u2019m going to select \u201cGen 3 Alpha Turbo\u201d since it\u2019s the fastest.\nSo let\u2019s select that.\nNow to create your video. \nYou have two options from text to video and image to video.\nWe are going to create our video using \u201cimage to video\u201d.\nSo We\u2019re going to upload an image and then convert it into a video.\nlet\u2019s drag and drop the image \nThen click \u201ccrop\u201d to fit the image on the screen.\nHere, you can describe how you want your video to be\nThis helps the AI understand what you want and give you the best results.\n(So I\u2019m going to ask it to create\n\u201cA cinematic wide establishing shot of a man walking through battlefield, with soldiers moving in the background.\u201d)\nOnce you\u2019ve given the prompt,\nyou can choose the video duration here,\nthen click \u2018generate.\u2019\nAnd your video will be generated.\nAs you can see, the video has come out really well and the quality is also good.\nSo to download this video\nJust click here and it\u2019ll be downloaded to your computer.\nSo now we have seen how to generate videos from Runway and what kind of video it can create.\nKling AI\nNext, let\u2019s move to the second tool which is Kling AI\nTo use the tool\nClick the link in the description,\nand it\u2019ll take you to this page,\nNow click \u201csign in for free credits\u201d/ sign in\nFill in these details and create your account.\nNow go to AI videos,\nLike the previous tool, Kling AI also has two options for creating videos \u2014 text to video and image to video.\nLet\u2019s select \u2018image to video.\u2019\nNow I\u2019m going to upload the same image,\nEnter the same prompt \nAnd Click \u2018generate.\u2019\nLet\u2019s see how this tool generates the video\nNow this process will take some time \njust wait for a while\nAnd it's done\nThe video looks pretty good, and compared to the previous tool, the quality is much better. You can also see the movements of the soldiers here.\nLet\u2019s download it by clicking here.\nAnd your video will be downloaded.\nLuma AI\nOkay, let\u2019s move on to the third tool, which is Luma AI.\nTo use the tool\nClick the link in the description \nAnd it\u2019ll take you to this page\nNow click \u201ctry now.\u201d\nAnd Sign in with your Google account.\nOnce you\u2019re signed in\nLet\u2019s click here and upload the same image and prompt we used earlier.\nthen click here\nAs you can see, the video has been generated and it looks pretty decent, actually.\nSo to download this video, just click here\nAnd it\u2019ll be downloaded to your computer. \nAlright! \nMinimax AI\nLet\u2019s move to the fourth tool, which is Minimax AI\nTo use the tool\nClick the link in the description \nAnd Sign in with your Google account.\nThen click here and upload the same image and prompt we used earlier.\nNow click here and your video will be ready.\nWell, the video looks good. \nLet\u2019s download it.\nOkay \nNow that we've generated the videos using all four tools, let\u2019s compare the results.\nComparison of results:\n\nRunway did a great job with good video quality, following the prompt of the man walking in a Warfield, but the soldiers in the background aren\u2019t moving.\nKling AI is more realistic than RunwayML. You can see the soldiers walking, though the video angle could be better. Overall, it\u2019s great.\nLuma AI didn\u2019t get it right, actually. The characters at the back don\u2019t look real and the video quality is also poor.\nFinally, Minimax AI is almost perfect. The visuals are realistic, and the movements are smooth.\n\n\nAccording to me When it comes to quality and relevance to the prompt, Kling AI and minimax are equally good and stand out as the best.\nExample 2:\nNext, let\u2019s look at a few more examples and see how these tools perform in different scenarios.\nI have uploaded an image of a girl and asked these tools to create a video of a model filming a commercial with a beautiful smile and flowing hair.\nLet\u2019s see the results.\n\nActually, Kling AI just nailed it here. It captures the smile perfectly, and the video quality is great.\nRunwayML\u2019s video is also pretty good, but the smile is lacking. Also the hair movement feels a bit stiff compared to Kling AI.\nLuma AI\u2019s video looks okay. The video has some movements, but the model\u2019s face and lips look unnatural. \nMinimax\u2019s output looks great, and it follows the prompts accurately.\nAgain, Kling AI and Minimax did well here\u2026\nExample 3:\nAlright, we\u2019ll see one more example\nThis time, I\u2019ve uploaded an image of a man running on the seashore and asked the tools to make a video with details like waves touching his feet and water splashing around him.\nSo let\u2019s see the results.\nThe video which Runway generated turned out pretty good, but the detailing could\u2019ve been better. You can see the waves aren\u2019t touching his feet, and his legs also have some disturbance.\nKlingAI did an awesome job. You can see the water splashing as he runs, and the details on the sand are also very good.\nMinimax\u2019s video quality is great. Although it doesn't fully follow the prompt, the video still turned out really well.\nLuma AI also did a great job with the video, but the quality is quite low.\nOkay, now that we\u2019ve compared the top 4 tools.\nSo when it comes to the overall ranking, I would say KlingAI is first, minimax second, then RunwayML and Luma AI\u2026 \nNow these AI tools are not just for creating fun videos,\nYou can also use it for your business.\nHere\u2019s an ad I made using Kling AI and minimax.\nIt\u2019s impressive, right!\nBut wait, there\u2019s more.\nI\u2019ve got a few other interesting AI tools that you should definitely check out.\nLet\u2019s go through them one by one.\nHedra AI\nSo first, we have Hedra AI.\nThis tool can make any image talk by syncing it with audio, just like this.\nTo use the tool, \nClick the link in the description, and it will take you to Hedra AI.\nOnce you're there, \nClick on \u2018Create\u2019 and sign in with your Google account.\nNow go to import audio,\ndrag and drop the audio file here\nAnd you can adjust the length of the audio by dragging it like this. \nThen upload the image to which you want to sync the audio, \nand click \u2018Generate.\u2019 \nAs you can see, it has turned your image into a video with good lip sync.\nGW promo\nOkay guys, before we move on, let me show you a tool that\u2019ll be a huge time-saver if you\u2019re looking to write blogs.\n\nIt's called GravityWrite, \nJust enter your title, click 'create outline,' and you've got an outline.\n\nHit 'generate all,' and in seconds, you have a complete blog with stunning images.\n\nVisit gravitywrite.com, and get it for one full year at just $97!\n\nKrea AI\nNext, we have an interesting tool which can turn your images into a video with smooth transitions like this\nSo to check it out, just click the link in the description, \nand it\u2019ll take you to Krea AI.\nOnce you're there, \ngo to the \u2018Videos\u2019 section \nand sign in with your Google account. \nThen click \u2018Start\u2019 and click \u2018Open App.\u2019\nHere, you\u2019ll find some default images and their prompts\nSo first, let\u2019s delete these,\nJust hover on the image and click on this delete symbol.\nOnce you\u2019ve deleted it\nYou can set the duration of the video here\nI'm going to set it to 9 seconds\nNow to add the image\nClick on the timeline, \nthen click here and upload the image \nNow in the same way, you can add all the images you want.\nJust leave some space between the images to create the transitions in the video.\nOnce you\u2019ve added the images, \nNext, you need to describe how the image has to be transformed.\nSo just click here and enter the prompt.\nIn the same way, you can add the prompt to the other images.\nOnce you\u2019ve given the prompt,\nChoose a style for your video\nThen click here, select the aspect ratio,\nAnd click \u2018generate.\u2019\nAs you can see,  your video has been generated.\nActually, the video has come out well and the transitions between the  images are also good.\nNow to download the video\nJust click here\nAnd it\u2019ll be downloaded to your computer. Alright! \nViggel AI\nLet\u2019s check out the next tool, viggle AI.\nWith this tool, you can replace any character in a video. Imagine yourself acting in your favorite movie scene, just like this.\nAmazing right!\nTo know how to do that.\nJust click the link in the description\nAnd it\u2019ll take you to viggle AI\n\nThis tool is available on multiple platforms. \nI\u2019m going to try it on the web. \nSo let\u2019s click here \nand Sign in with your Google account.\nHere you need to upload the video in which you want to change/replace the character.\n\nBefore you upload, just make sure your video meets these conditions.\nYour video should have only one character, \nand nothing blocking or hiding that character. Also, avoid using footage with dark scenes, and for best results keep the video under 30 seconds.\nThis is the video which I\u2019m going to upload,\nSo Let\u2019s drag and drop it here.\nNext, upload the image of the character you want to replace in the video.\n\nMake sure to Use a full-body photo with a clear background; the image size shouldn\u2019t be more than 10MB.\nLet\u2019s Drag and drop the image here, and Click \u2018Create.\u2019\nAnd your video will be generated.\nYou can see that the character has been replaced with my image. There are a few glitches here and there, but the result is still impressive.\nYou can download the video by clicking here and it\u2019ll be saved to your computer.\nWsk promo\nBefore we move to the next tool, I wanted to quickly mention a great web hosting platform called WebSpaceKit that makes it super easy to build and launch WordPress sites. With WebSpaceKit, you get access to a free domain, free SSL, and have 1000s of free themes and plugins available to really customize your site. If you're looking to start a new WordPress project or want an easier way to manage your existing sites, definitely check out WebSpaceKit. You can even get 10% off by going through the link in the description or pinned comments.\nVidu AI\nAlright, now let\u2019s dive into our final tool. \nThis amazing tool allows you to turn your images into those viral hugging videos that have been trending online.\nTo use this tool\nClick the link in the description, \nand it\u2019ll take you to \u201cVidu AI\u201d\nNow click \u2018try vidu\u2019\nAnd Sign in with your Google account.\nNow Go to create videos\nHere, you need to Upload an image FEATURING two people together like this. \nYou can create an image like this using Canva, where you add two different photos together and download it as a single image.\nThen, describe what actions they\u2019ve to do in the video\nI\u2019ve asked to make them hug each other.\nAnd then click \u2018create.\u2019\nAs you can see, it has generated a video of them hugging each other.\nOutro \nSo, that\u2019s it, guys! \nThese are the best AI tools I\u2019ve found for video creation. \nCheck them out, and let us know which one\u2019s your favorite in the comments below.\nBefore we wrap up, I wanted to remind you about two incredible tools that can help you take your content creation to the next level. First, there's GravityWrite, an AI writing assistant that generates high-quality content based on easy-to-use templates. And second, WebSpaceKit a web hosting platform that simplifies the process of launching and building a WordPress site. Links to the tools are given below.\nIf you liked this video, do give it a thumbs-up.\nAnd don\u2019t forget to subscribe to my channel for more videos like this one.\nThanks for watching.\nI\u2019ll see you in the next video.\nTake care.\nBye-Bye...\n\n\nSCRIPT 3: \u201cHow to\u201d type script\n\nOutline:\nTo clone a web app\nWe\u2019re going to do 4 parts\nPart 1 - Generate the Web app structure.\nStep 1: Create an account on Lovable\nStep 2: Add a screenshot of the reference web app\nStep 3: Get the prompt to create the app.\nDemo of testing the app\nPart 2: Make the App Work\nStep 1: Connect the Web App to a Database\nSign up for Supabase using GitHub.\nCreate an organization in Supabase.\nStart a new project in Supabase.\nLink the project with Supabase.\nStep 2: Get your OpenAI API Key.\nStep 3: Add the API Key to the project.\nPart 3: Customize Your Web App\nStep 1: Generate a History Page \nStep 2: Generate an Authentication/Sign-up Page\nStep 3: Generate a Landing Page\nStep 4: Edit any element in the web app.\nPart 4: Publish your web app.\nDemo: Testing the app.\n\n\n\nIntro:\n\nWhat if I told you that you could clone any web app \u2014 design, features, and all \u2014 without writing a single line of code? Sounds wild, right? Well, watch this\u2026\n\nYep, that just happened \u2014 and it\u2019s all thanks to a crazy-powerful AI tool I just found. \nIn this video, I\u2019m going to show you how to clone a fully functional web application in just minutes - the user login, database, custom design, and even publishing it online with a free domain \u2014 all with zero coding!\nI\u2019ll walk you through how to customize everything to make it your own and deploy it live with just one click.\nSo if you\u2019ve ever dreamed of launching your own app without the tech headache, you need to see this.\nI\u2019m A from my channel, and let\u2019s get started!\nTo clone a web app\nWe\u2019re going to do 4 parts\nThe first part is to \u201cGenerate the structure of the Web App\u201d\nSo in this part, we\u2019ll generate the complete structure of the web app, including its design and layout.\nTo do that\nWe\u2019re going to do 3 steps\nThe first step is to \u201cCreate an account on Lovable.\u201d\nThis is the AI tool we\u2019re going to use to generate a web app.\nSo to create an account,\nClick the link in the description,\nNow click \u2018sign up.\u2019\nAnd sign in with your Google account.\nOkay, so now we\u2019ve successfully created our account on Lovable.\nOnce you\u2019ve created your account.\nLet\u2019s go to step 2, which is to \u201cAdd a screenshot of the reference app.\u201d\nTo clone any web app, you need to provide the AI tool with a reference image. This helps the AI analyze the design and layout, so it can create an accurate replica of the app.\nFirst, you need to take a screenshot of the app you want to clone.\nIn this video, I\u2019m going to clone 11 Labs, a popular text-to-speech AI tool.\nSo let\u2019s go to Elevenlabs and take a screenshot of it.\nIf you\u2019re using Windows, just press Windows + Print Screen. For Mac, you can press Command + Shift + 4\nOnce you\u2019ve taken the screenshot,\nGo back to lovable\nClick here and upload the screenshot.\nOnce you\u2019re done,\nNext we need to add the prompt to guide the AI to clone/generate the app for you.\nSo, let\u2019s go to step 3, which is to \u201cGet the prompt to create the app.\u201d\nTo generate the app, we need to give clear instructions to  Lovable AI about what it should do. The more details we provide, the better the AI will understand and build the app exactly how we want it.\nTo make this easier, I\u2019ve created a ChatGPT prompt that will act as a chatbot and help us write the perfect description for our app. \nI\u2019ve given the prompt in the description,\nJust copy the prompt\nThen go to chatgpt and paste it here\nAnd click send.\nNow ChatGPT will act as an AI assistant and ask you a few simple questions about the app you\u2019re cloning, like the type of app and its primary function.\nJust answer them one by one.\nFirst, it will ask the type of application that we\u2019re cloning,\nSince I\u2019m creating a text-to-speech web application. I\u2019ll enter that.\nThen, it will ask about the primary function of the app\nI\u2019m going to enter, \u201cIt\u2019ll convert text to speech with different voice models.\u201d\nNext, ChatGPT will provide a list of the 10 best API providers and ask us to select one. This will vary depending on the type of app you\u2019re trying to create. Since I\u2019m cloning a text to speech tool, the AI cannot build the backend for the app. That\u2019s why we need to select a text to speech API. \nIf you want to use another API that is not on the list, you can mention it/them here.\nI\u2019m going to go with \u2018open AI\u2019, since it provides high-quality voice generation compared to the others.\nNow based on your answers, ChatGPT will generate the detailed prompt to generate your webapp.\nOnce you\u2019ve got the prompt, we can generate the web app using Lovable\nSo to generate the web app, \njust copy the prompt, go back to Lovable AI, and paste it here.\nThen, click here to start generating the web app.\nAs you can see, the tool has started writing the code for our app.\nOnce it's done, \nYou can see our web application is ready, and it looks exactly like the screenshot we provided.\nSo now we\u2019ve successfully generated the structure of our app.\nNext, let\u2019s test the app and see if it works\nJust enter a text into the input field and click Generate.\nAs you can see, The app is not working and has not generated the voice. \nLet\u2019s ask Lovable AI why the app is not working and how to solve this. You can ask your question in a chat over here.\nAs you can see, it\u2019s saying that API integration is not done. \nIf you see here, it also suggests the solution.\nTo make the app work, we need to store the open AI API key securely in a database and integrate the open AI API Key. \nSo, why do we need to do this? If we add the API key directly to our app, it will be visible to the public in the source code. This means anyone accessing the site could misuse it. So to keep the API key secure, we need to set up a backend server for our web app.\nNext, let\u2019s go to part 2 of this tutorial, which is to \u201cCreate the backend for our app.\u201d\nA backend is essential to making any app fully functional. It handles storage, API integrations, and all the core functionalities. Without a backend, the app won\u2019t work properly.\nSo, to create a backend for our app\nFirst we need to \u201cConnect our web app to Supabase.\u201d\nSupabase is a backend integration feature available in Lovable,\nwhich lets us manage the database, user login, and file storage easily.\nSo, to connect it\nGo to supabase and click \u2018connect supabase\u2019\n(Again click \u2018connect supabase\u2019)\nAnd sign in with your GitHub account\nNow click \u2018authorize supabase\u2019\nAnd it will ask you to create an organization.\nThis will be needed to connect supabase to your web app.\nSo let\u2019s click \u2018create organization.\u2019\nClick \u2018\u2019create\u201d again.\nThen click \u2018authorize lovable\u2019\nNow we\u2019ve linked supabase to lovable.\nTo finish setting up the supabase connection,\nWe need to create a project in supabase.\nThis is where all your app\u2019s data will be securely stored and managed.\nTo create it,\nGo to \u201cconnect to a project\u201d \nAnd click \u201cCreate new project.\u201d\nHere, give a name for the project\nAdd a password \nand click \u2018Create a project.\u2019\nNow, we\u2019ve created the project \nNext, we need to connect the project/this to our app.\nTo connect it, go to supabase \nClick here and you\u2019ll see the project which you\u2019ve created.\nclick \u2018connect\u2019\nAnd click \u2018connect again.\u2019\nSo now we\u2019ve successfully connected our web app to supabase.\nLet\u2019s ask Lovable for the next steps to make our app work. \nAs you can see, it\u2019s suggesting that we need the OpenAI API key to enable the app\u2019s text-to-speech functionality.\nBut remember, these steps might be different depending on the type of app you\u2019re creating.\nNext, let\u2019s see how to get the open ai api key\nTo get the api key \nClick here\nIt\u2019ll take you to open ai\nNow click \u2018login\u2019 \nAnd sign in with your Google account.\nHere, click \u2018create new secret key\u2019\nThe,n enter a name and click create key \nAnd the api key will be created.\nOnce you\u2019ve got the API key\nTo add this key to your app,\nCopy it, and go back to \u201clovable.\nClick \u2018Add API Key.\u2019 \nPaste the key into the input field and click \u2018Submit.\u2019 \nOnce you\u2019ve added the api key, \nThe tool will secure your/the API key in the database.\nAnd it\u2019s done. \nSo now we\u2019ve successfully created the backend for our app and it\u2019s ready to use.\nTesting the app\nOkay, let\u2019s test our app and see how it works.\nFirst, we\u2019ll enter the text in this field and click \u2018generate\u2019\nThe voice has been generated. Let\u2019s play it\nWell, that sounds great, actually! We can download the audio by clicking here.\nWe can also try out different voice models. Let\u2019s select a new one and adjust the stability setting to make the voice sound more natural.\nAnd click generate.\nThere it is; the audio has been generated with the selected voice.\nNow that we\u2019ve tested our app, it\u2019s working perfectly.\nNext, let\u2019s go to part 3 of this tutorial, which is to \u201cCustomize your web app\u201d\nNow, if you see here, our app doesn\u2019t have the option to store the generated audio files.\nHistory page \nNext, let\u2019s see how to create a history page on our app where all the generated audio files are displayed, like this. \nSo to create the history page,\nLet\u2019s go to the chat \nI\u2019m going to instruct lovable to create a history page where I can see all the generated audio and ask it to store them in supabase (bucket).\nAs you can see, the tool has started writing SQL commands to create a Storage Bucket for the Audio files.\nOnce it\u2019s done\nWe\u2019ll get the \u201capply changes\u201d button here\nClick on it \nAs you can see, the history page has been added to our app.\nTo check if the history page works, let\u2019s generate a new voice. \nThen, if we refresh this page and go to history\nYou can see that, we have the generated audio file.\nNow that we\u2019ve successfully created a history page for our app.\nLet\u2019s confirm/test if the audio files are stored properly in the database.\nTo check that\nLet\u2019s go to supabase dashboard\nGo here and click \u2018storage\u2019\nHere, there will be a folder called Audio Files, where all the generated audio files will be displayed.\nOkay\nRight now, anyone can access and use our web app. But what if we want only registered users to access it?\nSignup page\nNext, let\u2019s see how to create the authentication page for our app, which is basically a sign-in page for the users.\nTo create it\nLike we did before, let\u2019s instruct the tool to create the authentication page for our web.\nThen click here\nYou can see that, the tool has started working on it, and it also created a table to store user data.\nOnce that\u2019s done\nClick \u2018apply changes\u2019\nAnd you can see that, the signup page has been added to our web app.\nLet\u2019s sign up \nFirst, go to the signup page\nEnter the email and password\nThen click \u2018sign up\u2019\nAnd that\u2019s it we\u2019ve signed up.\nLet\u2019s check if our user details are stored on the database\nTo do that\nLet\u2019s click \u2018users\u2019\nHere you can see that, the user details are stored here\nSo now, any registered user can log in to the app and access it securely.\nNow, we have created the authentication page for our web app.\nAlright!\nLanding page\nNext, let\u2019s create a landing page for our web app.\nThis is the first page users will see when they visit your app, so it\u2019s important to make it visually appealing.\nSo to create the landing page\nLet\u2019s instruct lovable to add a landing page with the features required and click here\nNow you can see that, our landing page has been created.\nIf we click this button, \nIt\u2019ll take us to the sign up page.\nSo now we\u2019ve successfully created the landing page for our web app.\nLet\u2019s say you want to change any element on your app\nHow will you do that?\nCustomize the app\nNext, let\u2019s see how you can customize the elements on your app.\nTo do that\nGo to \u2018edit\u2019 here\nNow click the element which you want to change \nI\u2019m going to change this content \nYou\u2019ll see an editing section like this \nJust make the changes here and it\u2019ll be added to your app.\nNow, let\u2019s say you want to change the color of this button. Just click on it, and you\u2019ll get options to adjust the color and even the size.\nIn the same way, you can customize any element on your website.\nOkay, once you\u2019re done with the customization\nPublish the app\nLet\u2019s go to the final part, which is to \u201cpublish your web app.\u201d\nOnce you publish your web app, it\u2019ll be live on the internet, and anyone can access it from anywhere.\nTo publish the app\nJust click \u2018publish\u2019\nAnd you\u2019ll be given a domain for your web app.\nClick \u2019publish\u2019 again\nAnd your app will be published and live on the internet. \nIf you click here, it\u2019ll take you to the app\nNow, let\u2019s check if everything works fine\nClick \u2018try for free\u2019\nAnd then sign in\nEnter the text, click \u2018generate\u2019\nAnd the voice will be generated.\nSo we\u2019ve successfully published our app and made it live on the internet.\nSo that\u2019s it, guys\nThis is how you can clone any web app using AI.\nHope you liked this video\nMake sure you subscribe to my channel for more videos like this one\nThanks for watching \nI\u2019ll see you in the next video\nTake care\nBye - Bye\u2026"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "e90e2682-e20e-454e-bf49-3e715fcee61f",
      "name": "Reference Script1",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        624
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "241186a1-6f63-419a-8eaa-519a51b2bda3",
              "name": "style_ref",
              "type": "string",
              "value": "Intro:   AI video generation is evolving rapidly, and the competition among platforms is fiercer than ever. So, I decided to put them to the test. In this video, I\u2019ll be using the same image and prompt to create videos with each tool, comparing their quality and performance. Along the way, I\u2019ll showcase some practical real-world use cases, including incredible lip-syncing tools and more. Stay tuned for some jaw-dropping results! This is A from my channel and let\u2019s get started.  Runwayml First, we have runway ml To use the tool Click the link in the description It\u2019ll take you to this page. Now Click \u2018try runway.\u2019 And sign in using your Google account. Once you\u2019re signed in. Here, you'll find different features available on RunwayML. Now to create your video  Click \u2019generate video.\u2019 Here we have three main models: you can choose the one you want. I\u2019m going to select \u201cGen 3 Alpha Turbo\u201d since it\u2019s the fastest. So let\u2019s select that. Now to create your video.  You have two options from text to video and image to video. We are going to create our video using \u201cimage to video\u201d. So We\u2019re going to upload an image and then convert it into a video. let\u2019s drag and drop the image  Then click \u201ccrop\u201d to fit the image on the screen. Here, you can describe how you want your video to be This helps the AI understand what you want and give you the best results. (So I\u2019m going to ask it to create \u201cA cinematic wide establishing shot of a man walking through battlefield, with soldiers moving in the background.\u201d) Once you\u2019ve given the prompt, you can choose the video duration here, then click \u2018generate.\u2019 And your video will be generated. As you can see, the video has come out really well and the quality is also good. So to download this video Just click here and it\u2019ll be downloaded to your computer. So now we have seen how to generate videos from Runway and what kind of video it can create. Kling AI Next, let\u2019s move to the second tool which is Kling AI To use the tool Click the link in the description, and it\u2019ll take you to this page, Now click \u201csign in for free credits\u201d/ sign in Fill in these details and create your account. Now go to AI videos, Like the previous tool, Kling AI also has two options for creating videos \u2014 text to video and image to video. Let\u2019s select \u2018image to video.\u2019 Now I\u2019m going to upload the same image, Enter the same prompt  And Click \u2018generate.\u2019 Let\u2019s see how this tool generates the video Now this process will take some time  just wait for a while And it's done The video looks pretty good, and compared to the previous tool, the quality is much better. You can also see the movements of the soldiers here. Let\u2019s download it by clicking here. And your video will be downloaded. Luma AI Okay, let\u2019s move on to the third tool, which is Luma AI. To use the tool Click the link in the description  And it\u2019ll take you to this page Now click \u201ctry now.\u201d And Sign in with your Google account. Once you\u2019re signed in Let\u2019s click here and upload the same image and prompt we used earlier. then click here As you can see, the video has been generated and it looks pretty decent, actually. So to download this video, just click here And it\u2019ll be downloaded to your computer.  Alright!  Minimax AI Let\u2019s move to the fourth tool, which is Minimax AI To use the tool Click the link in the description  And Sign in with your Google account. Then click here and upload the same image and prompt we used earlier. Now click here and your video will be ready. Well, the video looks good.  Let\u2019s download it. Okay  Now that we've generated the videos using all four tools, let\u2019s compare the results. Comparison of results:  Runway did a great job with good video quality, following the prompt of the man walking in a Warfield, but the soldiers in the background aren\u2019t moving. Kling AI is more realistic than RunwayML. You can see the soldiers walking, though the video angle could be better. Overall, it\u2019s great. Luma AI didn\u2019t get it right, actually. The characters at the back don\u2019t look real and the video quality is also poor. Finally, Minimax AI is almost perfect. The visuals are realistic, and the movements are smooth.   According to me When it comes to quality and relevance to the prompt, Kling AI and minimax are equally good and stand out as the best. Example 2: Next, let\u2019s look at a few more examples and see how these tools perform in different scenarios. I have uploaded an image of a girl and asked these tools to create a video of a model filming a commercial with a beautiful smile and flowing hair. Let\u2019s see the results.  Actually, Kling AI just nailed it here. It captures the smile perfectly, and the video quality is great. RunwayML\u2019s video is also pretty good, but the smile is lacking. Also the hair movement feels a bit stiff compared to Kling AI. Luma AI\u2019s video looks okay. The video has some movements, but the model\u2019s face and lips look unnatural.  Minimax\u2019s output looks great, and it follows the prompts accurately. Again, Kling AI and Minimax did well here\u2026 Example 3: Alright, we\u2019ll see one more example This time, I\u2019ve uploaded an image of a man running on the seashore and asked the tools to make a video with details like waves touching his feet and water splashing around him. So let\u2019s see the results. The video which Runway generated turned out pretty good, but the detailing could\u2019ve been better. You can see the waves aren\u2019t touching his feet, and his legs also have some disturbance. KlingAI did an awesome job. You can see the water splashing as he runs, and the details on the sand are also very good. Minimax\u2019s video quality is great. Although it doesn't fully follow the prompt, the video still turned out really well. Luma AI also did a great job with the video, but the quality is quite low. Okay, now that we\u2019ve compared the top 4 tools. So when it comes to the overall ranking, I would say KlingAI is first, minimax second, then RunwayML and Luma AI\u2026  Now these AI tools are not just for creating fun videos, You can also use it for your business. Here\u2019s an ad I made using Kling AI and minimax. It\u2019s impressive, right! But wait, there\u2019s more. I\u2019ve got a few other interesting AI tools that you should definitely check out. Let\u2019s go through them one by one. Hedra AI So first, we have Hedra AI. This tool can make any image talk by syncing it with audio, just like this. To use the tool,  Click the link in the description, and it will take you to Hedra AI. Once you're there,  Click on \u2018Create\u2019 and sign in with your Google account. Now go to import audio, drag and drop the audio file here And you can adjust the length of the audio by dragging it like this.  Then upload the image to which you want to sync the audio,  and click \u2018Generate.\u2019  As you can see, it has turned your image into a video with good lip sync. GW promo Okay guys, before we move on, let me show you a tool that\u2019ll be a huge time-saver if you\u2019re looking to write blogs.  It's called GravityWrite,  Just enter your title, click 'create outline,' and you've got an outline.  Hit 'generate all,' and in seconds, you have a complete blog with stunning images.  Visit gravitywrite.com, and get it for one full year at just $97!  Krea AI Next, we have an interesting tool which can turn your images into a video with smooth transitions like this So to check it out, just click the link in the description,  and it\u2019ll take you to Krea AI. Once you're there,  go to the \u2018Videos\u2019 section  and sign in with your Google account.  Then click \u2018Start\u2019 and click \u2018Open App.\u2019 Here, you\u2019ll find some default images and their prompts So first, let\u2019s delete these, Just hover on the image and click on this delete symbol. Once you\u2019ve deleted it You can set the duration of the video here I'm going to set it to 9 seconds Now to add the image Click on the timeline,  then click here and upload the image  Now in the same way, you can add all the images you want. Just leave some space between the images to create the transitions in the video. Once you\u2019ve added the images,  Next, you need to describe how the image has to be transformed. So just click here and enter the prompt. In the same way, you can add the prompt to the other images. Once you\u2019ve given the prompt, Choose a style for your video Then click here, select the aspect ratio, And click \u2018generate.\u2019 As you can see,  your video has been generated. Actually, the video has come out well and the transitions between the  images are also good. Now to download the video Just click here And it\u2019ll be downloaded to your computer. Alright!  Viggel AI Let\u2019s check out the next tool, viggle AI. With this tool, you can replace any character in a video. Imagine yourself acting in your favorite movie scene, just like this. Amazing right! To know how to do that. Just click the link in the description And it\u2019ll take you to viggle AI  This tool is available on multiple platforms.  I\u2019m going to try it on the web.  So let\u2019s click here  and Sign in with your Google account. Here you need to upload the video in which you want to change/replace the character.  Before you upload, just make sure your video meets these conditions. Your video should have only one character,  and nothing blocking or hiding that character. Also, avoid using footage with dark scenes, and for best results keep the video under 30 seconds. This is the video which I\u2019m going to upload, So Let\u2019s drag and drop it here. Next, upload the image of the character you want to replace in the video.  Make sure to Use a full-body photo with a clear background; the image size shouldn\u2019t be more than 10MB. Let\u2019s Drag and drop the image here, and Click \u2018Create.\u2019 And your video will be generated. You can see that the character has been replaced with my image. There are a few glitches here and there, but the result is still impressive. You can download the video by clicking here and it\u2019ll be saved to your computer. Wsk promo Before we move to the next tool, I wanted to quickly mention a great web hosting platform called WebSpaceKit that makes it super easy to build and launch WordPress sites. With WebSpaceKit, you get access to a free domain, free SSL, and have 1000s of free themes and plugins available to really customize your site. If you're looking to start a new WordPress project or want an easier way to manage your existing sites, definitely check out WebSpaceKit. You can even get 10% off by going through the link in the description or pinned comments. Vidu AI Alright, now let\u2019s dive into our final tool.  This amazing tool allows you to turn your images into those viral hugging videos that have been trending online. To use this tool Click the link in the description,  and it\u2019ll take you to \u201cVidu AI\u201d Now click \u2018try vidu\u2019 And Sign in with your Google account. Now Go to create videos Here, you need to Upload an image FEATURING two people together like this.  You can create an image like this using Canva, where you add two different photos together and download it as a single image. Then, describe what actions they\u2019ve to do in the video I\u2019ve asked to make them hug each other. And then click \u2018create.\u2019 As you can see, it has generated a video of them hugging each other. Outro  So, that\u2019s it, guys!  These are the best AI tools I\u2019ve found for video creation.  Check them out, and let us know which one\u2019s your favorite in the comments below. Before we wrap up, I wanted to remind you about two incredible tools that can help you take your content creation to the next level. First, there's GravityWrite, an AI writing assistant that generates high-quality content based on easy-to-use templates. And second, WebSpaceKit a web hosting platform that simplifies the process of launching and building a WordPress site. Links to the tools are given below. If you liked this video, do give it a thumbs-up. And don\u2019t forget to subscribe to my channel for more videos like this one. Thanks for watching. I\u2019ll see you in the next video. Take care. Bye-Bye...\n\nSCRIPT 1: Experimental type script\nIntro:\n\n\nEver felt stuck on a task and wished someone could just guide you through it\u2014step by step/right on your screen?\nWell, guess what? There is an AI tool which can do that. Hey google! Can you see my screen\nYes i can see your screen\nCan you help separate the audio from this video\nYes i can help you with that, just right click on the file,.....\nWow, that was pretty cool, right?\n\nIn this video, I\u2019ll show you how to use this powerful tool step by step. Plus, I\u2019ll put it to the test with real tasks\u2014like working in Microsoft Excel, editing in Photoshop, or even help that I want with my PC.\n\nSo Stick around till the end, I\u2019m A from my channel, and let\u2019s get started!\n\n\n\nEver been stuck on a task and wished someone could just guide you through it step by step?\nWell, that\u2019s exactly what Google can do now.\nIt can see what\u2019s on your screen and walk you through tasks in real time. And the best part? It\u2019s completely free.\nIn this video, I\u2019ll show you the step-by-step process of using it and test it with real tasks like Microsoft Excel, Photoshop, and even setting up a new user on a PC.\nWatch this video till the end to see what it really delivers.\nSo this is A from my channel and let\u2019s get started.\n\nVersion 2:\nImagine learning complex software as easily as chatting with a mentor who knows exactly what you need. Sounds unreal? Well, it\u2019s not\u2014because that future is here.\nGoogle has quietly launched an AI tool that\u2019s changing the game. This isn\u2019t just another chatbot or tutorial\u2014it\u2019s an adaptive, intelligent assistant that slashes your learning curve and skyrockets your productivity. And the best part? It\u2019s completely free.\nIn this video, we\u2019re diving deep into Google AI Studio to show you how it\u2019s already making an impact. We\u2019ll walk you through how it works, what you can do with it, and how it can make learning faster and easier than ever.\nStay with me, because in the next 10 minutes, you\u2019re about to discover a learning hack so powerful, you\u2019ll wonder how you ever lived without it.\nSo this is A from my channel and let\u2019s get started.\n----------------------------------------------------------------------------------------------------------\nFirst, let\u2019s go to Google AI studio,\nJust click the link in the description\nAnd it\u2019ll take you to this page\nClick \u2018sign in to Google Studio\u2019 and sign in using your google account.\nNow go to \u201cstream real-time\u201d\n\nHere, you have three ways to interact with Google AI studio. You can talk to Google using your microphone, or show what you\u2019re looking at through your webcam, or even share your screen so it can guide you step by step.\nBut before you start, remember that Google AI records your screen and microphone while you use it.  Google uses this data to train their AI model, so make sure you don\u2019t have any confidential information on your screen.\nI\u2019m going to share my screen and see how it guides me.\nYou can click here and select the screen you want to share.\n\u2014--------------------------------------------------------------------------------------------------------------------\nA: Hey Google, I need some help with Excel, and I just shared my screen.\nGoogle: OK, I see. You need some help with Excel. Is there anything specific you need help with?\nA: Yes! Can you see my screen right now?\nGoogle: Yes, I can see your screen. I see a spreadsheet with sales data. What would you like to do?\nA: I want to create a pivot table to analyze the sales performance of each country. Can you guide me through it step by step?\nGoogle: Sure! First, please select all of the data in your spreadsheet, including the headers. Have you done that?\nA: All right, I\u2019ve selected all the data. What should I do next?\nGoogle: Great! Now that you\u2019ve selected all the data, click on the Insert tab at the top of the screen, and then select the Pivot Table option.\nA: OK, done. What\u2019s next?\nGoogle: I see you\u2019ve opened the Create Pivot Table window. Now, select whether you want to insert the pivot table into a new sheet or an existing sheet, \nA: Let it be in new sheet\n\nGoogle: Then click Create.\nA: Yes, I did that.\nGoogle: Now, since you want to analyze sales performance by country, in the Pivot Table Editor, under Rows, click Add and choose the Country field. Then, under Values, click Add and select the Sales field.\nA: OK, done.\nGoogle: Great! You have now created a pivot table to find the sales per country. Is there anything else I can help you with?\nWow, that was crazy! Google just watched our screen, understood what we needed and helped us solve the problem step by step.\nHere\u2019s a quick note: Each session lasts only 10 minutes and will automatically stop. If your problem isn\u2019t solved, don\u2019t worry, you can just start a new session and give a quick recap of what you\u2019ve done. Since Google doesn\u2019t remember past chats, this helps it pick up where you left off and continue helping you.\nOkay, Let\u2019s start a new one.\nNow, let's see how Google can assist with another tool. This time, I\u2019ll ask for help with Photoshop.\nSo let\u2019s go back to Google Studio.\nClick here to start the session.\nI\u2019m going to share my screen again.\nHey google, I need some help with Photoshop. Can you see my screen?\nGoogle:  \nA: I want to remove this person from this picture. Can you tell me how to do that step by step?\nGoogle: Sure! To remove the person in the background, first, select the Object Selection Tool from the toolbar on the left side of the screen. It looks like an arrow pointing to a rectangle with a dotted outline. Do you see the tool?\nA: Yes. I\u2019ve selected the \u201cobject selection tool\u201d. Now what should I do next?\nGoogle: Now, click on the person you want to remove.\nA: OK.\nGoogle: Once you click on the person, a selection of dotted lines will appear around them. Did that happen?\nA: Yeah, I can see the dotted lines around the person.\nGoogle: Now press the Delete key on your keyboard. Photoshop should automatically fill in the space with Content-Aware Fill.\nA: Wow! The person is gone. That was super easy.\nGoogle: You're welcome! Is there anything else I can assist you with today?\nOkay, let\u2019s try something different. I\u2019ll ask Google to guide me through creating another user on this PC. \nLet me go back to Google Studio and share my screen.\nA: Hey Google, I need to add a new user to my windows 10 PC. Can you help me with that?\nGoogle: Yes! To add a new user on your Windows PC, first, open the Settings app. Click on the Start button at the bottom left of your screen, it\u2019s the Windows logo,\nthen click the gear icon.\nA: OK, done. next?\nGoogle: Now, click on the Accounts icon. (It looks like two people.)\nA: Got it. I\u2019m in the Accounts section. What\u2019s next?\nGoogle: Now, on the left side of the screen, under Accounts, click on Family & Other Users.\nA: OK.\nGoogle: Now that you're on the Family & Other Users page, you should see a button that says Add someone else to this PC. Can you see that?\nA: Yes, I see it.\nGoogle: Great! Click on that button to continue creating a new user account.\nGoogle: Now, it\u2019s asking for a username and a password. Type in the username you\u2019d like and a password, then click Next.\nA: okay, Looks like the new user account has been created.\nGoogle: Great! Is there anything else I can help you with?\nA: Nope, that\u2019s it. Thank you!\nAlright, that was pretty cool! \nSo, after using Google AI studio, I must say it\u2019s super helpful in learning how to use a new software. It gives clear guidance and makes things easier. Of course it\u2019s not flawless. Sometimes, it might provide incorrect steps, but if you notice an issue, just point it out, and it will correct itself. \nBut overall, it does a great job walking you through each step.\nSo that\u2019s it guys.\n(This is how you can use Google AI to learn any new software.)\nHope you liked this video.\nIf you found this video helpful, do give it a thumbs up and subscribe to my channel.  \nThanks for watching\nI\u2019ll see you in the next video\nTake care \nBye - Bye\u2026\n\nSCRIPT 3: \u201cHow to\u201d type script\n\nOutline:\nTo clone a web app\nWe\u2019re going to do 4 parts\nPart 1 - Generate the Web app structure.\nStep 1: Create an account on Lovable\nStep 2: Add a screenshot of the reference web app\nStep 3: Get the prompt to create the app.\nDemo of testing the app\nPart 2: Make the App Work\nStep 1: Connect the Web App to a Database\nSign up for Supabase using GitHub.\nCreate an organization in Supabase.\nStart a new project in Supabase.\nLink the project with Supabase.\nStep 2: Get your OpenAI API Key.\nStep 3: Add the API Key to the project.\nPart 3: Customize Your Web App\nStep 1: Generate a History Page \nStep 2: Generate an Authentication/Sign-up Page\nStep 3: Generate a Landing Page\nStep 4: Edit any element in the web app.\nPart 4: Publish your web app.\nDemo: Testing the app.\n\n\n\nIntro:\n\nWhat if I told you that you could clone any web app \u2014 design, features, and all \u2014 without writing a single line of code? Sounds wild, right? Well, watch this\u2026\n\nYep, that just happened \u2014 and it\u2019s all thanks to a crazy-powerful AI tool I just found. \nIn this video, I\u2019m going to show you how to clone a fully functional web application in just minutes - the user login, database, custom design, and even publishing it online with a free domain \u2014 all with zero coding!\nI\u2019ll walk you through how to customize everything to make it your own and deploy it live with just one click.\nSo if you\u2019ve ever dreamed of launching your own app without the tech headache, you need to see this.\nI\u2019m A from my channel, and let\u2019s get started!\nTo clone a web app\nWe\u2019re going to do 4 parts\nThe first part is to \u201cGenerate the structure of the Web App\u201d\nSo in this part, we\u2019ll generate the complete structure of the web app, including its design and layout.\nTo do that\nWe\u2019re going to do 3 steps\nThe first step is to \u201cCreate an account on Lovable.\u201d\nThis is the AI tool we\u2019re going to use to generate a web app.\nSo to create an account,\nClick the link in the description,\nNow click \u2018sign up.\u2019\nAnd sign in with your Google account.\nOkay, so now we\u2019ve successfully created our account on Lovable.\nOnce you\u2019ve created your account.\nLet\u2019s go to step 2, which is to \u201cAdd a screenshot of the reference app.\u201d\nTo clone any web app, you need to provide the AI tool with a reference image. This helps the AI analyze the design and layout, so it can create an accurate replica of the app.\nFirst, you need to take a screenshot of the app you want to clone.\nIn this video, I\u2019m going to clone 11 Labs, a popular text-to-speech AI tool.\nSo let\u2019s go to Elevenlabs and take a screenshot of it.\nIf you\u2019re using Windows, just press Windows + Print Screen. For Mac, you can press Command + Shift + 4\nOnce you\u2019ve taken the screenshot,\nGo back to lovable\nClick here and upload the screenshot.\nOnce you\u2019re done,\nNext we need to add the prompt to guide the AI to clone/generate the app for you.\nSo, let\u2019s go to step 3, which is to \u201cGet the prompt to create the app.\u201d\nTo generate the app, we need to give clear instructions to  Lovable AI about what it should do. The more details we provide, the better the AI will understand and build the app exactly how we want it.\nTo make this easier, I\u2019ve created a ChatGPT prompt that will act as a chatbot and help us write the perfect description for our app. \nI\u2019ve given the prompt in the description,\nJust copy the prompt\nThen go to chatgpt and paste it here\nAnd click send.\nNow ChatGPT will act as an AI assistant and ask you a few simple questions about the app you\u2019re cloning, like the type of app and its primary function.\nJust answer them one by one.\nFirst, it will ask the type of application that we\u2019re cloning,\nSince I\u2019m creating a text-to-speech web application. I\u2019ll enter that.\nThen, it will ask about the primary function of the app\nI\u2019m going to enter, \u201cIt\u2019ll convert text to speech with different voice models.\u201d\nNext, ChatGPT will provide a list of the 10 best API providers and ask us to select one. This will vary depending on the type of app you\u2019re trying to create. Since I\u2019m cloning a text to speech tool, the AI cannot build the backend for the app. That\u2019s why we need to select a text to speech API. \nIf you want to use another API that is not on the list, you can mention it/them here.\nI\u2019m going to go with \u2018open AI\u2019, since it provides high-quality voice generation compared to the others.\nNow based on your answers, ChatGPT will generate the detailed prompt to generate your webapp.\nOnce you\u2019ve got the prompt, we can generate the web app using Lovable\nSo to generate the web app, \njust copy the prompt, go back to Lovable AI, and paste it here.\nThen, click here to start generating the web app.\nAs you can see, the tool has started writing the code for our app.\nOnce it's done, \nYou can see our web application is ready, and it looks exactly like the screenshot we provided.\nSo now we\u2019ve successfully generated the structure of our app.\nNext, let\u2019s test the app and see if it works\nJust enter a text into the input field and click Generate.\nAs you can see, The app is not working and has not generated the voice. \nLet\u2019s ask Lovable AI why the app is not working and how to solve this. You can ask your question in a chat over here.\nAs you can see, it\u2019s saying that API integration is not done. \nIf you see here, it also suggests the solution.\nTo make the app work, we need to store the open AI API key securely in a database and integrate the open AI API Key. \nSo, why do we need to do this? If we add the API key directly to our app, it will be visible to the public in the source code. This means anyone accessing the site could misuse it. So to keep the API key secure, we need to set up a backend server for our web app.\nNext, let\u2019s go to part 2 of this tutorial, which is to \u201cCreate the backend for our app.\u201d\nA backend is essential to making any app fully functional. It handles storage, API integrations, and all the core functionalities. Without a backend, the app won\u2019t work properly.\nSo, to create a backend for our app\nFirst we need to \u201cConnect our web app to Supabase.\u201d\nSupabase is a backend integration feature available in Lovable,\nwhich lets us manage the database, user login, and file storage easily.\nSo, to connect it\nGo to supabase and click \u2018connect supabase\u2019\n(Again click \u2018connect supabase\u2019)\nAnd sign in with your GitHub account\nNow click \u2018authorize supabase\u2019\nAnd it will ask you to create an organization.\nThis will be needed to connect supabase to your web app.\nSo let\u2019s click \u2018create organization.\u2019\nClick \u2018\u2019create\u201d again.\nThen click \u2018authorize lovable\u2019\nNow we\u2019ve linked supabase to lovable.\nTo finish setting up the supabase connection,\nWe need to create a project in supabase.\nThis is where all your app\u2019s data will be securely stored and managed.\nTo create it,\nGo to \u201cconnect to a project\u201d \nAnd click \u201cCreate new project.\u201d\nHere, give a name for the project\nAdd a password \nand click \u2018Create a project.\u2019\nNow, we\u2019ve created the project \nNext, we need to connect the project/this to our app.\nTo connect it, go to supabase \nClick here and you\u2019ll see the project which you\u2019ve created.\nclick \u2018connect\u2019\nAnd click \u2018connect again.\u2019\nSo now we\u2019ve successfully connected our web app to supabase.\nLet\u2019s ask Lovable for the next steps to make our app work. \nAs you can see, it\u2019s suggesting that we need the OpenAI API key to enable the app\u2019s text-to-speech functionality.\nBut remember, these steps might be different depending on the type of app you\u2019re creating.\nNext, let\u2019s see how to get the open ai api key\nTo get the api key \nClick here\nIt\u2019ll take you to open ai\nNow click \u2018login\u2019 \nAnd sign in with your Google account.\nHere, click \u2018create new secret key\u2019\nThe,n enter a name and click create key \nAnd the api key will be created.\nOnce you\u2019ve got the API key\nTo add this key to your app,\nCopy it, and go back to \u201clovable.\nClick \u2018Add API Key.\u2019 \nPaste the key into the input field and click \u2018Submit.\u2019 \nOnce you\u2019ve added the api key, \nThe tool will secure your/the API key in the database.\nAnd it\u2019s done. \nSo now we\u2019ve successfully created the backend for our app and it\u2019s ready to use.\nTesting the app\nOkay, let\u2019s test our app and see how it works.\nFirst, we\u2019ll enter the text in this field and click \u2018generate\u2019\nThe voice has been generated. Let\u2019s play it\nWell, that sounds great, actually! We can download the audio by clicking here.\nWe can also try out different voice models. Let\u2019s select a new one and adjust the stability setting to make the voice sound more natural.\nAnd click generate.\nThere it is; the audio has been generated with the selected voice.\nNow that we\u2019ve tested our app, it\u2019s working perfectly.\nNext, let\u2019s go to part 3 of this tutorial, which is to \u201cCustomize your web app\u201d\nNow, if you see here, our app doesn\u2019t have the option to store the generated audio files.\nHistory page \nNext, let\u2019s see how to create a history page on our app where all the generated audio files are displayed, like this. \nSo to create the history page,\nLet\u2019s go to the chat \nI\u2019m going to instruct lovable to create a history page where I can see all the generated audio and ask it to store them in supabase (bucket).\nAs you can see, the tool has started writing SQL commands to create a Storage Bucket for the Audio files.\nOnce it\u2019s done\nWe\u2019ll get the \u201capply changes\u201d button here\nClick on it \nAs you can see, the history page has been added to our app.\nTo check if the history page works, let\u2019s generate a new voice. \nThen, if we refresh this page and go to history\nYou can see that, we have the generated audio file.\nNow that we\u2019ve successfully created a history page for our app.\nLet\u2019s confirm/test if the audio files are stored properly in the database.\nTo check that\nLet\u2019s go to supabase dashboard\nGo here and click \u2018storage\u2019\nHere, there will be a folder called Audio Files, where all the generated audio files will be displayed.\nOkay\nRight now, anyone can access and use our web app. But what if we want only registered users to access it?\nSignup page\nNext, let\u2019s see how to create the authentication page for our app, which is basically a sign-in page for the users.\nTo create it\nLike we did before, let\u2019s instruct the tool to create the authentication page for our web.\nThen click here\nYou can see that, the tool has started working on it, and it also created a table to store user data.\nOnce that\u2019s done\nClick \u2018apply changes\u2019\nAnd you can see that, the signup page has been added to our web app.\nLet\u2019s sign up \nFirst, go to the signup page\nEnter the email and password\nThen click \u2018sign up\u2019\nAnd that\u2019s it we\u2019ve signed up.\nLet\u2019s check if our user details are stored on the database\nTo do that\nLet\u2019s click \u2018users\u2019\nHere you can see that, the user details are stored here\nSo now, any registered user can log in to the app and access it securely.\nNow, we have created the authentication page for our web app.\nAlright!\nLanding page\nNext, let\u2019s create a landing page for our web app.\nThis is the first page users will see when they visit your app, so it\u2019s important to make it visually appealing.\nSo to create the landing page\nLet\u2019s instruct lovable to add a landing page with the features required and click here\nNow you can see that, our landing page has been created.\nIf we click this button, \nIt\u2019ll take us to the sign up page.\nSo now we\u2019ve successfully created the landing page for our web app.\nLet\u2019s say you want to change any element on your app\nHow will you do that?\nCustomize the app\nNext, let\u2019s see how you can customize the elements on your app.\nTo do that\nGo to \u2018edit\u2019 here\nNow click the element which you want to change \nI\u2019m going to change this content \nYou\u2019ll see an editing section like this \nJust make the changes here and it\u2019ll be added to your app.\nNow, let\u2019s say you want to change the color of this button. Just click on it, and you\u2019ll get options to adjust the color and even the size.\nIn the same way, you can customize any element on your website.\nOkay, once you\u2019re done with the customization\nPublish the app\nLet\u2019s go to the final part, which is to \u201cpublish your web app.\u201d\nOnce you publish your web app, it\u2019ll be live on the internet, and anyone can access it from anywhere.\nTo publish the app\nJust click \u2018publish\u2019\nAnd you\u2019ll be given a domain for your web app.\nClick \u2019publish\u2019 again\nAnd your app will be published and live on the internet. \nIf you click here, it\u2019ll take you to the app\nNow, let\u2019s check if everything works fine\nClick \u2018try for free\u2019\nAnd then sign in\nEnter the text, click \u2018generate\u2019\nAnd the voice will be generated.\nSo we\u2019ve successfully published our app and made it live on the internet.\nSo that\u2019s it, guys\nThis is how you can clone any web app using AI.\nHope you liked this video\nMake sure you subscribe to my channel for more videos like this one\nThanks for watching \nI\u2019ll see you in the next video\nTake care\nBye - Bye\u2026\n"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "fd7a505d-d33c-457e-a382-6c2bf6bf2adb",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        384,
        336
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "0886153a-eb9d-4088-a6d6-7e954a0c8be5",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        480,
        848
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "d0faae97-b7b6-4b65-8e40-7c6198487fef",
      "name": "WebSearch Summary",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        -128,
        624
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "model",
              "content": "=You are a research assistant and YouTube script researcher.\n\n## INPUTS\n\u2022 Topic\u00a0/\u00a0Video\u00a0Title\u00a0\u00a0\u2192\u00a0{{ $('Tavily1').item.json.query }}\n\u2022 Scraped source texts\u00a0\u00a0\u2192\u00a0{{ JSON.stringify($node[\"Tavily1\"].json.results) }}   \u2190 n8n expression; leave unchanged.\n\n## TASK\n1. Read every source in **scraped source texts**.  \n2. Extract the most relevant points that match the exact topic above\u2014ignore off\u2011topic info.  \n3. Create a **detailed research summary** (\u2248\u202f1000\u202fwords) in *plain English*.\n\n## LANGUAGE & TONE\n\u2022 Aim for a 6th\u2011to\u20118th\u2011grade reading level.  \n\u2022 Short sentences (\u2264\u202f18\u202fwords).  \n\u2022 Prefer common words (\u201cuse\u201d\u202f>\u202f\u201cutilize\u201d).  \n\u2022 No jargon unless you explain it in one simple sentence.  \n\u2022 Do **not** mention any host or channel name.\n\n## STRUCTURE\nReturn plain text with one blank line between sections:\n\n**Intro (\u2264\u202f30\u202fwords)** \u2013 a catchy hook that frames why the viewer should care.\n\n**Main Summary** \u2013 depends on the topic type  \n\u25e6 **If the topic is a *listicle*** \u2192  \n   \u2013 Remove duplicate items across sources.  \n   \u2013 For each unique item, write:  \n     \u2022 Item\u00a0#X\u00a0\u2013\u00a0Name  (bold the name)  \n       \u2013 Key spec\u00a0/\u00a0feature\u00a0#1  \n       \u2013 Key spec\u00a0/\u00a0feature\u00a0#2  \n       \u2013 One real\u2011world benefit or use case (1\u202fsentence)  \n\n\u25e6 **If the topic is a *how\u2011to* guide** \u2192  \n   \u2013 Compare all methods across sites, pick the best approach.  \n   \u2013 Present clear **Step\u00a0#1, Step\u00a0#2 \u2026** instructions, adding 1\u2011sentence tips where helpful.  \n\n\u25e6 **If the topic is *experimental* (comparison, challenge, versus, etc.)** \u2192  \n   \u2013 Summarise the experiment setup in 2\u20113 sentences.  \n   \u2013 List the contenders / variables.  \n   \u2013 Highlight the most surprising finding and why it matters.  \n\n**Mini\u2011Conclusion (2\u202fsentences)** \u2013 wrap up value and tease that the full script will dive deeper.\n\n## OUTPUT RULES\n\u2022 Plain text only\u2014no Markdown fences, no JSON.  \n\u2022 At least **1000 words**.  \n\u2022 Each bullet line starts with \u201c\u2013 \u201d (en dash + space).  \n\u2022 One blank line between Intro, Main Summary, and Mini\u2011Conclusion.\n"
            },
            {
              "content": "={{ JSON.stringify($node[\"Tavily1\"].json[\"results\"]) }}\n"
            }
          ]
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "234f5279-1eda-4b11-a9d3-070a420310f2",
      "name": "Websearch",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        -144,
        160
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "model",
              "content": "=You are a research assistant. Your task is to extract information from these websites scraped content for the given title {{ $('On form submission').item.json['Provide topic'] }}, analyze the information, and prepare a summarized content.\nRules:\n- Ensure the summary is based solely on the given title.\n- Generate a single, cohesive summary from the extracted information.\n- If the topic is a listicle, remove duplicate items/products and compile a summary with the remaining unique products.\n- If the information includes different methods across websites, select the best method and create a concise summary based on it."
            },
            {
              "content": "={{ JSON.stringify($node[\"Tavily\"].json[\"results\"]) }}\n"
            }
          ]
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "f40cef41-9e1d-4c43-8f9f-9904c067f674",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        80
      ],
      "parameters": {
        "width": 656,
        "height": 912,
        "content": "# \ud83e\udd16 YouTube Content Generator (Shorts & Long Videos)\nThis workflow is a content multiplier that automatically creates scripts for two different video formats from a single topic. When you submit an idea, it generates both a concise script for a YouTube Short and a detailed script for a long-form video, saving both directly to Google Docs.\n\n## \ud83d\udcdd Core Functions\n### The workflow splits into two specialized paths after you submit your topic:\n### Branch 1 (For YouTube Shorts):\n- This path is designed for speed and impact.\n- It performs a quick web search on the topic.\n- An AI Agent (Gemini) immediately processes the information to write a short, punchy, and engaging script perfect for the Shorts format.\n### Branch 2 (For Long-Form Videos):\n- This path is designed for depth and structure.\n- It conducts a more detailed web search and summarizes the key findings.\n- It then uses AI to generate a proper video outline (e.g., Intro, Main Points, Call to Action, Outro).\n- A final AI Agent uses this detailed outline to write a comprehensive, well-structured script suitable for a full-length YouTube video.\n## \ud83d\udee0\ufe0f Setup Instructions\n### To use this workflow, you'll need to configure the following credentials:\n- On form submission Trigger: Configure this with your form or provide data manually. It should contain the video topic.\n- Tavily Nodes: Add your Tavily API key for web search capabilities.\n- Google Gemini Chat Model: Connect your Google AI credentials for the AI processing steps.\n- Google Docs Nodes: Authenticate your Google account (using OAuth2) to allow n8n to create and update documents in your Google Drive.\n## \ud83d\ude80 How to Use\n- Activate the workflow.\n- Submit your video topic through the connected form.\n- Wait for the workflow to execute both branches.\n- Check your Google Drive and Docs. You will find two new documents: one script for your YouTube Short and another for your long-form video.\n\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "752c776e-9b2f-485e-92c7-e0a746699eac",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        48
      ],
      "parameters": {
        "color": 4,
        "width": 1760,
        "height": 432,
        "content": "# For Youtube Short Videos"
      },
      "typeVersion": 1
    },
    {
      "id": "83824059-0df4-49c6-bf2e-1258f4be79b5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        512
      ],
      "parameters": {
        "color": 4,
        "width": 1760,
        "height": 448,
        "content": "# For Youtube Long Videos"
      },
      "typeVersion": 1
    },
    {
      "id": "e6006ebf-5819-4df3-a908-1957d9a67353",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        112
      ],
      "parameters": {
        "width": 256,
        "height": 224,
        "content": "## Add Tavily API KEYS"
      },
      "typeVersion": 1
    },
    {
      "id": "8b852ef8-8b16-426e-9fee-837403cbe09b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        576
      ],
      "parameters": {
        "width": 256,
        "height": 224,
        "content": "## Add Tavily API KEYS"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "Websearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily1": {
      "main": [
        [
          {
            "node": "WebSearch Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Websearch": {
      "main": [
        [
          {
            "node": "Reference Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Doc": {
      "main": [
        [
          {
            "node": "Update Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Doc1": {
      "main": [
        [
          {
            "node": "Update Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Outline": {
      "main": [
        [
          {
            "node": "Reference Script1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reference Script": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reference Script1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebSearch Summary": {
      "main": [
        [
          {
            "node": "Create Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create Outline",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}